<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">


<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>



<th:block layout:fragment="customContents">




<div class="row">
		
		<div class="col-lg-12">
			<div class="card">
				<div class="card-title">
					<h2> 주문리스트 </h2>
				<div class="card-title">
					<h4> 매장명 : </h4>

				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>주문코드</th>
									<th>주문자 이름</th>
									<th>포장여부(1:방문식사 2:포장)</th>
									<th>연락처</th>
									<th>인원수</th>
									<th>주문완료일시</th>
									<th>주문상태</th>
									<th>테이블</th>
									<th>테이블상태</th>
									<th>수정</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>1</th>
									<td>홍길동</td>
									<td>1</td>
									<td>010-010-0000</td>
									<td>2</td>
									<td>2021.09.28 13:00:00</td>
									<td>주문대기</td>
									<td>null</td>
									<td>null</td>
									<td>수정버튼</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>


</th:block>




<th:block layout:fragment="customJsLib">

	<!-- <script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script> -->
    
</th:block>
</html>

