<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
<!-- css -->
<style type= "text/css">
	hr{
		height: 25px;
		width: 0px;
		border : 1px solid #d2d2d2	;
		background-color: #d2d2d2	;
	}
	
	.name{
		text-align: center;
		font-size: 15px;
		color: #585858;
		font-weight: bold;
		padding-top: 10px;
		
	}
	
	.wrap {
		text-align: center;
		font-size: 25px;
		color: #585858;
		font-weight: bold;
		padding-top: 10px;
		color: #64D2D2;
	}

</style>
</th:block>



<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row justify-content-center">
		<a th:href="@{/member/modifyUserLike(userId=${session.SID})}">
			<button type="button" class="btn btn-success btn-addon m-b-10 m-l-5 " style="float: right;">
				<i class="bi bi-hand-thumbs-up"> 선호도를 수정하려면 여기를 클릭하세요! </i>
			</button>
		</a>
	</div>
	<div class="card">
		<div class="row">
			
			<div class="name col-lg-2">		
		        [[${session.SNAME}]] 님이 선택한
            </div>
            <div class="col-lg-10">		
            	<div class="row">
		        <div class="col-lg-2">
			        <div class="wrap">
					<span th:text="${memberUser.MemberUserLike.userLikeKey1}"></span>
					</div>
		        </div>
		        <div class="col-lg-1"><hr></div>
		        <div class="col-lg-2">
		        	<div class="wrap">
					<span th:text="${memberUser.MemberUserLike.userLikeKey2}"></span>
					</div>
		        </div>
		        <div class="col-lg-1"><hr></div>
		        <div class="col-lg-2">
		        	<div class="wrap">
					<span th:text="${memberUser.MemberUserLike.userLikeKey3}"></span>
					</div>
		        </div>
		        <div class="name col-lg-4">
				키워드로 매칭된 결과입니다.
		        </div>
		        </div>
            </div>
		</div>
	</div>
	
	<div class="row">
	<div class="col-12">
	<small style="color: red;"> * 매칭결과가 3개 이상일경우 랜덤 2개의 매장으로 검색되어 노출됩니다.</small><br>
	<small style="color: red;"> * 매칭결과는 메인페이지에서 입력 하신 주소(시/군/구)기준으로 검색됩니다.</small>
	</div>
	</div>
	
	<div class="row">
		
		<!-- 선호도1 -->
		<div class="col-4">
			<div class="card">
				
				<!-- 선호도이름적혀져있는곳 -->
				<div class="card p-30">
					<div class="media">
						<div class="media-left meida media-middle">
							<span><i class="fa ti-heart f-s-40 color-danger"></i></span>
						</div>
						<div class="media-body media-text-right">
							<h2 th:text="${memberUser.MemberUserLike.userLikeKey1}"></h2>
						</div>
					</div>
				</div>
				
				<!-- 매장리스트 뿌려주기 -->
				<th:block th:if="${#lists.size(storeLikeList) > 0}" th:each="l : ${storeLikeList}">
					<div class="card-content">
						<div class="card">
							<div class="card-header text-sm-center">	
								<!-- start ajax -->
								<button type="button" class="btn btn-danger btn sweet-wrong storeInfo" 
								th:text="${l.storeName}" 
								th:value="${l.storeName}">
								</button>															
							</div>
							<div class="card-body">
								<div class="mx-auto d-block">
									<h5 class="text-sm-center mt-2 mb-1" th:text="${l.storePhone}">전화번호</h5>
									<div class="card-text text-sm-center">
										<i class="ti-user" style="color: pink;"></i><p>
										<h6> 현재 대기인원은 </h6>
										<h6 class="text-sm-center mt-2 mb-1" th:text="${l.waiting.waitNum + ' 명입니다'}">대기인원</h6>
									</div>
								</div>				
									<div class="card-text text-sm-center">
										<a th:href="@{/book/addBookMember(storeName=${l.storeName})}">
										<button type="button" class="btn btn-outline-danger btn-sm bookBtn">예약/주문하기</button>
										</a>
									</div>				
							</div>
						</div>
					</div>
				</th:block>
				
				<th:block th:if="${#lists.size(storeLikeList) == 0}">
					<div class="card-content">
						<div class="card">
						검색된 결과가 없습니다.
						</div>
					</div>
				</th:block>
					
			</div>
		</div>

	
		<!-- 선호도2 -->
		<div class="col-4">
			<div class="card">
			
				<!-- 선호도이름적혀져있는곳 -->
				<div class="card p-30">
					<div class="media">
						<div class="media-left meida media-middle">
							<span><i class="fa ti-heart f-s-40 color-primary"></i></span>
						</div>
						<div class="media-body media-text-right">
							<h2 th:text="${memberUser.MemberUserLike.userLikeKey2}"></h2>
						</div>
					</div>
				</div>
				
				<!-- 매장리스트 뿌려주기 -->
				<th:block th:if="${#lists.size(storeLikeList2) > 0}" th:each="l : ${storeLikeList2}">
					<div class="card-content">
						<div class="card">
							<div class="card-header text-sm-center">	
								<!-- start ajax -->
								<button type="button" class="btn btn-danger btn sweet-wrong storeInfo" 
								th:text="${l.storeName}" 
								th:value="${l.storeName}">
								</button>															
							</div>
							<div class="card-body">
								<div class="mx-auto d-block">
									<h5 class="text-sm-center mt-2 mb-1" th:text="${l.storePhone}">전화번호</h5>
									<div class="card-text text-sm-center">
										<i class="ti-user" style="color: pink;"></i><p>
										<h6> 현재 대기인원은 </h6>
										<h6 class="text-sm-center mt-2 mb-1" th:text="${l.waiting.waitNum + ' 명입니다'}">대기인원</h6>
									</div>
								</div>				
									<div class="card-text text-sm-center">
										<a th:href="@{/book/addBookMember(storeName=${l.storeName})}">
										<button type="button" class="btn btn-outline-danger btn-sm bookBtn">예약/주문하기</button>
										</a>
									</div>				
							</div>
						</div>
					</div>
				</th:block>
				
				<th:block th:if="${#lists.size(storeLikeList2) == 0}">
					<div class="card-content">
						<div class="card">
						검색된 결과가 없습니다.
						</div>
					</div>
				</th:block>		
			
			</div>
		</div>

	
		<!-- 선호도3 -->
		<div class="col-4">
			<div class="card">
			
				<!-- 선호도이름적혀져있는곳 -->
				<div class="card p-30">
					<div class="media">
						<div class="media-left meida media-middle">
							<span><i class="fa ti-heart f-s-40 color-purple"></i></span>
						</div>
						<div class="media-body media-text-right">
							<h2 th:text="${memberUser.MemberUserLike.userLikeKey3}"></h2>
						</div>
					</div>
				</div>
				
				<!-- 매장리스트 뿌려주기 -->
				<th:block th:if="${#lists.size(storeLikeList3) > 0}" th:each="l : ${storeLikeList3}">
					<div class="card-content">
						<div class="card">
							<div class="card-header text-sm-center">	
								<!-- start ajax -->
								<button type="button" class="btn btn-danger btn sweet-wrong storeInfo" 
								th:text="${l.storeName}" 
								th:value="${l.storeName}">
								</button>															
							</div>
							<div class="card-body">
								<div class="mx-auto d-block">
									<h5 class="text-sm-center mt-2 mb-1" th:text="${l.storePhone}">전화번호</h5>
									<div class="card-text text-sm-center">
										<i class="ti-user" style="color: pink;"></i><p>
										<h6> 현재 대기인원은 </h6>
										<h6 class="text-sm-center mt-2 mb-1" th:text="${l.waiting.waitNum + ' 명입니다'}">대기인원</h6>
									</div>
								</div>				
									<div class="card-text text-sm-center">
										<a th:href="@{/book/addBookMember(storeName=${l.storeName})}">
										<button type="button" class="btn btn-outline-danger btn-sm bookBtn">예약/주문하기</button>
										</a>
									</div>				
							</div>
						</div>
					</div>
				</th:block>
				
				<th:block th:if="${#lists.size(storeLikeList3) == 0}">
					<div class="card-content">
						<div class="card">
						검색된 결과가 없습니다.
						</div>
					</div>
				</th:block>
				
			</div>
		</div>
	</div>
	
</th:block>


<th:block layout:fragment="customJsLib">
	<script th:src="@{/js/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/lib/owl-carousel/owl.carousel-init.js}"></script>
	<script type="text/javascript">
	
	/* 스윗얼랏 ajax */				
	
    $(function(){
    	
		$('.storeInfo').click(function(){
			
			var stName = $(this).val();		
			var request =  $.ajax({
				  url: "/storeList", //요청 주소
				  method: "GET", //요청 방식
				  data: { storeName : stName }, // input name->cateCode,  value->stName
				  dataType: "json" //받아올 포맷방식
			});	
			request.done(function(data){
				
				console.log(data);
				console.log(data.storeName, data.storePhone, data.storeHoliday, data.storeLocation, data.storeTime);
				
				var htmml= '';
				
				htmml += '<br><span class="ti-comments-smiley"></span> ' + '<text style="font-family: Jua, sans-serif; font-size:40px">' + data.storeName + '</text>';
				htmml += '<br><br> <text class="text-info" style="font-family: Jua, sans-serif;"> 주소 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeLocation + '</text>';
				htmml += '<br> <text class="text-info" style="font-family: Jua, sans-serif;"> 전화번호 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storePhone + '</text>';
				htmml += '<br> <text class="text-info" style="font-family: Jua, sans-serif;"> 영업시간 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeTime + '</text>';
				htmml += '<br> <text class="text-danger" style="font-family: Jua, sans-serif;"> 휴일 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeHoliday + '</text>';
								
				Swal.fire(htmml);
			
			});
			request.fail(function( jqXHR, textStatus){
				 alert( "Request failed: " + textStatus );
			});
		});
	});

		
	</script>
</th:block>
</html>