<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default2}">
<th:block layout:fragment="customCss">
	<style type="text/css">
    	#eventDetail{
    		height: 100px;
    	}
    	input[type="file"]{
    		width: 100%;
    	}
    	.btn-outline-danger{
			color: #dc3545!important;
		}
		.btn-outline-danger:hover {
			color: #FCFBFB!important;
		}
		button{
			width: 200px;
		}
		.aa{
			padding-left: 700px
		}
	</style>
</th:block>
	<th:block layout:fragment="customJs">
	    <script th:src="@{/js/lib/form-validation/jquery.validate.min.js}"></script>
   
	</th:block>	  
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customLocation">
	<div class="row page-titles">
	    <div class="col-md-5 align-self-center">
	        <h3 class="text-primary" th:text="${location2}"></h3></div>
	    <div class="col-md-7 align-self-center">
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	            <li class="breadcrumb-item active">
	            	<a th:text="${location1}" th:href="@{${location1URL}}"></a>
	            </li>
	            <li class="breadcrumb-item active" th:text="${location2}"></li>
	        </ol>
	    </div>
	</div>
</th:block>
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body form-validation">
						<form class=".form-valide" id="eventForm" method="post" th:action="@{/event/addEventProcess}" enctype="multipart/form-data">
						 	<label><span class="text-danger">*</span><code class="m-b-14 f-s-11"> 필수항목입니다.</code></label>

						 	<div class="form-group row">
	                             <label class="col-lg-4 col-form-label" for="eventName">이벤트명<span class="text-danger">*</span></label>
	                             <div class="col-lg-7">
									<input type="text" class="form-control" id="eventName" name="eventName" placeholder="이벤트명을 입력하세요..">
	                             </div> 
	                         </div>
	                         <div class="form-group row">
	                             <label class="col-lg-4 col-form-label" >관련 매장</label>
	                             <div class="col-lg-7">
									<input type="text" class="form-control" id="searchStore" name="storeCode" placeholder="매장 검색">
									<input type="text" class="form-control" id="storeName" name="storeName" hidden="hidden">
	                             </div> 
	                         </div>
	                         <div class="form-group row">
	                             <label class="col-lg-4 col-form-label" for="eventDetail">상세설명 <span class="text-danger">*</span></label>
	                             <div class="col-lg-7">
	                                 <input type="text" class="form-control" id="eventDetail" name="eventDetail" placeholder="...">
	                             </div>
	                         </div>
	                         <div class="form-group row">
	                             <label class="col-lg-4 col-form-label" for="eventStr">시작일 <span class="text-danger">*</span></label>
	                             <div class="col-lg-7">
	                                 <input type="date" class="form-control" id="eventStr" name="eventStr">
	                             </div>
	                         </div>
	                         <div class="form-group row">
	                             <label class="col-lg-4 col-form-label" for="eventFin">종료일 <span class="text-danger">*</span></label>
	                             <div class="col-lg-7">
	                                 <input type="date" class="form-control" id="eventFin" name="eventFin">
	                             </div>
	                         </div>
			                <h6 class="card-subtitle">이벤트 배너와 공고 <code>이미지 파일</code> 첨부해주세요</h6>
		                    <div class="form-group row">
	                             <label class="col-lg-4 col-form-label" for="eventBanner">배너용<span class="text-danger">*</span></label>
	                             <div class="fallback">
									 <input id="bannerImg" name="bannerImg" type="file" accept="image/png, image/jpeg"/>
	       		                 </div> 
	                        </div>
	                        <div class="form-group row">
	                            <label class="col-lg-4 col-form-label" for="eventImg">공고용<span class="text-danger">*</span></label>
	                            <div class="fallback">
									 <input id="img" name="img" type="file" accept="image/png, image/jpeg"/>
	                             </div> 
	      	           		</div>
	      	           		<div class="form-group row">
	      	           			<div class="aa">
		           	            	<button type="submit" class="btn btn-outline-danger"><i class="bi bi-check-circle-fill"></i> 등록</button>
	      	           			</div>

    						</div>
           	            </form> 
	                </div>
				</div>
			</div>
		</div>
</th:block>

<th:block layout:fragment="customJsLib">
	<script type="text/javascript">

		function searchStore(storeCode, storeName){
			console.log(storeCode, storeName);
			$('#searchStore').val(storeCode);
			$('#storeName').val(storeName);
		}
		//매장 검색 이벤트
		$(function(){
			$('#searchStore').on("click", function(){
				var openOption ='width = 600, height=500, left=50, top=50, scrollbars=no';
				open("searchStore",'매장검색', openOption);
			});
		});
		//날짜 통제 : 오늘날짜부터 선택가능하기
		$(function(){
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; 
			var yyyy = today.getFullYear();
			if(dd<10){
				  dd='0'+dd;
				} 
			if(mm<10){
				  mm='0'+mm;
				} 
	
			today = yyyy+'-'+mm+'-'+dd;
			$('input[type=date]').attr("min", today);
		});
		
		
		//유효성검사

	    $("#eventForm").validate({
	    	 ignore: [],
	         errorClass: "invalid-feedback animated fadeInDown",
	         errorElement: "div",
	         errorPlacement: function(e, a) {
	             jQuery(a).parents(".form-group > div").append(e)
	         },
	         highlight: function(e) {
	             jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-invalid")
	         },
	         success: function(e) {
	             jQuery(e).closest(".form-group").removeClass("is-invalid"), jQuery(e).remove()
	         },
	         rules: {
	         	"eventName": {
	         		required: !0
	         	},
	         	"eventDetail": {
	         		required: !0
	         	},
	         	"eventStr": {
	         		required: !0
	         	},
	         	"eventFin": { 
	         		required: !0
	         	},
	         	"bannerImg": {
	         		required: !0
	         	},
	         	"img" : {
	         		required: !0
	         	}
	         },
	         messages: {
	         	"eventName":"이벤트명을 입력해주세요",
	         	"eventDetail":"상세설명을 입력해주세요",
	         	"eventStr": "시작일을 선택해주세요",
	         	"eventFin": "종료일을 선택해주세요",
	         	"bannerImg": "파일을 선택해주세요",
	         	"img": "파일을 선택해주세요" 
	         }
	     });
    </script>
<script th:src="@{/js/lib/form-validation/jquery.validate-init2.js}"></script>    
</th:block>
</html>