<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default2}">

<th:block layout:fragment="customCss">
	<style type="text/css">
    	.btn {
    		width: 50%;
    		height: 80px;
    		font-size: 30px;
    		margin: 5px;
    		padding: 12px;
    	}
    	.bi {
    		font-size: 30px;
    	}
    	
	</style>
</th:block>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customLocation">
	<div class="row page-titles">
	    <div class="col-md-5 align-self-center">
	        <h3 class="text-primary" th:text="${location2}"></h3></div>
	    <div class="col-md-7 align-self-center">
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	            <li class="breadcrumb-item active">
	            	<a th:text="${location1}" th:href="@{${location1URL}}"></a>
	            </li>
	            <li class="breadcrumb-item active" th:text="${location2}"></li>
	        </ol>
	    </div>
	</div>
</th:block>
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="card">
					<img th:alt="${event.eventName}" th:src="@{/images/event/} + ${event.imgStoredPath}">
					<div th:if="${event.stateCode == 'state_event_ing'} and ${event.storeCode != null}" style="text-align: right">
						<a th:href="@{/book/addBookMember(storeName=${event.storeName})}" class="btn btn-success text-white"><i class="bi bi-box-arrow-right"></i> 주문하러 가기</a>
					</div>

				</div>
			</div>
		</div>


</th:block>

<th:block layout:fragment="customJsLib">
    
    <script type="text/javascript">

    </script>
	
    
</th:block>
</html>