
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- th:replace="fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수이름) -->
<head th:replace="fragments/head :: headFragment"></head>
<body class="fix-header fix-sidebar mini-sidebar">
	
	<div id="main-wrapper">
		<!-- begin header -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- end header -->
		
		<!-- begin leftsidebar -->
		<div th:replace="fragments/leftsidebar :: leftsidebarFragment"></div>
		<!-- end leftsidebar -->

		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
			<th:block layout:fragment="customLocation">
	            <div class="row page-titles">
	                <div class="col-md-5 align-self-center">
	                    <h3 class="text-primary" th:text="${location}">Dashboard</h3> </div>
	                <div class="col-md-7 align-self-center">
	                    <ol class="breadcrumb">
	                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
	                        <li class="breadcrumb-item active" th:text="${location}">Dashboard</li>
	                    </ol>
	                </div>
	            </div>
     		 </th:block>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
            	<!-- Start Page Content -->
				<th:block layout:fragment="customContents"></th:block>
				<!-- End PAge Content -->
			</div>
		</div>
			<!-- End Container fluid  -->
		
			<!-- footer -->
			<footer th:replace="fragments/footer :: footerFragment"></footer>
			<!-- End footer -->
	</div>

	
	

    <!-- Bootstrap tether Core JavaScript -->
    
    
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/sweetalert2.all.min.js}"></script>
           
    <!-- <script th:src="@{/js/custom.min.js}"></script> -->
    <!--Custom JavaScript -->
    <th:block layout:fragment="customJsLib"></th:block>
    
    
</body>
</html>