<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	   <div class="row">
		  	<div class="col-lg-6">
	            <div class="card">
	                <div class="card-title" >
	                    <h4 >항목 선택</h4> 
	                </div>
	                <div class="card-body">
		                   <div class="form-group">
                               <label>항목을 선택하세요</label>
                               <select class="form-control" id="selectCate">
									<option> : : :  선 택   : : : </option>

								</select>
                           </div>
	                </div>
	            </div>
	            <!-- /# card -->
	        </div>
	        <div class="col-lg-6">
		        <div class="card">
		        	<div class="card-title" >
	                    <h4>문항 목록</h4> 
	                </div>
	                 <div class="card-content">
		                   <div class="basic-form">
	                            <form>
		                              <div class="todo-list">
		                                  <div class="tdl-holder">
		                                      <div class="tdl-content">
		                                          <ul id="questionUl">
		                                              
		                                          </ul>
		                                      </div>
		                                  </div>
		                              </div>
		                              <div class="form-group">
	                                      <div class="input-group input-group-flat">
	                                           <input type="text" class="form-control" placeholder="문항을 입력하세요">
	                                           <span class="input-group-btn"><button class="btn btn-primary input-group-plus-icon" type="submit"><i class="ti-plus"></i></button></span>
	                                      </div>
                                      </div>
	                              </form>
		                      </div>
                          </div>
                      </div>
		        </div>
	        </div>
        </div>
</th:block>
<th:block layout:fragment="customJsLib">
	<script type="text/javascript">
	
		
		var count = 0;
		$(function(){
			$('#selectCate').click(function(){
				if(count == 0){
					count = 1 ;
					var request = $.ajax({
						  url: "/selectList", //요청 주소
						  method: "GET", //요청 방식
						  dataType: "json" //받아올 포맷방식
						});	
					var option ='<option> : : :  선 택   : : : </option>';
					//응답이 완료되었을 경우 실행
					request.done(function( data ) {
			
					  var listSize =data.length;
					  for(var i  = 0; i< listSize; i++){
						  option += '<option value= ' + data[i].cateCode + '>' + data[i].cateName+ '</option>';
					  }
					  $('#selectCate').html(option);
					});
					
					//응답에 실패 혹은 에러 발생시 실행 
					request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
					});
				};
			});
		});
		var questionLi = '';
		
		 $(function(){
			$('#selectCate').change(function(){
				console.log(this.value);
				var selected = this.value;
				var request = $.ajax({
					  url: "/questionList", //요청 주소
					  method: "GET", //요청 방식
					  data: { cateCode : selected },
					  dataType: "json" //받아올 포맷방식
					});	
				request.done(function(data){
				  	var listSize =data.length;
				 	 for(var i  = 0; i< listSize; i++){
				 		questionList += '<li><label><input type="checkbox" value= '
					        		  + data[i].qCode + '><i class="bg-success"></i><span>'
					       			  + data[i].qContent
					      			  + '</span><a href=\'#\' class="ti-close"></a>'
					        		  + '</label></li>';
				 			
				 	 }
				 	 $('#questionUl').html(questionLi);
				});
				
				request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
				});
			});
		});
		
		 

	</script>
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
</th:block>
</html>