<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customCss">
	<style type="text/css">
		input[type="checkbox"] {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip:rect(0,0,0,0);
			border: 0
}

	</style>
</th:block>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">

			<!-- [[${book}]] -->
	
            <!-- Container fluid  -->
            <div class="container-fluid">
	                <!-- Start Page Content -->
                 <form id="addBookOrdForm" th:action="@{/book/addBookOrder}" class="form-horizontal" method="post">
	                <div class="row">
	                    <div class="col-lg-6">
	                        <div class="card card-outline-primary">
	                            <div class="card-header">
	                                <h4 class="m-b-0 text-white">주문 정보 입력</h4>
	                            </div>
	                            <div class="card-body">
	                                    <div class="form-body">
	                                        <hr class="m-t-0 m-b-40">
	                                        <div class="row">
	                                        	<!--start 메뉴선택-->
	                                            <div class="col-md-12">
	                                                <div class="form-group row">
	                                                    <label class="control-label text-right col-md-3">메뉴선택 <span class="text-danger">*</span> </label>
														  <div class="col-md-6" >	
															<div class="card-body">
															
																
																
																<!-- start메인메뉴 -->
																
																<ul class="nav nav-tabs customtab" role="tablist">
																	<li class="nav-item active"> 
																		<a class="nav-link " data-toggle="tab" href="#tab1" role="tab">
																			<span class="hidden-sm-up">
																			<i class="ti-home"></i>
																			</span> 
																			<span class="hidden-xs-down">메인 메뉴</span>
																		</a> 
																	</li>
																	<li class="nav-item"> 
																		<a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
																			<span class="hidden-sm-up">
																			<i class="ti-user"></i>
																			</span> 
																			<span class="hidden-xs-down">사이드/옵션 메뉴</span>
																		</a> 
																	</li>
																</ul>
																
																<!-- end메인메뉴 -->
																
																<div class="tab-content">
																
																	<!-- 메뉴선택 메인메뉴탭 start -->
																	<div class="tab-pane active" id="tab1" role="tabpanel">
																		<div class="p-20">
																			<th:block th:if="${#lists.size(menuList) > 0}" th:each="m : ${menuList}">
																				<th:block th:if="${m.menuCateCode == 'm_c_main'}">
																					<div class="form-check">
																						<div class="checkbox">
																							<label style="cursor:pointer;">
																								<input type="checkbox" name="menuName" th:value="${m.menuName}" class="form-check-input" th:text="${m.menuName+' '+m.menuPrice}" th:data-price="${m.menuPrice}" th:data-menuCode="${m.menuCode}">
																							</label>
																						</div>
																					</div>
																				</th:block>
																			</th:block>
																		</div>
																	</div>
																	<!-- 메뉴선택 메인메뉴탭 end -->
																	<!-- 메뉴선택 사이드메뉴탭 start-->
																	<div class="tab-pane  p-20" id="tab2" role="tabpanel">
																		<div class="p-20">
																			<th:block th:if="${#lists.size(menuList) > 0}" th:each="m : ${menuList}">
																				<th:block th:if="${m.menuCateCode == 'm_c_side'}">
																					<div class="form-check">
																						<div class="checkbox">
																							<label  style="cursor:pointer;">
																								<input type="checkbox" name="menuName" th:text="${m.menuName+' '+m.menuPrice}" th:value="${m.menuName}" th:data-price="${m.menuPrice}" class="form-check-input" th:data-menuCode="${m.menuCode}"/>
																							</label>	
																						</div>
																					</div>
																				</th:block>
																			</th:block>
																		</div>
																	</div>
																	
																	<!-- 메뉴선택 사이드메뉴탭 end -->
																</div>
															</div>
														</div>
	                                                </div>
	                                            </div>
	                                            <!--end 메뉴선택-->
                              
			                                   	<!-- hidden영역  -->
			                                   	<!-- 예약테이블에 삽입할 영역 -->
			                                   	<input type="hidden" name="storeCode" th:value="${book.storeCode}">
			                                   	<input type="hidden" name="userId" th:value="${book.userId}">
			                                    <input type="hidden" name="bookUserName" th:value="${book.bookUserName}">
			                                   	<input type="hidden" name="bookUserPhone" th:value="${book.bookUserPhone}">
			                                   	<input type="hidden" name="bookPeoNum" th:value="${book.bookPeoNum}">
			                                   	<input type="hidden" name="stateCode" th:value="${book.stateCode}">
			                                   	<input type="hidden" name="bookPickup" th:value="${book.bookPickup}">
			                                        
	                                            <!--start 요청사항-->
	                                            <div class="col-md-12">
	                                                <div class="form-group row">
	                                                    <label class="control-label text-right col-md-3">요청사항</label>
	                                                    <div class="col-md-6">
	                                                        <textarea name="oRequest" id="textarea-input" rows="20" class="form-control"></textarea>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <!--end 요청사항-->
	                                            
	                                            
	                                            
	                                      </div>
	                                    </div>

	                            </div>
	                        </div>
	                    </div>
	                    
	                    <!--주문내역-->
		               <div class="col-lg-6">
							<div class="card">
								<div class="card-header user-header alt bg-dark">
								<strong class="card-title">주문 내역</strong>
								</div>
								
								<div class="card-body" style="padding: 5px; text-align: center;">
		                               <table class="table">
			                                 <thead>
				                                   <tr>
				                                       <th scope="row">메뉴 </th>
				                                       <th scope="row">수량</th>
				                                       <th scope="row">가격</th>
				                                       <th scope="row">삭제</th>
				                                   </tr>
				                             </thead>
				                             <tbody id="menuSangse">
				                             		  
				                             </tbody>
			                                 <tbody>
				                                 <tr style="border-top: 3px solid #5A78AF">
				                                 	 <td> </td>
					                                 <td colspan="2">총 결제금액</td>
					                                 <td colspan="1">
					                                 	<input type="text" id="oTotalPrice" name="oTotalPrice" value="0" readonly="readonly" style="border: 0;">
					                                 </td>
				                                 </tr>
			                               </tbody>
		                               </table>
								</div>
							</div>
							<div class="offset-sm-3 col-sm-9">
								<button type="button" id="addBookOrdBtn" class="btn btn-dark">주문하기</button>
								
								<button type="button" id="addBookBfBtn" class="btn btn-pink">이전</button>
								
							</div>
		               </div>
		               <!--/주문내역-->
		               
	               </div>
	               
				</form> 	
            </div>
            <!-- End Container fluid  -->

</th:block>





<th:block layout:fragment="customJsLib">

	<script type="text/javascript">
	
	function oTotalPrice(){
		var sumPrice = 0;
		$('.prin').each(function(){
			var num = Number($(this).val());
			var price = Number($(this).attr('data-price'));
			
			sumPrice += num * price;
		});
		
		$('#oTotalPrice').val(sumPrice);
	}
	
	
	/* 주문정보입력화면 수량체크 */
	$(function(){
		$('.form-check-input').on('click', function(){
			console.log('수량선택 시작');
			var menuSangse = $('#menuSangse');
			var html = '';
			var menuCode = $(this).attr('data-menuCode');
			var menuPrice = $(this).attr('data-price');
			
			if(menuSangse.find('.'+menuCode).length == 0){				
				html += '<tr class="'+menuCode+'">';
				html += '<td>' + $(this).val() + '</td>';
				html += '<td> <input type="number" class="prin" name="oCount" value="1" style="width:60px;" data-price="'+menuPrice+'">개 </td>';
				html += '<td> '+menuPrice+' </td>';
				html += '<td style="display:none;"> '+menuCode+' </td>';
				html += '<td><button type="button" class="menu-target-remove btn btn-rink btn-sm">X</button></td>';
				html += '</tr>';
				
				menuSangse.append(html);
			}
			
			oTotalPrice();
		});
	});
	
	$(document).on('click','.menu-target-remove', function(){
		
		$(this).parent().parent().remove();
		oTotalPrice();
	});
	
	$(document).on('change','.prin', function(){
		var num = Number($(this).val());
		if(num > 0){			
			oTotalPrice();
		}else{
			alert('1개 이상 선택하셔야 합니다.');
			$(this).val(1);
		}
	});
	
	
	/* 이전버튼시 뒤로가기 이벤트 */
	$(function(){
			$('#addBookBfBtn').click(function(){
				
				window.history.back();
				
			});
		});
	
	
	
	/* 예약자 정보 화면 유효성검사 */
	$(function(){
			$(document).on('click','#addBookOrdBtn', function(){
				
				if($('.table tbody tr').length < 2){
					alert('메뉴를 선택해주세요.');
					return false;
				}else{
					// 주문내역
					var menuArray = [];
					var orderTbodyTrObj = $('#menuSangse').children('tr');
					var storeCode = $('input[name="storeCode"]').val();
					var userId = $('input[name="userId"]').val();
					var bookUserName = $('input[name="bookUserName"]').val();
					var bookUserPhone = $('input[name="bookUserPhone"]').val();
					var bookPeoNum = $('input[name="bookPeoNum"]').val();
					var stateCode = $('input[name="stateCode"]').val();
					var bookPickup = $('input[name="bookPickup"]').val();
					var oRequest = $('#textarea-input').text();
					var oTotalPrice = $('#oTotalPrice').val();
					console.log(orderTbodyTrObj);
					
					
					$.each(orderTbodyTrObj, function(){
						var orderDetail = {}; //객체선언
						var menuCode = $(this).attr('class');
						var menuAmount = $(this).children('td').eq(1).find('input').val();
						var menuPrice = $(this).children('td').eq(2).text();
						orderDetail.menuCode = menuCode;
						orderDetail.menuAmount = menuAmount;
						orderDetail.menuPrice = menuPrice.trim();
						orderDetail.storeCode = storeCode;
						orderDetail.bookUserName = bookUserName;
						orderDetail.bookUserPhone = bookUserPhone;
						orderDetail.bookPeoNum = bookPeoNum;
						orderDetail.stateCode = stateCode;
						orderDetail.bookPickup = bookPickup;
						orderDetail.oRequest = oRequest;
						orderDetail.oTotalPrice = oTotalPrice;
						menuArray.push(orderDetail);
					});
					
					console.table(menuArray);
				}
				$.post("/book/addBookOrder", JSON.stringify(menuArray),'json');
				
				var request= $.ajax({
								  url: "/book/addBookOrder", //요청 주소
								  method: "POST", //요청 방식
								  data: JSON.stringify(menuArray), // input name->cateCode,  value->stName
								  dataType: "text", //받아올 포맷방식
								  contentType: 'application/json; charset=utf-8'
							});
				request.done(function(data){
					console.log(data);
					if(data == 'success'){
						location.href='/';
					}
				});
				/*
				alert('주문이 완료되었습니다. \n결제는 현장에서 진행되며, \n상세 주문내역은 상단의 "나의 주문내역" 에서 확인 가능합니다.')
				 $('#addBookOrdForm').submit();	 
				$('#addBookOrdForm').submit();	
				*/
			});
		});
	
	
	
	
	/* 메뉴코드, 가격  배열에 담기 */
	$(function(){
		$('.form-check-input').on('click', function(){

			// 주문내역
			var orderDetail = {}; //객체선언

			$('#menuSangse').children('tr').each(function(){
				var menuPrice = $(this).children('td').eq(2).text().trim();
				var menuCode = $(this).children('td').eq(3).text().trim();
				orderDetail[menuCode] = menuPrice;
				
				$('.menu-target-remove').on('click', function(){
					var DelArr = new Array();
					var DelBtn = $(this);
					var tr = DelBtn.parent().parent();
					var td = tr.children();
					var menuCo = td.eq(3).text();
					console.log(menuCo);
					delete orderDetail.obj[menuCo];
					console.table(orderDetail);
				});
				
			});			
			console.table(orderDetail);
		});
	});
	
	
	
	
	</script>

	<!-- <script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script> -->
    
</th:block>
</html>

