<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="card card-outline-primary">
		<div class="col-lg-12">
			<form th:action="@{/board/boardDelete}" role="form" id="deleteForm" method="post">
				<div class="box box-primary">
				
					<!-- 히든 된 데이터 -->
				<input type="hidden" name="boardNum" th:value="${board.boardNum}">
				<input type="hidden" name="boardSecret" th:value="${board.boardSecret}"> 
				<!-- <input type="text" name="boardViews" th:text="${boardCnt}">  -->
				
				<div class="box box-content" style="outline: solid 1px #D5D5D5; height: 600px;">
					<div class="card-header">
						<h4 class="m-b-0 text-white"><i class="ti-menu"></i>
							[[${board.boardNum}]] 
						</h4>
						 
					</div>
					<div class="boardTitle" style="padding-top: 20px; font-weight: bold; font-size: 15px;">
						<i class="fa fa-pencil "></i> 제목 : [[${board.boardTitle}]] 
					</div>
					<div class="userId" style=" padding-top: 10px; font-weight: bold; font-size: 15px;">
						<i class="fa fa-user f-s-20 color-blueviolet"></i>  작성자 : [[${board.memberId}]] 
					</div>
					<hr>
					<div class="box-body" style=" height: 700px;  padding-top: 20px;  font-size: 15px;">
						[[${board.boardContents}]]
					</div>
					</div>
					<div>
					<label for="title" style="margin-top: 30px; font-weight:bold; display: block; ">파일첨부</label>
					<input name="boardFile" type="file" style="outline: solid 1px #D5D5D5;" readonly="readonly" />
				</div>
				<div>
					<form method="post" action="/reply/write">
					<hr>
						<div class="row">
							<div class="col-md-12 ">
								<div class="form-group">
									<label style="font-weight: bold;">댓글</label>
									<input type="text" class="form-control" style="height: 100px;">
									<button type="button" class="btn btn-inverse" style="margin-top: 10px; float: right;">등록</button>
								</div>
							</div>
						</div>
						<hr>
					</form>
				</div>
				<div class="box-footer" style="margin-top: 20px;">
						<a th:href="@{/board/boardList}" class="btn btn-primary listBtn" style="display: inline;">
								<i class="fa fa-list"></i> 목록
							</a>
						<div class="pull-right">
								<a th:href="@{/board/boardModify(boardNum=${board.boardNum})}" class="btn btn-warning modBtn" id="boardModiBtn"><i class="fa fa-edit"></i> 수정</a>
								<a th:href="@{/board/boardDelete(boardNum=${board.boardNum})}" class="btn btn-danger delBtn" id="baordDelBtn"><i class="fa fa-trash"></i> 삭제</a>
						</div>
					</div>
				</div>	
			</form>
		</div>
	</div>	
</th:block>

<th:block layout:fragment="customJsLib">
	<!-- <script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
   <script src="js/lib/owl-carousel/owl.carousel-init.js"></script> -->
   
   <script type="text/javascript">
   	$(function(){
   		var form = deleteForm;
      		$('#baordDelBtn').click(function(){
			alert('정말 삭제하시겠습니까?')
			form.submit();
      		 });
	});
   	
   </script>
</th:block>
</html>