<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="card card-outline-primary" >
		<div class="col-lg-12">
				<div class="box box-primary">
					<div class="box box-content" style="outline: solid 1px #D5D5D5; height: 600px;">
						<div class="card-header" >
							<h4 class="m-b-0 text-white" ><i class="fa fa-pencil"></i> 글 제목 : [[${writeTitle}]] </h4>
						</div>
						<div class="userId" style=" padding-top: 20px; font-weight: bold;">
							작성자 : id001
						</div>
						<div class="box-body" style=" height: 700px;  padding-top: 20px;">
							글 내용 :   [[${writeContents}]]
						</div>
						</div>
						<div>
						<label for="title" style="margin-top: 30px; font-weight:bold; display: block; ">파일첨부</label>
						<input name="boardFile" type="file" style="outline: solid 1px #D5D5D5;"/>
					</div>
					<h3 class="box-title m-t-40"></h3>
						<hr>
							<div class="row">
								<div class="col-md-12 ">
									<div class="form-group">
										<label style="font-weight: bold;">댓글</label>
										<input type="text" class="form-control" style="height: 100px;">
										<button type="button" class="btn btn-inverse" style="margin-top: 10px; float: right;">등록</button>
									</div>
								</div>
							</div>
							<hr>
							
								
							
					
					
					<div class="box-footer" style="margin-top: 20px;">
							<a th:href="@{/boardList}" class="btn btn-primary listBtn" style="display: inline;">
								<i class="fa fa-list"></i> 목록
							</a>
						<div class="pull-right">
							<a th:href="@{/boardModify}" class="btn btn-warning modBtn"><i class="fa fa-edit"></i> 수정</a>
							<a th:href="@{/boardDelete}" class="btn btn-danger delBtn"><i class="fa fa-trash"></i> 삭제</a>
						</div>
					</div>
			</div>	
		</div>
	</div>	
</th:block>
</html>