<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="card card-outline-primary" >
		<div class="col-lg-12">
			<form th:action="@{/boardWrite}" role="form" id="writeForm" method="post">
				<div class="card-header" >
					<h4 class="m-b-0 text-white" ><i class="fa fa-pencil"></i>  게시글 작성</h4>
				</div>
				<div class="box-body">
					<div class="form-group">
					
						<!-- 게시물 작성 히든 -->
						<input type="hidden" name="boardNum" th:value="${boardNum}" readonly="readonly">
						<input type="hidden" name="boardViews" id="boardViews" value="0">
						<input type="hidden" name="boardCateCode" id="boardCateCode" th:value="${boardCate.boardCateCode}"> 
						<input type="hidden" name="stateCode" id="stateCode" th:value="${boardStatement.stateCode}">
						
						
						<label for="title" style="margin-top: 30px; font-weight:bold; ">제목</label>
						<input type="text" class="form-control" id="title" name="boardTitle" placeholder="제목을 입력해주세요">
					</div>
					
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">작성자 아이디</label>
						<input type="text" class="form-control"  name="memberId" th:value="${memberId}" readonly="readonly" >
					</div>
					
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">내용</label>
						<textarea class="form-control" id="content" name="boardContents" rows="30" placeholder="내용을 입력해주세요" style="resize: none; height: 380px;" ></textarea>
					</div>
				</div>
				
				<!-- 첨부파일 -->
				<form action="post" class="dropzone">
						<div class="fallback">
							<input name="boardFile" type="file" >
						</div>
				</form>
				<div style="padding-top: 25px; padding-bottom: 15px;">
					<input type="checkbox"  name="boardSecret" value="1" checked="checked"> 공개글
					<input type="checkbox"  name="boardSecret" value="0"> 비밀글
				</div>
				
				<div class="box-footer">
					<a th:href="@{/boardList}" class="btn btn-primary"  ><i class="fa fa-list"></i>목록</a>
					<div class="pull-right">
						<button type="submit" class="btn btn-success" onclick="mySubmit1()"><i class="fa fa-save"></i> 저장</button>
					</div>
				</div>
			</form>	
		</div>
	</div>
	<script type="text/javascript">
		function mySubmit1() {
			var form = writeForm;

			if(form.title.value == ''){
				alert('제목을 입력해주세요')
				form.title.focus();
				return false;
			}
			if (form.content.value == '') {
				alert('내용을 입력해주세요')
				form.content.focus();
				return false;
			}
			alert('게시글 작성완료!')
			form.submit();
		}
	</script>
</th:block>

<th:block layout:fragment="customJsLib">
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
</th:block>
</html>