<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	
	<div class="card card-outline-primary" >
	
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="card-header" >
					<h4 class="m-b-0 text-white" ><i class="ti-menu"></i> 소비자 게시판 목록  </h4>
				</div>
				<div class="box-body" style="padding-top: 20px;" >
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 30px; font-style: italic; font-weight: bold;">NO.</th>
								<th style="font-weight: bold;">제목</th>
								<th style="width: 120px; font-weight: bold;">작성자 아이디</th>
								<th style="width: 150px;  font-weight: bold;">작성시간</th>
								<th style="width: 60px; font-weight: bold;">조회</th>
							</tr>
						</thead>
						<tbody id="boardListMore">
							<tr th:if="${boardList ne null and #lists.size(boardList) > 0}" th:each=" b : ${boardList}">
								<td th:text="${b.boardNum}"></td>
								<td th:text="${b.boardTitle}"></td>
								<td th:text="${b.memberId}"></td>
								<td th:text="${b.boardRegTime}"></td>
								<td th:text="${b.boardViews}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div>
					<button id="moreBtn" type="button" class="btn btn-primary btn-block m-b-10" style="font-weight: bold; color: #848484; margin-top: 10px; background-color: white;">더보기(More)</button>
				</div>
				
				<div class="box-footer">
					<div class="pull-right">
						<a th:href="@{/boardWrite}" class="btn btn-success btn-flat"  style="margin-top: 15px;"><i class="fa fa-pencil"></i> 글쓰기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<script type="text/javascript">

$(function(){
	$('#moreBtn').click(function(){
		
		
		var request = $.ajax({ 
			  url: "/moreList", //요청 주소
			  method: "POST", //요청 방식
			  data: {moreList : moreList.val()}, //전달할 파라미터
			  dataType: "json" // 받아올 포맷방식
			  
			  
			});
			
		    //응답이 완료 되었을 경우 실행 : 수정해야함
		    //콜백함수 함수를 호출하면 서버에서 json에 들어있는 데이터를 긁어 자바스크립트로 파싱하여 들어온다.
			request.done(function( data ) {
				for(var i=0; i>data.length ; i++){
					if(data.length == 5){
						$('#moreBtn').remove();
					}else if(data.length > 5){
						$(#boardListMore).appendTo($)
					}
				}
				
			  console.log(data);
			  
			});
			//응답에 실패 혹은 에러 발생 시 실행  : 수정할 필요없음
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
	});
});
</script>



</html>