<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
<!-- css -->
<style type= "text/css">
	.card h1{
		text-align: center;
		padding: 10px;
	}
	form input{
		width: 5px;
	}
	.login-form .btn {
		display : inline-block;
		width : 90px;
		text-align: center;
		margin-left: 160px;
	}
	.form-button{
		text-align: center;
	}
	.form-control{
		width: 400px;
	}
	h5{
		color: red;
		text-align: center;
	}
 
</style>
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-mg-5">
                        <div class="login-content card">
                            <div class="login-form">
                                <h4>회원 탈퇴</h4>
                                <h5>탈퇴하시면 3개월 간 다시 가입이 불가합니다.</h5>
                                <form th:action="@{/member/deleteMember}" method="post">
                                    <div class="form-group">
                                        <label>아이디</label>
                                        <input type="text" class="form-control" name="memberId" th:value="${session.SID}" placeholder="아이디">
                                    </div>
                                    <div class="form-group">
                                        <label>비밀번호</label>
                                        <input type="password" class="form-control" name="memberPw" id="memberPw" placeholder="비밀번호">
                                    </div>
                                    <div class="form-group">
                                        <label>비밀번호 확인</label>
                                        <input type="password" class="form-control" name="memberPw2" id="memberPw2" placeholder="비밀번호 확인">
                                        <div id="pwCheck2"></div>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary btn-flat m-b-50 m-t-50">회원탈퇴</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>   
</th:block>


    <th:block layout:fragment="customJsLib">
    	<script type="text/javascript">
		
		$(function(){
			//비밀번호 일치 확인
			$('#memberPw2').blur(function(){
				if($('#memberPw').val() != $(this).val()){
					console.log('falsesssss');
					$('#pwCheck2').text('비밀번호가 일치하지 않습니다.');
					$('#pwCheck2').css('color','red');
				} else{
					console.log('truedddd');
					$('#pwCheck2').text('');
				}
			});
			
			
		})
</script>
    </th:block>
</body>
</html>