<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default2}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
<!-- css -->
<style type= "text/css">
	.card h1{
		text-align: center;
		padding: 10px;
	}
	form input{
		width: 5px;
	}
	.login-form .btn {
		display : inline-block;
		width : 100px;
		text-align: center;
		color: #fff;
	}
	.form-button{
		text-align: center;
	}
 
</style>
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-mg-5">
                        <div class="login-content card">
                            <div class="login-form">
                                <h4>로그인</h4>
                                <form th:action="@{/member/login}" method="post" name="loginForm">
                                	<div th:if="${idpwCheck != null}" class="form-group">
                                		<code><i class="bi bi-exclamation-triangle"></i> [[${idpwCheck}]]</code>
                                	</div>
                                    <div class="form-group">
                                        <label>아이디</label>
                                        <input type="text" class="form-control" name="memberId" id="memberId" placeholder="아이디">
                                    </div>
                                    <div class="form-group">
                                        <label>비밀번호</label>
                                        <input type="password" class="form-control" name="memberPw" id="memberPw" placeholder="비밀번호">
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-flat login">로그인</button>
                                    <button type="button" class="btn btn-primary btn-flat admin">운영회사</button>
                                    <button type="button" class="btn btn-primary btn-flat biz">소상공인</button>
                                    <button type="button" class="btn btn-primary btn-flat user">소비자</button>
                                    <div class="register-link m-t-15 text-center">
                                        <p>계정이 없으십니까? <a th:href="@{/member/addMember01}"> 회원가입 </a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</th:block>

    <th:block layout:fragment="customJsLib">
		<script type="text/javascript">
			$(function(){		
				$('.login').click(function(){
					
					if ($('#memberId').val() == ""){
						alert("아이디를 입력해 주세요.");
						document.loginForm.memberId.focus();
						return false;
					} else if ($('#memberPw').val() == ""){
						alert("비밀번호를 입력해주세요.");
						document.loginForm.memberPw.focus();
						return false;
					} else {
						//submitCk();
						return true;
					}
				});
				
				/* function submitCk(){
					var memberId = $('#memberId').val();
					var memberPw = $('#memberPw').val();
					
					var request = $.ajax({
						url : "/member/login",
						type : 'POST',
						data : {"memberId" : memberId, "memberPw" : memberPw}
					});
					request.done(function( data ) {
						console.log(data);
						if(memberId == null && memberPw == null){
							alert("아이디와 비밀번호를 다시 확인해주세요.");
							location.href="/member/login";
						}
					
					});
					request.fail(function( jqXHR, textStatus ) {
	    			  alert( "실패!: " + textStatus );
	    			  
	    			});
				} */
				
				
				//버튼 누르면 바로 로그인~!
				$('.admin').click(function(){
					$('input[name=memberId]').val("id001");
					$('input[name=memberPw]').val("pw001");
				});
				$('.biz').click(function(){
					$('input[name=memberId]').val("id008");
					$('input[name=memberPw]').val("pw008");
				});
				$('.user').click(function(){
					$('input[name=memberId]').val("id011");
					$('input[name=memberPw]').val("pw011");
				});
			
			
			});
		
	
		</script>
    </th:block>
</body>
</html>