<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
<!-- css -->
<style type= "text/css">
	.btn{
		margin : 10px 0 0 200px;
		color: #505050;
		float: left;
	}
	.topBtn{
		float: right;
	}
	.btn-success{
		padding-top : 6px;
		color: #fff;
	}
	ul a{
		display:block;
	}
	.all{
		color: #000;
	}
	#messageList{
		cursor: pointer;
	}
	.btn{
		background-color: #84799F;
		color: #fff;
	}
</style>
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">

	
	<div class="row">

		<div class="col-lg-12 ">
			<div class="card card-outline-primary">
	            <div class="card-header">
	                <h4 class="m-b-0 text-white">회원 목록</h4>
	            </div>
	            <div class="card-body"  id="list">
	            	<a th:href="@{/member/loginList}" class="btn btn-pink">회원 로그인 내역</a>            
	            	<div class="table-responsive m-t-40">
                   	<table id="myTable" class="table table-bordered table-striped">
						<thead>
                            <tr>
                                <th></th>
                                <th>회원 구분</th>
                                <th>회원 아이디</th>
                                <th>회원 비밀번호</th>
                                <th>회원 이름</th>
                                <th>회원 성별</th>
                                <th>회원 생년월일</th>
                                <th>회원 전화번호</th>
                                <th>회원 이메일</th>
                                <th>회원 가입 일시</th>
                            </tr>
                        </thead>
						<tbody th:id="memberList">
		                    <tr th:each="l : ${memberList}">
		                    	<td><label><input type="checkbox"></label></td>
		                    	<td th:text="${l.memberLevel.levelName}"></td>
		                    	<td th:text="${l.memberId}"></td> 
		                    	<td th:text="${l.memberPw}"></td> 
		                    	<td th:text="${l.memberName}"></td> 
		                    	<td th:text="${l.memberGender}"></td> 
		                    	<td th:text="${l.memberBirth}"></td> 
		                    	<td th:text="${l.memberPhone}"></td> 
		                    	<td th:text="${l.memberEmail}"></td> 
		                    	<td th:text="${l.memberRegTime}"></td> 
		                    </tr>
	               		</tbody>
	            	</table>
	        	</div>
			</div>
		</div>
	</div>
	</div>
</th:block>


<th:block layout:fragment="customJsLib">
	<script th:src="@{/js/lib/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/lib/datatables/datatables-init.js}"></script>
	<script type="text/javascript">

	

	</script>
</th:block>
</html>