<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default2}">
<th:block layout:fragment="customCss">
	<style type="text/css">
		.titleCss {
			background-color: #5c4ac7;
			color: white;   
		}
		.cateCss {
			background-color: #f8f9fa;
		}
		#applyBtn {
			margin: 20px 0px 0px 0px;
		}
		.radio-inline{
			font-size: 20px;
			
		}
		input[type=radio]{
			width:20px;
			height:20px;
		}
		.firstRadio {
			background-color: #DEF3E9;
		}
		.lastRadio {
			background-color: #FAE3DC;
		}
		.bi{
			font-size: 18px;
		}

	</style>
</th:block>	 
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customLocation">
	<div class="row page-titles">
	    <div class="col-md-5 align-self-center">
	        <h3 class="text-primary" th:text="${location2}"></h3></div>
	    <div class="col-md-7 align-self-center">
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	            <li class="breadcrumb-item active">
	            	<a th:text="${location1}" th:href="@{${location1URL}}"></a>
	            </li>
	            <li class="breadcrumb-item active" th:text="${location2}"></li>
	        </ol>
	    </div>
	</div>
</th:block>
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
		        <div class="card-body">
		        	<form method="post" th:action="@{/survey/doSurvey}">
			            <div class="table-responsive">
			                <table class="table">
			                    <tbody>
			                    	<tr>
			                        	<td class="cateCss" colspan="10"><strong>설문 정보</strong></td>
			                        </tr>
			                    	<tr>
			                    		<td class="titleCss" colspan="4">제목</td>
			                    		<td th:text="${recruitInfo.surveyTitle}" colspan="6"></td>
			                    	</tr>
			                        <tr>
										<td class="titleCss" colspan="3">매장명</td>
			                            <td colspan="2" th:text="${recruitInfo.storeInfo.storeName}"></td>
			                            <td colspan="2" class="titleCss">메뉴명</td>
			                            <td colspan="3" th:text="${recruitInfo.menu.menuName}"></td>    
			                        </tr>
			                        <tr>
			                        	<td colspan="2" class="cateCss">#</td>
			                        	<td colspan="3" class="cateCss">질문</td>
			                        	<td class="cateCss">긍정 <i class="bi bi-emoji-smile"></i> <i class="bi bi-hand-thumbs-up"></i></td>
			                        	<td class="cateCss"></td>
			                        	<td class="cateCss">보통</td>
			                        	<td class="cateCss"></td>
			                        	<td class="cateCss">부정 <i class="bi bi-emoji-angry"></i> <i class="bi bi-hand-thumbs-down"></i></td>
			                        </tr>
			                        <th:block th:each="q : ${questionList}">
			                        	<tr class="trCount">
			                        		<td class= "cateName" colspan="2" th:text="${qStat.count}"></td>
											<td colspan="3" th:text="${q.qContent}"></td>
			                        		<td class="firstRadio">
			                        			<label class="radio-inline">
												  <input type="radio" th:name="${q.qCode}" th:value="${q.questionChoices[4].code}"> [[${q.questionChoices[4].cntNum}]]
												</label>
											</td>
											<td>	
												<label class="radio-inline">
												  <input type="radio" th:name="${q.qCode}" th:value="${q.questionChoices[3].code}"> [[${q.questionChoices[3].cntNum}]]
												</label>
											</td>
											<td>
												<label class="radio-inline">
												  <input type="radio" th:name="${q.qCode}" th:value="${q.questionChoices[2].code}"> [[${q.questionChoices[2].cntNum}]]
												</label>
											</td>
											<td>
												<label class="radio-inline">
												  <input type="radio" th:name="${q.qCode}" th:value="${q.questionChoices[1].code}"> [[${q.questionChoices[1].cntNum}]]
												</label>
											</td>
											<td class="lastRadio">
												<label class="radio-inline">
												  <input type="radio" th:name="${q.qCode}" th:value="${q.questionChoices[0].code}"> [[${q.questionChoices[0].cntNum}]]
												</label>
			                        		</td>
			                        	</tr>
			                        </th:block>			                      
			                    </tbody>
			                </table>
			            </div>
			            <div class="row">
			            	<div class="col-md-8">
			            		<input type="hidden" name="recruitCode" th:value="${recruitInfo.recruitTBizCode}">
			            	</div>
			            	<div class="col-md-4">
				            	<button type="button" class="btn btn-success btn-block" id="submitBtn">제출하기</button>		            	
			            	</div>
			            </div>
			        </form>
		        </div>
		    </div>
	    </div>
	</div>
</th:block>
<th:block layout:fragment="customJsLib">
	<script type="text/javascript">
		$(function(){
			$('#submitBtn').on("click", function(){
				console.log($('.trCount').eq(0).find('input[type=radio]:checked').length);
				var length = $('.trCount').length
				var result1 = true;
				for(var i=0; i < length; i++){
					if($('.trCount').eq(i).find('input[type=radio]:checked').length == 0){
						alert( (i+1) + '번 문항 답안이 체크되지 않았습니다.');
						$('.trCount')[i].scrollIntoView({block:"center"});
						result1 = false;
						break;
					}
				}
				if(result1){
					var result2 = confirm('제출하시겠습니까?');
					if(result2){
						alert('참여해주셔서 감사합니다 ')
						$('form').submit();
					}else return;
				}
				
			});
		});
	</script>
	
	

</th:block>
</html>