<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customLocation">
	<div class="row page-titles">
	    <div class="col-md-5 align-self-center">
	        <h3 class="text-primary" th:text="${location2}"></h3></div>
	    <div class="col-md-7 align-self-center">
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	            <li class="breadcrumb-item active">
	            	<a th:text="${location1}" th:href="@{${location1URL}}"></a>
	            </li>
	            <li class="breadcrumb-item active" th:text="${location2}"></li>
	        </ol>
	    </div>
	</div>
</th:block>
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row">
	  	<div class="col-lg-6">
            <div class="card">
                <div class="card-title" >
                    <h4 >항목 선택</h4> 
                </div>
                <div class="card-body">
                  	<div class="form-group">
	                    <label>항목을 선택하세요</label>
                        <select class="form-control" id="selectCate">
							<option value="default"> : : :  선 택   : : : </option>
						</select>
                    </div>
                </div>
            </div>
            <!-- /# card -->
        </div>
        <div class="col-lg-6">
	        <div class="card">
	        	<div class="card-title" >
                    <h4>문항 목록</h4> 
                </div>
                <div class="card-content">
	            	<div class="basic-form">
                    	<form>
	                        <div class="todo-list">
	                            <div class="tdl-holder">
	                                <div class="tdl-content">
	                                    <ul id="questionUl"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
        	                    <div class="input-group input-group-flat">
 	                               <input type="text" class="form-control" placeholder="문항을 입력하세요" name="inputQuestion">
	                                   <span class="input-group-btn"><button class="btn btn-primary input-group-plus-icon" type="button" id="addQBtn"><i class="ti-plus"></i>추가</button></span>
                                </div>
                            </div>
	                   	</form>
					</div>
					<div class="row">
                	   	<div class="offset-sm-4 col-md-8">
                           	<button type="button" class="btn btn-inverse" id="reset"><i class="fa fa-repeat"></i> 되돌리기 </button>
                           	<button type="button" class="btn btn-success" id="saveBtn"><i class="fa fa-check"></i> 저장하기 </button>
                        </div>
   	                </div>	
                </div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customJsLib">
<script type="text/javascript">
		
		//옵션 선택시 항목 리스트 출력
		var count = 0;
		$(function(){
			$('#selectCate').on( "click" , function(){
				
				if(count == 0){
					count = 1 ;
					var request = $.ajax({
						  url: "/survey/selectList", 
						  method: "GET", 
						  dataType: "json" 
						});	
					
					var option = '<option value="default"> : : :  선 택   : : : </option>';
					
					request.done(function( data ) {
						
					  	var listSize =data.length;
					  	
					 	for(var i  = 0; i< listSize; i++){
						  option += '<option value= ' + data[i].cateCode + '>' + data[i].cateName+ '</option>';
					  }
					  $('#selectCate').html(option);
					});
					
					request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
					});
				};
			});
		});
		
		//옵션 변경시 항목별 문항목록 가져오기, 해당 문항 삭제 버튼 클릭시 삭제리스트로 이동 및 삭제
		
		var deleteList = [];
		
		$(function(){
			$('#selectCate').change(function(){
				deleteList = [];
				var questionLi = '';
				var selected = this.value;
				var request = $.ajax({
					  url: "/survey/questionList", //요청 주소
					  method: "GET", //요청 방식
					  data: { cateCode : selected },
					  dataType: "json" //받아올 포맷방식
					});	
				
				request.done(function(data){
				  	var listSize =data.length;
				  		if(listSize == 0){
				  			questionLi +='<li name="noResult"> 등록된 문항이 없습니다. </li>';
				 	 	}else{
					 		for(var i  = 0; i< listSize; i++){
					 			 
					 				questionLi += '<li>';
					 				questionLi += 	'<label>' + (i+1);
					 				questionLi += 		'<input type="hidden" class="qCode" value= '+ data[i].qCode + '>';
					 				questionLi += 		'<i class="bg-success"></i>';
					 				questionLi +=		'<span>' + data[i].qContent + '</span>';
					 				questionLi +=		'<a class="ti-close deleteBtn"></a>';
					 				questionLi +=  	'</label>';
					 				questionLi += '</li>';
					 		 }
				  		}
				 	$('#questionUl').html(questionLi);
				 	
				 	$('.deleteBtn').on("click", function(){
				 		
				 		var li = $(this).parent().parent();
			 		
				 		deleteList.push(li.find('input').val());
						li.remove();
					});
				});
				
				request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
				});
			});
		});

		//항목추가 클릭시 항목리스트에 노출.
		
		$(function(){
			$('#addQBtn').on("click", function(){
				
				var input = $('[name=inputQuestion]');
				var Ul= $('#questionUl');
				
				//유효성 검사
				if($('#selectCate').val()=='default' || $('#selectCate').val()== null){
					alert('항목을 먼저 선택해주세요');
					$('#selectCate').focus();
					return;
				}
				if(input.val().trim()==''){
					alert('문항을 입력해주세요');
					input.focus();
					return;
				}

				if(Ul.children('li:last').attr('name')=='noResult'){
					$('[name=noResult]').remove();
				}
				
				var appendLi  = '<li>';
					appendLi += 	'<label>';
					appendLi +=			'<span class="newQ">'+ input.val() + '</span>';
					appendLi +=			'<a class="ti-close deleteBtn"></a>';
					appendLi +=		'</label>';
					appendLi += '</li>';
					
				Ul.append(appendLi);
				input.val('');
				
				$('.deleteBtn').on("click", function(){
					$(this).parent().parent().remove();
				});
			});
		});
		
		//저장버튼 클릭시 변경된 사항들을 삭제리스트와 추가리스트에 각각 담아서 컨트롤러에 전달한다.
		
		var insertList = [];
		$(function(){
			$('#saveBtn').click(function(){
				if (!confirm('수정사항을 저장하시겠습니까?')) return;
				else { 
					alert('저장되었습니다.'); 
					var cateCode = $('#selectCate');
					var newQ = $('.newQ');
					
					if(cateCode.val() =='default' || cateCode.val()== null){
						alert('항목을 먼저 선택해주세요');
						cateCode.focus();
					}else{
						for(var i =0; i< newQ.length ; i++){
							insertList.push(newQ.eq(i).text());
						}
						location.href  = '/survey/saveList?qDeleteList=' + deleteList + '&qInsertList=' + insertList + '&qCateCode='+cateCode.val();
					}
				}
			});
		});
		
		//되돌리기 버튼 이벤트
		
		$(function(){
			$('#reset').on("click", function(){
				if(!confirm('변경사항이 저장되지 않고 초기화됩니다.')) return;
				else window.location.reload();
			});
		});
</script>
</th:block>
</html>