<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
<!-- css -->
<style type= "text/css">
	.btn{
		padding : 10px 25px;
		font-size: 17px;
		float: left;
	}
	#myTable{
		color: #323232;
	}
	#pointAdd{
		color: #FF5675;
		font-weight: bold;
	}
    p{
    	margin: 0;
    	text-align: end;
    }
    .top {
 		caption-side: top;
 		padding: 0;
	}
	.top .btn{
		background-color: #84799F;
		color: #fff;
	}
	.top .btn2{
		background-color: #FF848F;
		color: #fff;
	}
	.table thead  tr th{
		border-bottom : 3px solid #dee2e6;
	}
</style>
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">

	
<div class="row">
	<input type="hidden" id="SID" th:value="${session.SID}">
		<div class="col-lg-12 ">
			<div class="card card-outline-primary">
	            <div class="card-header">
	                <h4 class="m-b-0 text-white">포인트 내역 조회</h4>
	            </div>
	            <div class="card-body">
	            <div class="table-responsive m-t-40">
                	<table id="myTable" class="table table-hover">
                		<caption class="top">
	                		<a th:href="@{/point/userAddPointList(userId=${session.SID})}" class="btn btn-pink">적립내역</a>
	                		<a th:href="@{/point/userDelPointList(userId=${session.SID})}" class="btn btn2 btn-pink">사용내역</a>
                		</caption>
                    	<thead>
                            <tr>
                                <th>적립 일시</th>
                                <th>적립 내용</th>
                                <th>소멸 예정일</th>
                                <th>적립 포인트</th>
                                <th>잔여 포인트</th>
                            </tr>
                        </thead>
						<tbody th:id="pointList">
		                    <tr th:each="l : ${pointList}"> 
		                    	<td th:text="${l.pointSaveTime}"></td> 
		                    	<td th:text="${l.pointContents}"></td> 
		                    	<td th:text="${l.predDelTime}"></td>
		                    	<td th:text="${l.pointAdd}" id="pointAdd"></td>
		                    	<td th:text="${l.afterPointHistory}"></td>
		                    </tr>
	               		</tbody>
	            	</table>
	        	</div>
			</div>
		</div>
	</div>
</div>
</th:block>


<th:block layout:fragment="customJsLib">
	<script type="text/javascript">
		
	</script>
</th:block>
</html>