<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="card card-outline-primary" >
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="card-header" >
					<h4 class="m-b-0 text-white" ><i class="ti-menu"></i> 마감 확인  </h4>
				</div>
				<div class="box-body" style="padding-top: 20px;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 30px; font-style: italic; font-weight: bold;">No</th>
								<th style="font-weight: bold;">체크리스트</th>
								<th style="width: 120px; font-weight: bold;">네</th>
								<th style="width: 120px; font-weight: bold;">아니오</th>
								<th style="width: 150px;  font-weight: bold;">마감시간</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(salesList) > 0}" th:each=" s : ${salesList}">
								<td> # </td>
								<td th:text="${s.storeCode}"></td>
								<td th:text="${s.salesName}"></td>
								<td th:text="${s.salesPrice}"></td>
								<td th:text="${s.salesRegTime}"></td>
								<td th:text="${s.closeTime}"></td>
							</tr>
							<tr>
								<td>1</td>
								<td>짬뽕밥</td>
								<td>store01</td>
								<td>15000</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>2</td>
								<td>김치찜</td>
								<td>store01</td>
								<td>1145000</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>3</td>
								<td>계란후라이</td>
								<td>store01</td>
								<td>112145000</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>4</td>
								<td>판타지오</td>
								<td>store01</td>
								<td>41450001</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>5</td>
								<td>하이닉스</td>
								<td>store01</td>
								<td>145645</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					<div class="pull-right">
						<a th:href="@{/salesList}" class="btn btn-success btn-flat" style="margin-top: 15px;">
							<i class="fa fa-pencil"></i> 마감등록
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>