<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">

	<!-- 매장 수정폼 start -->
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-title">
					<h4>매장 수정</h4>

				</div>
				<div class="card-body">
					<div class="basic-form">
						<form>
							<div class="form-group">
								<label>매장코드</label>
								<input type="text" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>매장명</label>
								<input type="text" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>매장 평가단 동의여부</label>
								<input type="text" class="form-control" readonly="readonly">
							</div>
							
							<button type="submit" class="btn btn-default">수정 </button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 매장 수정폼end -->
	
	
</th:block>					
					
<!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
</th:block>
</body>
</html>