
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Left Sidebar  -->
     <div class="left-sidebar" th:fragment="leftsidebarFragment">
         <!-- Sidebar scroll-->
         <div class="scroll-sidebar">
             <!-- Sidebar navigation-->
             <nav class="sidebar-nav">
                 <ul id="sidebarnav" >
                     <li class="nav-devider" style="margin-bottom: 40px;" ></li>
                     <li class="nav-label">회원관리</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-group"></i><span class="hide-menu">회원관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#" class="has-arrow"> 회원 목록 <span class="label label-rouded label-warning pull-right">2</span> </a>
                                 <ul aria-expanded="false" class="collapse">
                                     <li><a th:href="@{/member/memberList}">전체 회원 목록  / 문유미</a></li>
                                     <li><a th:href="@{/member/memberUserList}">소비자 회원 목록 / 문유미</a></li>
                                 </ul>
                             </li>
                             <li><a th:href="@{/member/memberBizList}"> 소상공인 가입 승인 목록 / 문유미 </a>

                         </ul>
                     </li>
                     <li class="nav-label">포인트 관리 / 문유미</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="bi bi-cash-coin"></i><span class="hide-menu">포인트 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/point/pointList}">포인트 목록 / 문유미</a></li>
                         </ul>
                     </li>
                     <li class="nav-label">게시판 관리 / 김채연</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-file-text-o"></i><span class="hide-menu">게시판 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/board/boardNoticeList}">공지사항</a></li>
                             <li><a th:href="@{/board/boardList}">소비자 게시판</a></li>
                             <li><a th:href="@{/board/boardBizList}">소상공인 게시판</a></li>
                         </ul>
                     </li>
					           <li class="nav-label">신고 관리 / 김채연</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-exclamation-triangle"></i><span class="hide-menu">신고 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">블랙리스트 목록</a></li>
                             <li><a th:href="@{/report/penaltyList}">벌점 목록</a></li>
                             <li><a th:href="@{/report/reportBoardList}">게시판 신고목록</a></li>
                              <li><a href="#">리뷰 신고목록</a></li>
                         </ul>
                     </li>
                      <li class="nav-label">입점 관리</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-check"></i><span class="hide-menu">입점 관리</span></a>
                         <ul aria-expanded="false" class="collapse">

                             <li><a th:href="@{/enter/addStore}">입점 등록 / 김지아</a></li>
                             <li><a th:href="@{/enter/cancelMyStore}">입점 취소 신청 / 김지아</a></li>
                             <li><a th:href="@{/enter/cancelStoreManage}">입점 취소 관리(관리자) / 김지아</a></li>
                         </ul>
                     </li>
                      <li class="nav-label">매장 관리 / 김지아</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-cutlery"></i><span class="hide-menu">매장 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/store/storeManage}">매장관리(관리자) / 김지아</a></li>
                             <li><a href="#" class="has-arrow">내 매장 관리 / 김지아 <span class="label label-rouded label-warning pull-right">3</span></a>
                                 <ul aria-expanded="false" class="collapse">


                                     <li><a th:href="@{/store/myStoreManage/myStoreInfo}">매장 정보 수정 / 김지아</a></li>
                                     <li><a th:href="@{/store/myStoreManage/myMenuManage}">메뉴 관리 / 김지아</a></li>
                                     <li><a th:href="@{/store/myStoreManage/myTableManage}">테이블 관리 / 김지아</a></li>

                                 </ul>
                             </li>
                         </ul>
                     </li>
                      <li class="nav-label">이벤트 관리 / 전세원</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-gift"></i><span class="hide-menu">이벤트 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">이벤트 목록 / 전세원</a></li>
                         </ul>
                     </li>
                      <li class="nav-label">QnA / 김채연</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-question"></i><span class="hide-menu">QnA</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">소상공인 문의</a></li>
                             <li><a href="#">소비자 문의</a></li>
                         </ul>
                     </li>
                     <li class="nav-label">평가단/설문조사 / 전세원</li>

                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="bi bi-emoji-sunglasses-fill"></i><span class="hide-menu">평가단</span></a>

                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/taster/recruitNotice}">모집 공고(소비자)/ 전세원</a></li>
                             <li><a th:href="@{/taster/applyRecruit}">평가단 모집하기(소상공인) / 전세원</a></li>
                             <li><a th:href="@{/taster/myRecruitList}"> 평가단 모집 현황 (소상공인)/ 전세원</a></li>
                             <li><a th:href="@{/taster/recruitList}">평가단 모집 관리(관리자) / 전세원</a></li>
                             <li><a th:href="@{/taster/tasterList}">평가단 관리(관리자) / 전세원</a></li>
                         </ul>
                     </li>
                      <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-pencil-square-o"></i><span class="hide-menu">설문조사</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/survey/questionManage}">문항/항목 관리(관리자) / 전세원</a></li>
                             <li><a th:href="@{/survey/surveyList}">설문조사 현황(관리자) / 전세원</a></li>
                             <li><a th:href="@{/survey/mySurveyList}">내 설문조사 (소비자)/ 전세원</a></li>
                             <li><a th:href="@{/survey/surveyResult}">설문조사 결과(소상공인) / 전세원</a></li>
                         </ul>
                     </li>
                     <li class="nav-label">재무 관리 / 양재혁</li>
                      <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-credit-card"></i><span class="hide-menu">재무관리</span></a>
                         <ul aria-expanded="false" class="collapse">

                             <li><a th:href="@{/account/salesList}">매출 현황 / 양재혁</a></li>
                             <li><a th:href="@{/account/expenseList}">지출 목록 / 양재혁</a></li>
                             <li><a th:href="@{/account/close}">결산 관리</a></li>
                             <li><a href="#" class="has-arrow">My Store / 양재혁<span class="label label-rouded label-warning pull-right">3</span></a>
                                 <ul aria-expanded="false" class="collapse">
                                     <li><a th:href="@{/account/mystore}">내 매장 관리</a></li>
                                     <li><a href="#">통계 요약 </a></li>
                                     <li><a href="#">수익률 분석</a></li>
                                 </ul>
                             </li>
                         </ul>
                     </li>
                     <li class="nav-label">리뷰 관리 / 김채연</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-thumbs-up"></i><span class="hide-menu">리뷰 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">리뷰 목록</a></li>
                         </ul>
                     </li>
                       <li class="nav-label">환경 설정</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-gear"></i><span class="hide-menu">환경 설정</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/message/commonMessage}">공통메세지 / 문유미</a></li>
                             <li><a href="#">포인트 소멸기준</a></li>
                             <li><a href="#">페널티 기준/ 김채연</a></li>
                             <li><a th:href="@{/badWords/commonBadWords}">금지어 목록 / 김채연</a></li>
                         </ul>
                     </li>
                       <li class="nav-label">POS가정(소상공인)</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa ti-hand-point-up"></i><span class="hide-menu">POS</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/pos/posMain}">POS화면 (pos가정)/김지아</a></li>
                         </ul>
                     </li>
                 </ul>
             </nav>
             <!-- End Sidebar navigation -->
         </div>
         <!-- End Sidebar scroll-->
     </div>
     <!-- End Left Sidebar  -->

</html>