<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Left Sidebar  -->
     <div class="left-sidebar" th:fragment="leftsidebarFragment">
         <!-- Sidebar scroll-->
         <div class="scroll-sidebar">
             <!-- Sidebar navigation-->
             <nav class="sidebar-nav">
                 <ul id="sidebarnav">
                     <li class="nav-devider"></li>
                     <li class="nav-label">회원관리</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">회원관리 <span class="label label-rouded label-primary pull-right">2</span></span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="index.html">회원목록 </a></li>
                         </ul>
                     </li>
                     <li class="nav-label">메세지 관리 / 문유미</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">메세지 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/messageList}">메세지 목록 / 문유미</a></li>
                         </ul>
                     </li>
                     <li class="nav-label">게시판 관리</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">게시판 관리<span class="label label-rouded label-warning pull-right">6</span></span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">공지사항</a></li>
                             <li><a th:href="@{/boardList}">소비자 게시판 / 김채연</a></li>
                             <li><a href="#">소상공인 게시판</a></li>
                         </ul>
                     </li>
					 <li class="nav-label">신고 관리</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">신고 관리<span class="label label-rouded label-warning pull-right">6</span></span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">신고목록</a></li>
                             <li><a href="#">블랙리스트 목록</a></li>
                             <li><a href="#">게시판 신고목록</a></li>
                              <li><a href="#">리뷰 신고목록</a></li>
                         </ul>
                     </li>
                      <li class="nav-label">입점 관리</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">입점 관리<span class="label label-rouded label-warning pull-right">6</span></span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="ui-alert.html">입점 등록</a></li>
                             <li><a href="ui-button.html">입점 취소 신청 / 김지아</a></li>
                         </ul>
                     </li>
                      <li class="nav-label">매장 관리 / 김지아</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">매장 관리<span class="label label-rouded label-warning pull-right">6</span></span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="ui-alert.html">매장목록 / 김지아</a></li>
                             <li><a href="#" class="has-arrow">내 매장 관리 / 김지아 <span class="label label-rounded label-success">6</span></a>
                                 <ul aria-expanded="false" class="collapse">
                                     <li><a href="page-login.html">매장 정보 수정 / 김지아</a></li>
                                     <li><a href="#">메뉴 목록 / 김지아</a></li>
                                 </ul>
                             </li>
                         </ul>
                     </li>
                      <li class="nav-label">이벤트 관리 / 전세원</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">이벤트 관리<span class="label label-rouded label-warning pull-right">6</span></span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">이벤트 목록 / 전세원</a></li>
                         </ul>
                     </li>
                      <li class="nav-label">QnA</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">QnA<span class="label label-rouded label-warning pull-right">6</span></span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">소상공인 문의</a></li>
                             <li><a href="#">소비자 문의</a></li>
                         </ul>
                     </li>
                     <li class="nav-label">평가단/설문조사 / 전세원</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">평가단</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="#">모집 공고 / 전세원</a></li>
                             <li><a href="#">모집 신청 / 전세원</a></li>
                             <li><a href="#">모집 목록 / 전세원</a></li>
                             <li><a href="#">평가단 관리 / 전세원</a></li>
                         </ul>
                     </li>
                      <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">설문조사</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/survey/questionManage}">문항/항목 관리 / 전세원</a></li>
                             <li><a href="#">설문조사 목록 / 전세원</a></li>
                             <li><a href="#">내 설문조사 / 전세원</a></li>
                             <li><a href="#">설문조사 결과 / 전세원</a></li>
                         </ul>
                     </li>
                     <li class="nav-label">재무 관리 / 양재혁</li>
                      <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">재무관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/salesList}">매출 현황 / 양재혁</a></li>
                             <li><a th:href="@{/expenseList}">지출 목록 / 양재혁</a></li>
                             <li><a href="/#">결산 관리</a></li>
                             <li><a href="#" class="has-arrow">내 매장 관리<span class="label label-rounded label-success">6</span></a>
                                 <ul aria-expanded="false" class="collapse">
                                     <li><a href="page-login.html">통계 요약 </a></li>
                                     <li><a href="page-register.html">수익률 분석</a></li>
                                 </ul>
                             </li>
                         </ul>
                     </li>
                     <li class="nav-label">리뷰 관리</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-map-marker"></i><span class="hide-menu">리뷰 관리</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a href="map-google.html">리뷰 목록</a></li>
                         </ul>
                     </li>
                       <li class="nav-label">환경 설정</li>
                     <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-level-down"></i><span class="hide-menu">환경 설정</span></a>
                         <ul aria-expanded="false" class="collapse">
                             <li><a th:href="@{/commonMessage}">공통메세지 / 문유미</a></li>
                             <li><a href="#">포인트 소멸기준</a></li>
                             <li><a href="#">페널티 기준</a></li>
                             <li><a href="#">블랙리스트 기준</a></li>
                             <li><a href="#">금지어 목록</a></li>
                         </ul>
                     </li>
                 </ul>
             </nav>
             <!-- End Sidebar navigation -->
         </div>
         <!-- End Sidebar scroll-->
     </div>
     <!-- End Left Sidebar  -->
</html>