<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
		<!-- css -->
<style type= "text/css">
	tbody tr td{
		color: #505050;
	}
	.btn-primary{
		display : block;
		float : right;
		color: #fff;
		margin: 5px;
	}
</style>

</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">

	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card card-outline-primary">
				<div class="card-title">
					<div class="card-header">
	                	<h4 class="m-b-0 text-white">메뉴 수정하기</h4>
	                </div>
				</div>
				<form id="modifyMyMenuForm" th:action="@{/store/myStoreManage/modifyMyMenu}" method="post">
					<div class="card-body">
						<div class="basic-form">
								<div>
									<label> <span class="text-danger">*</span> 는 필수 항목입니다. </label>
								</div>
								<div class="form-group">
									<input type="text" name="menuCode" th:value="${menu.menuCode}" class="form-control" readonly="readonly">
								</div>
								<div class="form-group">
									<label>메뉴 대분류 <span class="text-danger">*</span> </label>
										<select class="form-control" id="selectMainCateCode" name="mainCateCode">
				                        	<option value=""> : : : 선택  : : : </option>
											<th:block th:each="f : ${mainCateOnly}">
				                        	<option th:value="${f.foodMainCate.mainCateCode}"
				                        			th:selected="${#strings.toString(f.foodMainCate.mainCateCode) == #strings.toString(menu.mainCateCode)}"> 
				                        			[[${f.foodMainCate.mainCateName}]]  </option>
				                        	</th:block>
											<th:block th:each="t : ${mainCateOnly2}">
				                        	<option th:value="${t.foodMainCate.mainCateCode}"> [[${t.foodMainCate.mainCateName}]] </option>
				                        	</th:block>
				                        	<option value="main_etc_cate"
				                        			th:selected="${#strings.toString(menu.mainCateCode) == 'main_etc_cate'}">
				                        			기타 </option>
				                        </select>
								</div>
								<div class="form-group">
									<label>메뉴 카테고리 <span class="text-danger">*</span> </label>
										<select class="form-control" id="selectMenuCateCode" name="menuCateCode">
				                        	<option value=""> : : : 선택  : : : </option>
				                        	<option value="m_c_main" th:selected="${menu.menuCateCode}=='m_c_main'" > 메인 메뉴 </option>
				                        	<option value="m_c_side" th:selected="${menu.menuCateCode}=='m_c_side'"> 사이드/옵션 메뉴 </option>
				                        </select>
								</div>
								<div class="form-group">
									<label>메뉴명 <span class="text-danger">*</span> </label>
									<input type="text" name="menuName" th:value="${menu.menuName}" class="form-control">
								</div>
								<div class="form-group">
									<label>가격  <span class="text-danger">*</span> </label>
									<input type="number" name="menuPrice" th:value="${menu.menuPrice}" class="form-control">
								</div>
								<div class="form-group">
									<label>상세정보</label>
									<input type="text" name="menuDetail" th:value="${menu.menuDetail}" class="form-control">
									<small class="form-control-feedback" style="color: red;"> 메뉴에 대한 정보 작성 ( 예) 떡볶이일경우 - 밀떡 ) </small>
								</div>
								<div class="form-group">
									<label>사용여부 <span class="text-danger">*</span> </label>
										<th:block th:if="${menu.menuUsing == 'Y'}">
											<select class="form-control" id="menuUsing" name="menuUsing">
				                                      <option th:text="Y" th:value="Y" selected></option>
				                                      <option th:text="N" th:value="N"></option>
				                             </select>
		                          		</th:block>
										<th:block th:unless="${menu.menuUsing == 'Y'}">
											<select class="form-control" id="menuUsing" name="menuUsing">
				                                      <option th:text="Y" th:value="Y"></option>
				                                      <option th:text="N" th:value="N" selected></option>
				                            </select>
		                            	</th:block>
								</div>
								
								<div class="form-group">
									<button type="submit" id="modifyMyMenuBtn" class="btn btn-primary btn-flat m-b-10">메뉴 수정</button>
								</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	
	
	
</th:block>					
					
<!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
    
    <script type="text/javascript">
    
   	/* 유효성검사 */ 
	$(function(){
			$('#modifyMyMenuBtn').click(function(){
				
				var mainCateCode = $('[name=mainCateCode]');
				var menuCateCode = $('[name=menuCateCode]');
				var menuName = $('[name=menuName]');
				var menuPrice = $('[name=menuPrice]');
				
				if(mainCateCode.val().trim() == ''){
					alert('메뉴 대분류를 선택해주세요.');
					return false;
					
				}else if(menuCateCode.val().trim() == ''){
					alert('메뉴 카테고리를 선택해주세요 .');
					return false;
				}
				$('#modifyMyMenuForm').submit();	
			});
		});
		
	</script>

</th:block>
</body>
</html>