<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
	<!-- css -->
<style type= "text/css">
	tbody tr td{
		color: #505050;
	}
	.btn-primary{
		display : block;
		float : right;
		color: #fff;
		margin: 5px;
	}
	.btn-danger{
		display : block;
		float : right;
		color: #fff;
		margin: 5px;
	}
</style>
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	
[[${foodmainList}]]

	<div class="row justify-content-center">
		<a th:href="@{/store/myStoremanage/myStoreModify}">
		<button type="button" class="btn btn-danger btn-flat m-b-10">나의매장 정보 수정 하기</button>
		</a>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card card-outline-primary">
				<div class="card-title">
					<div class="card-header">
	                	<h4 class="m-b-0 text-white">나의매장 정보</h4>
	                </div>
				</div>
				<div class="card-body">
					<div class="basic-form">
						<th:block th:if="${#lists.size(storeList) > 0}" th:each="f : ${foodmainList}">
								<input type="text" class="form-control" th:value="${f.mainCateName}" readonly="readonly">
						</th:block>
						
						<th:block th:if="${#lists.size(storeList) > 0}" th:each="s : ${storeList}">
							<div class="form-group">
								<label>매장명</label>
								<input type="text" class="form-control" th:value="${s.storeName}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>아이디</label>
								<input type="text" class="form-control" th:value="${s.bizId}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>전화번호</label>
								<input type="text" class="form-control" th:value="${s.storePhone}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>주소</label>
								<input type="text" class="form-control" th:value="${s.storeLocation}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>영업시간</label>
								<input type="text" class="form-control" th:value="${s.storeTime}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>메뉴대분류</label>
								<input type="text" class="form-control" th:value="${s.mainCateCode}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>휴일</label>
								<input type="text" class="form-control" th:value="${s.storeHoliday}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>매장평가단 동의여부</label>
								<input type="text" class="form-control" th:value="${s.storeTasteAgree}" readonly="readonly">
							</div>
							<div class="form-group">
								<label>매장노출여부</label>
								<input type="text" class="form-control" th:value="${s.storeExposAgree}" readonly="readonly">
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	
</th:block>					
					
<!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
</th:block>
</body>
</html>