<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
<style type= "text/css">
	tbody tr td{
		color: #505050;
	}
	.btn-primary{
		display : block;
		float : right;
		color: #fff;
		margin: 5px;
	}
	.btn-danger{
		display : block;
		float : right;
		color: #fff;
		margin: 5px;
	}
</style>

</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row justify-content-center">
		
			<div class="col-md-3">
				<select name="selectMyStore" id="selectMyStore" class="form-control">
						<option value="">: : 매장을 선택하세요 : :</option>
						<th:block th:each="s : ${storeInfo}">
						<option th:value="${s.storeCode}"> 
						[[${s.storeName}]] 
						</option>
						
				</select>
			</div>
		<button type="button" class="btn btn-danger btn-flat m-b-10 modifyMyStoreBtn">정보 수정</button>
		<button type="button" class="btn btn-danger btn-flat m-b-10 modifyMyMainMenuBtn">대분류 수정</button>
		
	</div>
	
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card card-outline-primary">
				<div class="card-title">
					<div class="card-header">
	                	<h4 class="m-b-0 text-white">나의매장 정보</h4>
	                </div>
				</div>
				<div class="card-body">
					<div class="basic-form">
					
							<div class="form-group">
								<label>매장명</label>
								<input type="text" id="storeName" name="storeName" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>아이디</label>
								<input type="text" id="bizId" name="bizId" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>전화번호</label>
								<input type="text" id="storePhone" name="storePhone" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>주소</label>
								<input type="text" id="storeLocation" name="storeLocation" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>영업시간</label>
								<input type="text" id="storeTime" name="storeTime" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>휴일</label>
								<input type="text" id="storeHoliday" name="storeHoliday" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>매장평가단 동의여부</label>
								<input type="text" id="storeTasteAgree" name="storeTasteAgree" class="form-control" readonly="readonly">
							</div>
							<div class="form-group">
								<label>매장노출여부</label>
								<input type="text" id="storeExposAgree" name="storeExposAgree" class="form-control" readonly="readonly">
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	
</th:block>					
					
<!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
    
	<script type="text/javascript">
	
	
	
	/* 매장선택하여 정보 불러오기 - ajax */
	$(function(){
    	var selStore = document.querySelector('#selectMyStore');
    	
    	selStore.addEventListener('change',function(){
    		
    		var stCode = $(this).val();
    		var request =  $.ajax({
                url: "/store/myStoreManage/myStoreInfo", //요청 주소
                method: "GET", //요청 방식
                data: { storeCode : stCode }, // input name->cateCode,  value->stName */
                dataType: "json" //받아올 포맷방식
           });   
           request.done(function(data){
        	   console.log(data);
        	   console.log(data.storeName);
        	   
        	   $('#storeName').val(data.storeName);
        	   $('#bizId').val(data.bizId);
        	   $('#storePhone').val(data.storePhone);
        	   $('#storeLocation').val(data.storeLocation);
        	   $('#storeTime').val(data.storeTime);
        	   $('#storeHoliday').val(data.storeHoliday);
        	   $('#storeTasteAgree').val(data.storeTasteAgree);
        	   $('#storeExposAgree').val(data.storeExposAgree);
        	   
           });
        	   
   		});
    	
    	/* 정보수정버튼 */
    	$(document).on('click','.modifyMyStoreBtn',function(){
    		//셀렉트박스 현재 값 
    		var storeCode = $('#selectMyStore option:selected').val();
    		console.log(storeCode);
    		
    		//select박스 선택값(매장코드) 가지고 매장수정페이지 이동
    		location.href='/store/myStoreManage/myStoreModify?storeCode=' + storeCode;
    	});
    	
    	
    	
    	/* 대분류수정 버튼 */
    	$(document).on('click','.modifyMyMainMenuBtn',function(){
    		//셀렉트박스 현재 값 
    		var storeCode = $('#selectMyStore option:selected').val();
    		console.log(storeCode);
    		
    		//select박스 선택값(매장코드) 가지고 대분류수정페이지 이동
    		location.href='/store/myStoreManage/modifyMainCate?storeCode=' + storeCode;
    	});
	});
	
	
	
	/* 유효성검사 */
	$(function(){
			$('.modifyMyStoreBtn').click(function(){
				
				var selectMyStore = $('[name=selectMyStore]');
				
				if(selectMyStore.val().trim() == ''){
					alert('매장을 선택해주세요');
					return false;
				}
			});
		});
	$(function(){
			$('.modifyMyMainMenuBtn').click(function(){
				
				var selectMyStore = $('[name=selectMyStore]');
				
				if(selectMyStore.val().trim() == ''){
					alert('매장을 선택해주세요');
					return false;
				}
			});
		});
	
	
	
	
	</script>
    
    
</th:block>
</body>
</html>