<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="card card-outline-primary" >
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="card-header" >
					<h4 class="m-b-0 text-white" ><i class="ti-menu"></i> 내 매장 관리  </h4>
				</div>
				
				<div class="card">
					<div class="card-title" >
						<h4>전체 검색 </h4> 
					</div>
					<div class="card-content">
					<div class="basic-form">
						<form>
							<div class="todo-list">
								<div class="tdl-holder">
									<div class="tdl-content">
										<ul id="questionUl">
										</ul>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-flat">
									<input id="stCode" type="text" class="form-control" placeholder="문항을 입력하세요" value="접속 중인 ID : ID001" readonly="readonly" style="text-align: center;">
									<button type="button" class="btn btn-primary" id="storeSearch"> 매장 선택 </button><!-- <a href="javascript:void(0)" class="btn btn-primary" type="button"><i class="ti-search"></i>  매장 선택</a> -->
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>
				
					<div class="form-group">
						<label for="title" style="margin-top: 30px; font-weight:bold;">상점코드</label>
						<input class="form-control" id="title" name="title" placeholder=${/SID} readonly="readonly">
					</div>
					
					<div class="form-group">
						<label for="address" style="font-weight:bold;">주소</label>
						<input class="form-control" id="storeLocation" name="address" placeholder="Business Location!!" readonly="readonly" >
					</div>
				
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">사업주 이름</label>
						<input class="form-control" id="bizName" placeholder="사업주의 이름!!" readonly="readonly">
					</div>
				
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">상호명</label>
						<input class="form-control" id="storeName" placeholder="상호의 이름!!" readonly="readonly">
					</div>
				
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">메뉴 분류 코드</label>
						<input class="form-control" id="menuCate" placeholder="메뉴분류!!" readonly="readonly">
					</div>
				<!-- <div class="box-body" style="padding-top: 20px;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 30px; font-style: italic; font-weight: bold;">Check</th>
								<th style="width: 120px; font-weight: bold;">매장코드</th>
								<th style="font-weight: bold;">내용</th>
								<th style="width: 120px; font-weight: bold;">가격</th>
								<th style="width: 150px;  font-weight: bold;">등록시간</th>
								<th style="width: 150px;  font-weight: bold;">등록자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(salesList) > 0}" th:each=" s : ${salesList}">
								<td> # </td>
								<td th:text="${s.storeCode}"></td>
								<td th:text="${s.salesName}"></td>
								<td th:text="${s.salesPrice}"></td>
								<td th:text="${s.salesRegTime}"></td>
								<td th:text="${s.closeTime}"></td>
							</tr>
						</tbody>
					</table>
				</div> -->
				<div class="box-footer">
					<div class="pull-right">
						<a th:href="@{/account/mystore}" class="btn btn-success btn-flat" style="margin-top: 15px;">
							<i class="fa fa-pencil"></i> 재무관리
							<script>
							 alert( "매장이 확인되었습니다." );
							</script>
						</a>
						
					</div>
					<div class="pull-left">
						<a href="#" class="btn btn-primary" style="margin-top: 15px;">
							<i class="fa fa-check"></i> 컨설팅요청
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 검색기능 -->
				<!-- Main content -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-2">
			                        <!-- select -->
				                        <div class="form-group" >
				                            <select class="custom-select levelSearchKey" style="height: 42px; text-align: center;">
				                                <option	value="">전체</option>
				                                <option value="storeCode">매장코드</option>
				                                <option value="storeName">매장명</option>
				                                <option value="bizName">사업주명</option>
				                            </select>
				                        </div>
	                    			</div>
				                    <div class="col-sm-8">
				                        <!-- text input -->
				                        <div class="form-group">
				                            <input type="text" name="storeSearch" class="form-control" placeholder="검색어를 입력하세요." style="height: 42px; text-align: center;">
				                        </div>
				                    </div>
				                    <div class="col-sm-2">
				                        <!-- text input -->
				                        <div class="form-group">
				                            <button type="button" class="btn btn-block btn-outline-success btn-md" id="storeSearch" style="height: 42px; font-weight:bold; text-align: center;">검색</button>
				                        </div>
				                    </div>
				                    <!-- <div class="col-sm-5">
										<div class="form-group">
											<label>기간 검색</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"> 
														<i class="fa fa-pencil"></i>
													</span>
												</div>
												<input type="text" class="form-control float-right" id="storeSearch" placeholder="기간을 입력해주세요.    ( YY - MM - DD ) ~ ( YY - MM - DD )" style="font-weight:bold; text-align: center;">
												<input type="hidden" id="startDate"/>
												<input type="hidden" id="endDate"/>
											</div>
											/.input group
										</div>
									</div> -->
	                			</div>
	            			</div>
		              	<!-- /.card-header -->
						<div class="card-body">
		                	<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
						<div class="row">
							<div class="col-sm-12">
								<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
								<h2 style="font-weight:bold; color: red;"><i class="fa fa-check"></i>  매출 테이블</h2>
									<thead>
										<tr role="row">
		                  					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=": activate to sort column descending">No.</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="No.: activate to sort column ascending">매장 코드</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="매장코드: activate to sort column ascending">매출 명</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="내용: activate to sort column ascending">매출 금액</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="상호명: activate to sort column ascending">해당 월</th>
										</tr>
		                  			</thead>
		                  			<tbody id="SalesStatisticsTbody">
										<tr>
											<td><input type="checkbox" name="chk_info" value="No"></td>
											<td>매장코드 입력</td>
											<td>메뉴이름 입력</td>
											<td>메뉴가격 입력</td>
											<td>해당 월 입력</td>
										</tr>	                  			
		                  			</tbody>
								</table>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-12">
								<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
								<h2 style="font-weight:bold; color: blue;"><i class="fa fa-check"></i>  지출 테이블</h2>
									<thead>
										<tr role="row">
		                  					<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=": activate to sort column descending">No.</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="No.: activate to sort column ascending">매장 코드</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="매장코드: activate to sort column ascending">지출 명</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="내용: activate to sort column ascending">지출 금액</th>
							                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="상호명: activate to sort column ascending">해당 월</th>
										</tr>
		                  			</thead>
		                  			<tbody id="expenseStatisticsTbody">
										<tr>
											<td><input type="checkbox" name="chk_info" value="No"></td>
											<td>매장코드 입력</td>
											<td>메뉴이름 입력</td>
											<td>메뉴가격 입력</td>
											<td>해당 월 입력</td>
										</tr>	                  			
		                  			</tbody>
								</table>
							</div>
						</div>
						<br>
							<div class="row">
								<div class="col-sm-12 col-md-5">
									<div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 16 entries</div>
								</div>
			                	<div class="col-sm-12 col-md-7">
				                	<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
										<ul class="pagination">
											<li class="paginate_button page-item previous disabled" id="example1_previous">
												<a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">이전</a>
											</li>
				                			<li class="paginate_button page-item active">
				                				<a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a>
				                			</li>
				                			<li class="paginate_button page-item next" id="example1_next">
				                				<a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">다음</a>
				                			</li>
				                		</ul>
				                	</div>
			                	</div>
							</div>
		                </div>
					</div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	          <!-- /.col -->
	        </div>
	        <!-- /.row -->
	
	
	
	<!-- Modal -->
	<div class="modal fade" id="storeSearchModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Modal title</h4>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>
				
</th:block>

<th:block layout:fragment="customJsLib">
    <script th:inline="javascript">
	    /*<![CDATA[*/
		var storeCode = [[${session.STCODE}]];
		/*]]>*/ 	
    </script> 
    
    
    <script type="text/javascript">
                                    
    $(function(){
    	/* modal title내에 이름 입력  */
      $(document).on('click', '.storeBtn', function(){
    	 	var storeCode = $(this).text();
    	  	// 넣는 위치
    		$('#title').val(storeCode);
    		$('#storeLocation').val($(this).parent().parent().find('[name=T1]').text());
    		$('#bizName').val($(this).parent().parent().find('[name=T2]').text());
    		$('#storeName').val($(this).parent().parent().find('[name=T3]').text());
    		$('#menuCate').val($(this).parent().parent().find('[name=T4]').text());
    		Swal.close();
    		
    		//ajax호출 (매출)
    		var request =  $.ajax({
                url: "/account/myStoreSalesStatistics", //요청 주소
                method: "POST", //요청 방식
                data: { "storeCode" : storeCode }, // input name->cateCode,  value->stName */
                dataType: "json" //받아올 포맷방식
            });
    		request.done(function(data){
    			
    		console.log("매출"+JSON.stringify(data));
    		
    		
    		$('#SalesStatisticsTbody').html('');
    		
    		var SalesStatisticsListLength = data.length;
    		var SalesStatisticsContent = '';
    		
    		for(var k=0; k<SalesStatisticsListLength; k++){           		
    			SalesStatisticsContent += '	<tr>';
    			SalesStatisticsContent += '		<td>' + (k+1) + '</td>';
    			SalesStatisticsContent += '		<td>' + data[k].storeCode + '</td>';
    			SalesStatisticsContent += '		<td>' + data[k].menuName + '</td>';
    			SalesStatisticsContent += '		<td>' + data[k].menuPrice + '</td>';
    			SalesStatisticsContent += '		<td>' + data[k].month + '</td>';
    			SalesStatisticsContent += '	</tr>';
           	}
    		$('#SalesStatisticsTbody').html(SalesStatisticsContent);
		
                var storeListLength = data.length;
                
                var content= '';
                content += '<table class="table table-bordered" style="height:100px">';
                content += '	<thead>';
               	content += '		<tr>';
               	content += '			<th >상점코드</th>';
               	content += '			<th >매뉴 이름</th>';
               	content += '			<th >매뉴 코드 Code</th>';
               	content += '			<th >매뉴 가격</th>';
               	content += '			<th >해당 월</th>';
               	content += '		</tr>';
               	content += '	</thead>';
               	content += '	<tbody>';
               	
               	for(var k=0; k<storeListLength; k++){           		
    	           	content += '	<tr>';
    	           	content += '		<td><a href="javascript:void(0)" class="storeBtn">' + data[k].storeCode + '</a></td>';
    	           	content += '		<td>' + data[k].menuName + '</td>';
    	           	content += '		<td>' + data[k].menuCode + '</td>';
    	           	content += '		<td>' + data[k].menuPrice + '</td>';
    	           	content += '		<td>' + data[k].month + '</td>';
    	           	content += '	</tr>';
               	}
               	content += '	</tbody>';
               	content += '</table>';
    		});
    		
    		
    		//ajax호출 (지출)
    		var request =  $.ajax({
                url: "/account/myStoreExpenseStatistics", //요청 주소
                method: "POST", //요청 방식
                data: { "storeCode" : storeCode }, // input name->cateCode,  value->stName */
                dataType: "json" //받아올 포맷방식
            });
    		request.done(function(data){
    			
    		console.log("지출"+JSON.stringify(data));
    		console.log("0번재 데이터"+data[0].storeCode);

    		
    		
    		$('#expenseStatisticsTbody').html('');
    		
    		var ExpenseStatisticsListLength = data.length;
    		var ExpenseStatisticsContent = '';
    		
    		for(var l=0; l<ExpenseStatisticsListLength; l++){           		
    			ExpenseStatisticsContent += '	<tr>';
    			ExpenseStatisticsContent += '		<td>' + (l+1) + '</td>';
    			ExpenseStatisticsContent += '		<td>' + data[l].storeCode + '</td>';
    			ExpenseStatisticsContent += '		<td>' + data[l].expenseItem + '</td>';
    			ExpenseStatisticsContent += '		<td>' + data[l].expenseDetail + '</td>';
    			ExpenseStatisticsContent += '		<td>' + data[l].expensePrice + '</td>';
    			ExpenseStatisticsContent += '	</tr>';
           	}
    		$('#expenseStatisticsTbody').html(ExpenseStatisticsContent);
		
                var storeListLength = data.length;
                
                var content= '';
                content += '<table class="table table-bordered" style="height:100px">';
                content += '	<thead>';
               	content += '		<tr>';
               	content += '			<th >상점코드</th>';
               	content += '			<th >매뉴 이름</th>';
               	content += '			<th >매뉴 코드 Code</th>';
               	content += '			<th >매뉴 가격</th>';
//                	content += '			<th >해당 월</th>';
               	content += '		</tr>';
               	content += '	</thead>';
               	content += '	<tbody>';
               	
               	for(var l=0; l<storeListLength; l++){           		
    	           	content += '	<tr>';
    	           	content += '		<td>' + data[l].storeCode + '</a></td>';
    	           	content += '		<td>' + data[l].expenseItem + '</td>';
    	           	content += '		<td>' + data[l].expenseDetail + '</td>';
    	           	content += '		<td>' + data[l].expensePrice + '</td>';
//     	           	content += '		<td>' + data[l].month + '</td>';
    	           	content += '	</tr>';
               	}
               	content += '	</tbody>';
               	content += '</table>';
    		});
      });
  
     
		
    
    
    	/*	$('#storeLocation').val($(this)text());
    		$('#bizName').val($(this).text());
    		$('#storeName').val($(this).text());
    		$('#mainCateCode').val($(this).text()); */
    	
      
      $('#storeSearch').on('click',function(){
         
         var storeLocation = $(this).attr('data-menuCode');     
         var request =  $.ajax({
              url: "/account/mystoreList", //요청 주소
              method: "GET", //요청 방식
              data: { "storeCode" : storeCode }, // input name->cateCode,  value->stName */
              dataType: "json" //받아올 포맷방식
         });   
         request.done(function(data){
        	
            
            var storeListLength = data.length;
            
            
            var content= '';
            content += '<table class="table table-bordered" style="height:100px">';
            content += '	<thead>';
           	content += '		<tr>';
           	content += '			<th >회원 상점코드</th>';
           	content += '			<th >위치</th>';
           	content += '			<th >사업자 Code</th>';
           	content += '			<th >상호명</th>';
           	content += '			<th >메뉴분류</th>';
           	content += '		</tr>';
           	content += '	</thead>';
           	content += '	<tbody>';
           	
           	for(var i=0; i<storeListLength; i++){           		
	           	content += '	<tr>';
	           	content += '		<td><a href="javascript:void(0)" class="storeBtn">' + data[i].storeCode + '</a></td>';
	           	content += '		<td name="T1">' + data[i].storeLocation + '</td>';
	           	content += '		<td name="T2">' + data[i].bizCode + '</td>';
	           	content += '		<td name="T3">' + data[i].storeName + '</td>';
	           	content += '		<td name="T4">' + data[i].mainCateCode + '</td>';
	           	content += '	</tr>';
           	}
           	content += '	</tbody>';
           	content += '</table>';
           	
            
            Swal.fire({
					// className : 'red-bg', // 클래스 이름 지정, 즉 css 지정 가능
					title : '나의 상점 리스트',
					closeOnClickOutside: false, 
					html:content,
					showConfirmButton:false,
					width: 1000,
         	});
         	/*
         	.then(function(result){
         		console.log(result);
         	});
            */
		 });
         request.fail(function( jqXHR, textStatus){
             alert( "권한이 없습니다." );
             
         }); 
	 });
    });
    </script> 
    
</th:block>

</html>