<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="card card-outline-primary" >
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="card-header" >
					<h4 class="m-b-0 text-white" ><i class="ti-menu"></i> 내 매장 관리  </h4>
				</div>
				
				<div class="card">
					<div class="card-title" >
						<h4>전체 검색</h4> 
					</div>
					<div class="card-content">
					<div class="basic-form">
						<form>
							<div class="todo-list">
								<div class="tdl-holder">
									<div class="tdl-content">
										<ul id="questionUl">
										</ul>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-flat">
									<input id="stCode" type="text" class="form-control" placeholder="문항을 입력하세요" value="내 매장 코드 : ID001" readonly="readonly" style="text-align: center;">
									<button type="button" class="btn btn-primary" id="storeSearch"> 매장 선택 </button><!-- <a href="javascript:void(0)" class="btn btn-primary" type="button"><i class="ti-search"></i>  매장 선택</a> -->
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>
				
					<div class="form-group">
						<label for="title" style="margin-top: 30px; font-weight:bold;">상점코드</label>
						<input class="form-control" id="title" name="title" placeholder=${/SID} readonly="readonly">
					</div>
					
					<div class="form-group">
						<label for="address" style="font-weight:bold;">주소</label>
						<input class="form-control" id="storeLocation" name="address" placeholder="Business Location!!" readonly="readonly" >
					</div>
				
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">사업주이름</label>
						<input class="form-control" id="bizName" placeholder="사업주의 이름!!" readonly="readonly">
					</div>
				
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">상호명</label>
						<input class="form-control" id="storeName" placeholder="상호의 이름!!" readonly="readonly">
					</div>
				
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">메뉴분류</label>
						<input class="form-control" id="menuCate" placeholder="메뉴분류!!" readonly="readonly">
					</div>
				<div class="box-body" style="padding-top: 20px;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 30px; font-style: italic; font-weight: bold;">Check</th>
								<th style="width: 120px; font-weight: bold;">매장코드</th>
								<th style="font-weight: bold;">내용</th>
								<th style="width: 120px; font-weight: bold;">가격</th>
								<th style="width: 150px;  font-weight: bold;">등록시간</th>
								<th style="width: 150px;  font-weight: bold;">등록자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(salesList) > 0}" th:each=" s : ${salesList}">
								<td> # </td>
								<td th:text="${s.storeCode}"></td>
								<td th:text="${s.salesName}"></td>
								<td th:text="${s.salesPrice}"></td>
								<td th:text="${s.salesRegTime}"></td>
								<td th:text="${s.closeTime}"></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="chk_info" value="No"></td>
								<td>store01</td>
								<td>짬뽕밥</td>
								<td>15000</td>
								<td>14:00</td>
								<td>김경수</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="chk_info" value="No"></td>
								<td>store01</td>
								<td>김치찜</td>
								<td>1145000</td>
								<td>14:00</td>
								<td>김경수</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="chk_info" value="No"></td>
								<td>store01</td>
								<td>계란후라이</td>
								<td>112145000</td>
								<td>14:00</td>
								<td>김경수</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="chk_info" value="No"></td>
								<td>store01</td>
								<td>판타지오</td>
								<td>41450001</td>
								<td>14:00</td>
								<td>김경수</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="chk_info" value="No"></td>
								<td>store01</td>
								<td>하이닉스</td>
								<td>145645</td>
								<td>14:00</td>
								<td>김경수</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					<div class="pull-right">
						<a th:href="@{/account/mystore}" class="btn btn-success btn-flat" style="margin-top: 15px;">
							<i class="fa fa-pencil"></i> 매출추가
							<script>
							 alert( "매장이 확인되었습니다." );
							</script>
						</a>
					</div>
					<div class="pull-left">
						<a th:href="@{/account/mystore}" class="btn btn-primary" style="margin-top: 15px;">
							<i class="fa fa-check"></i> 마감완료
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="storeSearchModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Modal title</h4>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>
				
</th:block>

<th:block layout:fragment="customJsLib">
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
    
    <script th:inline="javascript">
	    /*<![CDATA[*/
		var storeCode = [[${session.STCODE}]];
		/*]]>*/ 	
    </script> 
    
    
    <script type="text/javascript">
                                    
    $(function(){
    	/* modal title내에 이름 입력  */
      $(document).on('click', '.storeBtn', function(){
    	  // 넣는 위치
    		$('#title').val($(this).text());
    	Swal.close();	
      });
  
    	/*	$('#storeLocation').val($(this)text());
    		$('#bizName').val($(this).text());
    		$('#storeName').val($(this).text());
    		$('#mainCateCode').val($(this).text()); */
    	
      
      $('#storeSearch').on('click',function(){
         
         var storeLocation = $(this).attr('data-menuCode');     
         var bizName = $(this).val();      
         var storeName = $(this).val();      
         var menuCate = $(this).val();      
         
         var request =  $.ajax({
              url: "/account/mystoreList", //요청 주소
              method: "GET", //요청 방식
              data: { "storeCode" : storeCode }, // input name->cateCode,  value->stName */
              dataType: "json" //받아올 포맷방식
         });   
         request.done(function(data){
        	
            
            var storeListLength = data.length;
            
            
            var content= '';
            content += '<table class="table table-bordered">';
            content += '	<thead>';
           	content += '		<tr>';
           	content += '			<th > 회원 상점코드</th>';
           	content += '			<th >위치</th>';
           	content += '			<th >사업자 Code</th>';
           	content += '			<th >상호명</th>';
           	content += '			<th >메뉴분류</th>';
           	content += '		</tr>';
           	content += '	</thead>';
           	content += '	<tbody>';
           	
           	for(var i=0; i<storeListLength; i++){           		
	           	content += '	<tr>';
	           	content += '		<td><a href="javascript:void(0)" class="storeBtn">' + data[i].storeCode + '</a></td>';
	           	content += '		<td>' + data[i].storeLocation + '</td>';
	           	content += '		<td>' + data[i].bizCode + '</td>';
	           	content += '		<td>' + data[i].storeName + '</td>';
	           	content += '		<td>' + data[i].mainCateCode + '</td>';
	           	content += '	</tr>';
           	}
           	content += '	</tbody>';
           	content += '</table>';
           	
           	/*
            content += '<h3><text class="text" style="color : #A9A9F5; font-weight: bold;"> 회원 상점코드 : </text>' + data.store_code;
            content += '<br> <text class="text" style="color : #A9A9F5; font-weight: bold;" > 사업자ID : </text>' + data.biz_id;
            content += '<br> <text class="text" style="color : #A9A9F5; font-weight: bold;"> 상호명 : </text>' + data.store_name;
            content += '<br> <text class="text" style="color : #A9A9F5; font-weight: bold;"> 위치 : </text>' + data.store_location;
            content += '<br> <text class="text" style="color : #A9A9F5; font-weight: bold;"> 메뉴분류 : </text>' + data.main_cate_code; + '</h3>'
         	*/
                        
            //Swal.fire(html); 
            
            Swal.fire({
					// className : 'red-bg', // 클래스 이름 지정, 즉 css 지정 가능
					title : '나의 상점 리스트',
					closeOnClickOutside: false, 
					html:content,
					showConfirmButton:false
         	});
         	/*
         	.then(function(result){
         		console.log(result);
         	});
            */
		 });
         request.fail(function( jqXHR, textStatus){
             alert( "매장이 확인되었습니다." );
             
         }); 
	 });
    });
    </script> 
    
</th:block>

</html>