<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="card card-outline-primary" >
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="card-header" >
					<h4 class="m-b-0 text-white" ><i class="ti-menu"></i> 지출 현황  </h4>
				</div>
				
				
				
				
				
				
				<div class="card">
					<div class="card-title" >
						<h4>지출 검색</h4> 
					</div>
					<div class="card-content">
					<div class="basic-form">
						<form>
							<div class="todo-list">
								<div class="tdl-holder">
									<div class="tdl-content">
										<ul id="questionUl">
										</ul>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-flat">
									<input type="text" class="form-control" placeholder="문항을 입력하세요">
									<a th:href="@{/expenseList}" class="btn btn-primary" type="button"><i class="ti-search"></i>  검색</a>
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>
				
					<div class="form-group">
						<label for="title" style="margin-top: 30px; font-weight:bold;">매장코드</label>
						<input class="form-control" id="title" name="title" placeholder=${/SESSION} readonly="readonly">
					</div>
					
					<div class="form-group">
						<label for="writer" style="font-weight:bold;">권한</label>
						<input class="form-control" id="memberLevel" name="memberLevel" placeholder="판매자 권한" readonly="readonly">
					</div>
				
				
				
				<div class="box-body" style="padding-top: 20px;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 30px; font-style: italic; font-weight: bold;">No</th>
								<th style="font-weight: bold;">내용</th>
								<th style="width: 120px; font-weight: bold;">매장코드</th>
								<th style="width: 120px; font-weight: bold;">가격</th>
								<th style="width: 150px;  font-weight: bold;">등록시간</th>
								<th style="width: 150px;  font-weight: bold;">마감시간</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(expenseList) > 0}" th:each=" e : ${expenseList}">
								<td> # </td>
								<td th:text="${e.storeCode}"></td>
								<td th:text="${e.salesName}"></td>
								<td th:text="${e.salesPrice}"></td>
								<td th:text="${e.salesRegTime}"></td>
								<td th:text="${e.closeTime}"></td>
							</tr>
							<tr>
								<td>1</td>
								<td>인건비</td>
								<td>store01</td>
								<td>15000</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>2</td>
								<td>재료비</td>
								<td>store01</td>
								<td>1145000</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>3</td>
								<td>판타지오</td>
								<td>store01</td>
								<td>112145000</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>4</td>
								<td>STS</td>
								<td>store01</td>
								<td>41450001</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
							<tr>
								<td>5</td>
								<td>KSMART</td>
								<td>store01</td>
								<td>145645</td>
								<td>14:00</td>
								<td>24:00</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					<div class="pull-right">
						<a th:href="@{/addExpense}" class="btn btn-success btn-flat" style="margin-top: 15px;">
							<i class="fa fa-pencil"></i> 지출추가
						</a>
					</div>
					<div class="pull-left">
						<a th:href="@{/addExpense}" class="btn btn-primary" style="margin-top: 15px;">
							<i class="fa fa-check"></i> 마감완료
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>