<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">


	<!-- start searchbar page -->
	
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					
					<div class="form-group">
								<div class="input-group input-group-flat">
									<span class="input-group-btn">
										<button class="btn btn-warning" type="submit">
											<i class="ti-map"></i>
										</button>
									</span>
									<input type="text" class="form-control" name="placeInput"placeholder="건물명, 도로명 또는 지번으로 검색">
									<span class="input-group-btn">
										<button class="btn btn-info" name="place" type="submit" id="placeBtn">
											<i class="ti-search"></i>
										</button>
									</span>
								</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- end searchbar page -->

	<!-- start menu cate -->
	<div class="row">
		<div class="col-3">
			<div class="card">
				<div class="card-body">
					<div class="row justify-content-between">
						<div class="col-lg-12">
							<div class="card-content">
								<button type="button" class="btn btn-danger" style="font-family: 'Gowun Batang', serif;">카테고리</button>
                                	
                                	<ul class="list-group list-group-flush" style="font-family: Gowun Batang, serif;">
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 아시안
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 카페,디저트
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 치킨
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 중식
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 햄버거
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 횟집
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 일식
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 한식
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 도시락
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 야식
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 보양식
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 유기농
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 피자
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 주점
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 혼밥
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 분식
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 비건
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 양식
	                                	</li>
	                                    <li class="list-group-item">
	                                    	 <i class="ti-quote-left"></i> 기타
	                                	</li>
	                                </ul>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	
 	<!-- end menu cate -->
	
	
	
	<!-- start store info -->
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<div class="row justify-content-between">
					
						<!-- start 상점목록 -->
						<th:block th:if="${#lists.size(mainList) > 0}" th:each="l : ${mainList}">
								<div class="col-lg-4">
									<div class="card-content">
											<div class="card">
												<div class="card-header text-sm-center">
														
												<!-- start ajax -->
												<button type="button" class="btn btn-danger btn sweet-wrong storeInfo" 
												th:text="${l.storeName}" 
												th:value="${l.storeName}"
												>
												</button>
																								
												</div>
												<div class="card-body">
													<div class="mx-auto d-block">
														<!-- <img class="rounded-circle mx-auto d-block" src="images/admin.jpg" alt="상점이미지"> -->
														<h5 class="text-sm-center mt-2 mb-1" th:text="${l.storePhone}">전화번호</h5>
														
														
															<div class="location text-sm-center">
																<i class="fa fa-star"></i> 
																4.5
															</div>
													<hr>		
															<div class="card-text text-sm-center">
																<i class="ti-user" style="color: pink;"></i><p>
																<h6> 현재 대기인원은 </h6>
																<h6 class="text-sm-center mt-2 mb-1" th:text="${l.waiting.waitNum + ' 명입니다'}">대기인원</h6>
																
															</div>
													</div>
													<hr>
													<div class="card-text text-sm-center">
														<a th:href="@{/book/addBookMember(storeName=${l.storeName})}">
														<button type="button" class="btn btn-outline-danger btn-sm">예약/주문하기</button>
														</a>
													</div>
													
												</div>
											</div>
										</div>
									</div>
								
						</th:block>
						<!-- start 상점목록 -->

							
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end store info -->


	


</th:block>

<th:block layout:fragment="customJsLib">
	<script th:src="@{/js/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/lib/owl-carousel/owl.carousel-init.js}"></script>
    
    
    
    <!-- 스윗얼랏 ajax 자바스크립트 -->
    <script type="text/javascript">
												
	    $(function(){
	    	
			$('.storeInfo').click(function(){
				
				var stName = $(this).val();		
				var request =  $.ajax({
					  url: "/storeList", //요청 주소
					  method: "GET", //요청 방식
					  data: { storeName : stName }, // input name->cateCode,  value->stName
					  dataType: "json" //받아올 포맷방식
				});	
				request.done(function(data){
					
					console.log(data);
					console.log(data.storeName, data.storePhone, data.storeHoliday, data.storeLocation, data.storeTime);
					
					var htmml= '';
					
					htmml += '<br><span class="ti-comments-smiley"></span> ' + '<text style="font-family: Jua, sans-serif; font-size:40px">' + data.storeName + '</text>';
					htmml += '<br><br> <text class="text-info" style="font-family: Jua, sans-serif;"> 주소 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeLocation + '</text>';
					htmml += '<br> <text class="text-info" style="font-family: Jua, sans-serif;"> 전화번호 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storePhone + '</text>';
					htmml += '<br> <text class="text-info" style="font-family: Jua, sans-serif;"> 영업시간 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeTime + '</text>';
					htmml += '<br> <text class="text-danger" style="font-family: Jua, sans-serif;"> 휴일 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeHoliday + '</text>';
									
					Swal.fire(htmml);
				
				});
				request.fail(function( jqXHR, textStatus){
					 alert( "Request failed: " + textStatus );
				});
			});
		});

	
	
	<!-- 주소검색버튼 유효성검사 -->

	$(function(){
		$('#placeBtn').click(function(){
			var plaIn = $('[name=placeInput]');
			
			//유효성검사
			if(plaIn.val().trim() == ''){
				alert('주소를 입력해주세요.');
				plaIn.focus();
				return;
			}
		$('#').submit();	
		});
	});
	
    </script>
	
    
</th:block>
</html>