<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
	
<!-- css -->
<style type= "text/css">

	.btn-pink{
		background-color:transparent;
		font-family: 'Gowun Batang', serif;
	}
</style>
	
	
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">


	<form th:action = "@{/}" method="get" id="searchForm">
		<!-- 주소검색 start -->
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="card">
					<div class="form-group" style="margin-bottom: 0px;">
							<span class="badge badge-dark">
							<i class="ti-info-alt"> 아래 주소검색 입력란을 클릭하여 주소를 검색 후, 카테고리를 클릭하면 해당 매장 리스트가 검색됩니다.</i>
							</span>
							<div class="input-group input-group-flat">
								<input type="text" id="address_kakao" class="form-control" name="placeAddress" placeholder="건물명, 도로명 또는 지번으로 검색" th:value="${#strings.isEmpty(placeAddress)?'':placeAddress}">
								<input type="hidden" id="seach_place" class="form-control" name="placeInput" placeholder="건물명, 도로명 또는 지번으로 검색" th:value="${#strings.isEmpty(placeAddress)?'':placeAddress}">
							</div>
						
					</div>
					<div class="card" style="background-image: url('images/addresswhere.png'); width: 100%; height: 0; padding-top: calc(320 / 1382 * 100%); background-repeat:no-repeat; background-size: cover; background-position: center;">
					</div>
				</div>
			</div>
		</div>
		<!-- 주소검색 end -->
		
	
		<!-- start menu cate -->
		
		<div class="row">
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<div class="row justify-content-between">
							<div class="col-lg-12">
								<div class="card-content">
									<span class="badge badge-danger" style="height: 25px; padding-top: 8px;">
									<i class="ti-angle-down"> 카테고리 </i>
									</span>
	                                	
	                                	<ul>
		                                    <th:block th:if="${#lists.size(mainCate) > 0}" th:each="c : ${mainCate}">
		                                    <li class="list-group-item">
		                                    	 <i class="ti-quote-left"></i>
		                                    	 <button name="mainCateCode" type="button" class="mainCateBtn btn btn-pink" id="mainCateBtn"
		                                    	  		 th:text="${c.mainCateName}" 
														 th:data-mainCateCode="${c.mainCateCode}">
												 </button>
		                                	</li>
		                                   	</th:block>
		                                </ul>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		
	 	<!-- end menu cate -->
		
		
		
		<!-- start store info -->
			<div class="col-9">
				<div class="card">
					<div class="card-body">
						<div class="row justify-content-between">
						
							<!-- start 상점목록 -->
							<th:block th:if="${#lists.size(mainList) > 0}" th:each="l : ${mainList}">
									<div class="col-lg-4">
										<div class="card-content">
												<div class="card">
													<div class="card-header text-sm-center">
															
													<!-- start ajax -->
													<button type="button" class="btn btn-danger btn sweet-wrong storeInfo" 
													th:text="${l.storeName}" 
													th:value="${l.storeName}"
													>
													</button>
																									
													</div>
													<div class="card-body">
														<div class="mx-auto d-block">
															<!-- <img class="rounded-circle mx-auto d-block" src="images/admin.jpg" alt="상점이미지"> -->
															<h5 class="text-sm-center mt-2 mb-1" th:text="${l.storePhone}">전화번호</h5>
															
															
																<div class="location text-sm-center">
																		<i class="fa fa-star"></i> 
																		4.5
																</div>
														<hr>		
																<div class="card-text text-sm-center">
																	<i class="ti-user" style="color: pink;"></i><p>
																	<h6> 현재 대기인원은 </h6>
																	<h6 class="text-sm-center mt-2 mb-1" th:text="${l.waiting.waitNum + ' 명입니다'}">대기인원</h6>
																	
																</div>
														</div>
														<hr>
														<div class="card-text text-sm-center">
															<a th:href="@{/book/addBookMember(storeName=${l.storeName})}">
															<button type="button" class="btn btn-outline-danger btn-sm bookBtn">예약/주문하기</button>
															</a>
														</div>
														
													</div>
												</div>
											</div>
										</div>
									
							</th:block>
							<!-- start 상점목록 -->
							
							
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- end store info -->


	


</th:block>

<th:block layout:fragment="customJsLib">
	<script th:src="@{/js/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/lib/owl-carousel/owl.carousel-init.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c96f24708bcaeb6b92031a20b7e4b518&libraries=services"></script>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>

    
        
    
    
    <script type="text/javascript">
   
	
	/* 카테고리 버튼 유효성검사 */
	$(function(){
		$('.mainCateBtn').click(function(){
			var plaInp = $('[name=placeInput]');
			
			//유효성검사
			if(plaInp.val().trim() == ''){
				alert('주소를 먼저 입력 후 카테고리를 선택해주세요.');
				return false;
			}
			var mainCateCode = $(this).attr('data-mainCateCode');
			console.log(mainCateCode)
			$('#searchForm').append($('<input/>', {type: 'hidden', name: 'mainCateCode', value:mainCateCode }));
			
			$('#searchForm').submit();
		});
	});

    
	/* 카카오 주소검색 api */
	
    window.onload = function(){
        document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function(data) { //선택시 입력값 세팅
                	console.log(data.address)
                    document.getElementById("address_kakao").value = data.address; // 주소 넣기
                    document.getElementById("seach_place").value = data.bname; // 주소 넣기
                }
            }).open();
        });
    }
    
	
	
	/* 스윗얼랏 ajax */				
	
	    $(function(){
	    	
			$('.storeInfo').click(function(){
				
				var stName = $(this).val();		
				var request =  $.ajax({
					  url: "/storeList", //요청 주소
					  method: "GET", //요청 방식
					  data: { storeName : stName }, // input name->cateCode,  value->stName
					  dataType: "json" //받아올 포맷방식
				});	
				request.done(function(data){
					
					console.log(data);
					console.log(data.storeName, data.storePhone, data.storeHoliday, data.storeLocation, data.storeTime);
					
					var htmml= '';
					
					htmml += '<br><span class="ti-comments-smiley"></span> ' + '<text style="font-family: Jua, sans-serif; font-size:40px">' + data.storeName + '</text>';
					htmml += '<br><br> <text class="text-info" style="font-family: Jua, sans-serif;"> 주소 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeLocation + '</text>';
					htmml += '<br> <text class="text-info" style="font-family: Jua, sans-serif;"> 전화번호 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storePhone + '</text>';
					htmml += '<br> <text class="text-info" style="font-family: Jua, sans-serif;"> 영업시간 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeTime + '</text>';
					htmml += '<br> <text class="text-danger" style="font-family: Jua, sans-serif;"> 휴일 : </text>' + '<text style="font-family: Jua, sans-serif;">' + data.storeHoliday + '</text>';
					htmml += '<br> <text class="text-warning" style="font-family: Jua, sans-serif;"> 현재 예약 가능 상태 : </text>' + '<text style="font-family: Jua, sans-serif;"> 가능  </text>';
									
					Swal.fire(htmml);
				
				});
				request.fail(function( jqXHR, textStatus){
					 alert( "Request failed: " + textStatus );
				});
			});
		});


    </script>
	
    
</th:block>
</html>