<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<th:block layout:fragment="customCss">
</th:block>
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customJs">
	<script th:src="@{/js/lib/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
    <script th:src="@{/js/lib/datatables/datatables-init.js}"></script>
</th:block>
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row">
		<div class="col-12">
			 <div class="card">
	            <div class="card-body">
	                <h4 class="card-title">평가단 모집 요청현황</h4>
	                <h6 class="card-subtitle">...</h6>
	                <div class="table-responsive m-t-40">
	                    <table id="myTable" class="table table-bordered table-striped">
	                        <thead>
	                            <tr>
	                                <th>모집코드</th>
	                                <th>매장코드</th>
	                                <th>매장명</th>
	                                <th>요청자</th>	                               
	                                <th>모집명</th>
	                                <th>설문조사명</th>
	                                <th>모집 연령대</th>
	                                <th>요청시각</th>
	                                <th>평가메뉴</th>
	                                <th>설문 항목</th>
	                                <th>분석 항목</th>
	                                <th>모집현황</th>
	                                <th>모집 기한</th>
	                                <th>상태</th>
	                                <th>담당자</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="l : ${recruitList}">
	                                <td th:text="${l.recruitTBizCode}"></td>
	                                <td th:text="${l.storeCode}"></td>
	                                <td th:text="${l.storeInfo.storeName}"></td>
	                                <td th:text="${l.bizId}"></td>
	                                <td th:text="${l.recruitTitle}"></td>
	                                <td th:text="${l.surveyTitle}"></td>
	                                <td th:text="${l.strAgeCodeList}"></td>
	                                <td th:text="${l.requestTime}"></td>
	                                <td th:text="${l.menu.menuName}"></td>
	                                <td th:text="${l.strCateList}"></td>
	                                <td th:text="${l.strSpecialCateList}"></td>
	                                <td> [[${l.recruitNumNow}]] / [[${l.recruitNumTotal}]]</td>
	                                <td th:text="${l.recruitFinTime}"></td>
	                                <td></td>
	                                <td th:if="${l.adminId} neq null" th:text="${l.adminId}"></td>
	                                <td th:unless="${l.adminId} neq null" th:text="배정전"></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
	 

</th:block>
<!-- End PAge Content -->
			
 <!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	
	<script type="text/javascript">

	</script>

   
</th:block>
    
    
</body>
</html>