<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default2}">
<th:block layout:fragment="customCss">
</th:block>
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customJs">

	<script th:src="@{/js/lib/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
    <script th:src="@{/js/lib/datatables/datatables-init.js}"></script>
    
</th:block>
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row">
		<div class="col-12">
			 <div class="card">
	            <div class="card-body">
	                <h4 class="card-title">평가단 모집 요청현황</h4>
	                <h6 class="card-subtitle">...</h6>
	                <div class="table-responsive m-t-40">
	                    <table id="myTable" class="table table-bordered table-striped">
	                        <thead>
	                            <tr>
	                                <th>모집코드</th>
	                                <th>매장코드</th>
	                                <th>매장명</th>
	                                <th>요청자</th>	                               
	                                <th data-orderable="false">상세정보</th>
	                                <th>요청시각</th>
	                                <th>모집현황</th>
	                                <th>모집 기한</th>
	                                <th>상태</th>
	                                <th data-orderable="false">승인/취소</th>
	                                <th>담당자</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="l : ${recruitList}">
	                                <td th:text="${l.recruitTBizCode}" class = "recruitCode" ></td>
	                                <td th:text="${l.storeCode}"></td>
	                                <td th:text="${l.storeInfo.storeName}"></td>
	                                <td th:text="${l.bizId}"></td>
	                                <td><button type="button" class="btn btn-dark btn-outline ti-search" name="detail" th:onclick="viewDetail([[${l.recruitTitle}]],[[${l.surveyTitle}]],[[${l.menu.menuName}]],[[${l.strAgeCodeList}]],[[${l.strCateList}]],[[${l.strSpecialCateList}]] );"></button></td>
	                                <td th:text="${l.requestTime}"></td>
	                                <td> [[${l.recruitNumNow}]] / [[${l.recruitNumTotal}]]</td>
	                                <td th:text="${l.recruitFinTime}"></td>
	                                <td th:text="${l.stateName}" class = "stateName"></td>
	                                <td>
	                                	<a class="confirmBtn btn btn-success text-white">승인</a>
	                                	<a class="cancelBtn btn btn-danger text-white" >거절</a>
	                                </td>
	                                <td th:if="${l.adminId} neq null" th:text="${l.adminId}"></td>
	                                <td th:unless="${l.adminId} neq null" th:text="배정전"></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
	 

</th:block>
<!-- End PAge Content -->
			
 <!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	
	<script type="text/javascript">
	$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
		});
	//상세보기 alert
	function viewDetail(recruitTitle, surveyTitle, menuName, ageList, surveyCate, specialCate){
			swal.fire({
			icon: 'info',
			title: '상세정보', 
			showCloseButton: true,
			width : 700,
			html: '<table class="table"><tbody>'
				+'<tr>'
				+	'<td>모집공고명</td>'
				+	'<td>'+recruitTitle +'</td>'
				+'</tr>'
				+'<tr>'
				+	'<td>설문조사명</td>'
				+	'<td>'+surveyTitle +'</td>'
				+'</tr>'
				+'<tr>'
				+	'<td>평가메뉴</td>'
				+	'<td>'+menuName +'</td>'
				+'</tr>'
				+'<tr>'
				+	'<td>대상 연령대</td>'
				+	'<td>'+ageList +'</td>'
				+'</tr>'
				+'<tr>'
				+	'<td>평가항목</td>'
				+	'<td>'+surveyCate +'</td>'
				+'</tr>'
				+'<tr>'
				+	'<td>분석항목</td>'
				+	'<td>'+specialCate +'</td>'
				+'</tr>'
				+'</tbody></table>'
		});
	}
	function confirmAlert(callback){
		 swal.fire({
			  title: '승인처리하시겠습니까?',
			  showDenyButton: true,
			  confirmButtonText: '예',
			  denyButtonText:'취소',
			  denyButtonColor: '#d33'
		}).then((result) => {

			  if (result.isConfirmed) {
			    Swal.fire({
			    	title: '승인되었습니다.',
			    	icon: 'success',	
			    	showConfirmButton : false
			    });	

			  }else if (result.isDenied) {
				    Swal.fire('취소되었습니다.', '', 'info');
			 }
			  callback(result.isConfirmed);
			});
	}
	$(function(){
		$('.confirmBtn').on("click", function(){
			var recruitBCode = $(this).parent().parent().find('.recruitCode').text();
			var stateName = $(this).parent().parent().find('.stateName').text();
			if(stateName == '승인완료'){
				 Swal.fire({
				    	title: '이미 승인처리된 항목입니다!',
				    	icon: 'info',	
				    	showConfirmButton : false
				    });	
			}else{
				confirmAlert(function(checked){
					if (checked) {
			            window.location.href = "/taster/changeState?recruitCode="+ recruitBCode + "&state=승인";
			        }
				});				
			}
		});
	});
	function cancleAlert(callback){
		swal.fire({
			  title: '승인 거절 하시겠습니까?',
			  showDenyButton: true,
			  confirmButtonText: '예',
			  denyButtonText: '아니오',
			  denyButtonColor: '#d33'
		}).then((result) => {
			  if (result.isConfirmed) {
			    Swal.fire('거절 되었습니다.', '', 'success');

			  }else if (result.isDenied) {
				    Swal.fire('취소되었습니다.', '', 'info');
				 }
			  callback(result.isConfirmed);
			});
	}
	$(function(){
		$('.cancelBtn').on("click", function(){
			var recruitBCode = $(this).parent().parent().find('.recruitCode').text();
			var stateName = $(this).parent().parent().find('.stateName').text();
			if(stateName == '승인완료'){
				alert('이미 승인된 모집입니다!');
			}else if(stateName == '승인거절'){
				alert('이미 승인거절된 모집입니다!');
			}else{
				cancleAlert(function(checked){
					if (checked) {
			            window.location.href = "/taster/changeState?recruitCode="+ recruitBCode + "&state=취소";
			        }
				});
			}
		});
	});
	
	</script>
</th:block>
</body>
</html>