<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<th:block layout:fragment="customCss">
	<style type="text/css">
		.titleCss {
			background-color: #5c4ac7;
			color: white;   
		}
		.cateCss {
			background-color: #f8f9fa;
		}
		#applyBtn {
			margin: 20px 0px 0px 0px;
		}
		.alert{
			text-align: center;
		}
		
	</style>
</th:block>	 
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customLocation">
	<div class="row page-titles">
	    <div class="col-md-5 align-self-center">
	        <h3 class="text-primary" th:text="${location2}"></h3></div>
	    <div class="col-md-7 align-self-center">
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	            <li class="breadcrumb-item active">
	            	<a th:text="${location1}" th:href="@{${location1URL}}"></a>
	            </li>
	            <li class="breadcrumb-item active" th:text="${location2}"></li>
	        </ol>
	    </div>
	</div>
</th:block>
<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
		        <div class="card-body">
		            <div class="table-responsive">
		                <table class="table">
		                    <tbody>
		                    	<tr>
		                        	<td class="cateCss" colspan="4"><strong>모집정보</strong></td>
		                        </tr>
		                    	<tr>
		                    		<td class="titleCss">모집명</td>
		                    		<td colspan="3">[[${recruitInfo.recruitTitle}]]</td>
		                    	</tr>
		                        <tr>
		                         	<td class="titleCss">모집인원</td>
		                            <td class="color-success"> [[${recruitInfo.recruitNumNow}]] / [[${recruitInfo.recruitNumTotal}]]</td>
		                            <td class="titleCss">모집기한</td>
		                            <td class="color-primary">[[${recruitInfo.recruitFinTime}]]</td>
		                        </tr>
		                        <tr>
		                        	<td class="cateCss" colspan="4"><strong>매장정보</strong></td>
		                        </tr>
		                        <tr>
									<td class="titleCss">매장명</td>
		                            <td>[[${recruitInfo.storeInfo.storeName}]]</td>
		                            <td class="titleCss">메뉴명</td>
		                            <td>[[${recruitInfo.menu.menuName}]]</td>
		                           
		                        </tr>
		                        <tr>
									<td class="titleCss">매장주소</td>
		                            <td>[[${recruitInfo.storeInfo.storeLocation}]]</td>
		                            <td class="titleCss">전화번호</td>
		                            <td class="color-danger">[[${recruitInfo.storeInfo.storePhone}]]</td>
		                        </tr>
		                        <tr>
		                        	<td class="titleCss">이용시간</td>
		                        	<td>[[${recruitInfo.storeInfo.storeTime}]]</td>
		                        	<td class="titleCss">정기휴무</td>
		                        	<td>[[${recruitInfo.storeInfo.storeHoliday}]]</td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		            <div class="row">
		            	<div class="col-md-8"></div>
		            	<div class="col-md-4">
		            		<th:block th:if="${recruitInfo.recruitNumNow} < ${recruitInfo.recruitNumTotal}">
			            		<form method="post">
			            			<input type="hidden" name="recruitBCode" th:value="${recruitInfo.recruitTBizCode}">
				            		<button type="button" id="applyBtn" class="btn btn-success btn-block ">평가단 신청하기</button>		            	
		    	        		</form>
		            		</th:block>
		            		<th:block th:unless="${recruitInfo.recruitNumNow} < ${recruitInfo.recruitNumTotal}">
		            			<div class="alert alert-light">
		            				<span class="color-danger">모집이 마감되었습니다.</span>
		            			</div>
		            		</th:block>
		            	</div>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>
</th:block>
<th:block layout:fragment="customJsLib">
<script type="text/javascript">
	$(function(){
		$('#applyBtn').on("click", async function(){
			const { value: accept } = await Swal.fire({
				  title: '신청인 동의서 ',
				  width : 750,
				  html: '<table class="table">'+
							'<tbody>'+
								'<tr><td><i class="ti-check color-success"></i></td>'+
								'<td>개인정보의 수집제공활용 및 조회에 동의 하십니까?</td>'+
								'</tr><tr><td><i class="ti-alert color-danger"></i></td><td>신청 후 3개월 이내 매장 미방문 또는 허위 피드백 참여 시 불이익이 있을 수 있습니다.' +
								'</td>' +
							'</tr>' +
							'</tbody>' +
						'</table>',
				  input: 'checkbox',
				  inputValue: 1,
				  inputPlaceholder:
				    '예, 동의합니다',
				  confirmButtonText:
				    '신청하기 <i class="fa fa-arrow-right"></i>',
				  inputValidator: (result) => {
				    return !result && '동의 체크를 해주셔야합니다!'
				  }
				})

				if (accept) {
				  Swal.fire('신청되었습니다. :)')
					$('form').attr('action', '/taster/applyTaster');
					$('form').submit();
				}
		});
	});
</script>
</th:block>
</html>