<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.AgeMapper">
	<resultMap type="Age" id="ageResultMap">
		<result property="ageCode" column="age_code"/>
		<result property="ageGroup" column="age_group"/>
		<result property="ageFrom" column="age_from"/>
		<result property="ageTo" column="age_to"/>
	</resultMap>
	
	<select id="getAgeList" parameterType="String" resultMap="ageResultMap">
		SELECT
			age_code
			, age_group
			, age_from
			, age_to
		FROM tb_age_standard
		<where>
			<if test="ageCode != null">
				age_code = #{ageCode}
			</if>
		</where>
	</select>
</mapper>