<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.BoardMapper">
	<resultMap type="Board" id="borderMap">
		<result property="boardNum"		column="board_num"></result>
		<result property="boardCateCode"		column="b_cate_code"></result>
		<result property="boardTitle"		column="board_title"></result>
		<result property="boardContents"		column="board_contents"></result>
		<result property="boardFile"		column="board_file_attach"></result>
		<result property="boardSecret"		column="board_secret"></result>
		<result property="boardRegTime"	column="board_time"></result>
		<result property="boardViews"		column="board_views"></result>
		<result property="memberId"		column="member_id"></result>
		<result property="stateCode"		column="state_code"></result>
	</resultMap>
	
	<resultMap type="Member" id="memberMap">
		<result property="memberId"		column="member_id"></result>
		<result property="memberPw"		column="member_pw"></result>
		<result property="memberName"		column="member_name"></result>
		<result property="levelCode"		column="level_code"></result>
		<result property="memberGender"		column="member_gender"></result>
		<result property="memberBirth"		column="member_birth"></result>
		<result property="memberPhone"	column="member_phone"></result>
		<result property="memberEmail"		column="member_email"></result>
		<result property="memberRegTime"		column="member_reg_time"></result>
	</resultMap>
	
	<resultMap type="BoardReply" id="boardCommentMap">
		<result property="boardReplyCode"		column="b_reply_code"></result>
		<result property="boardNum"		column="board_num"></result>
		<result property="boardReplyContents"		column="b_reply_contents"></result>
		<result property="boardReplyTime"		column="b_reply_time"></result>
		<result property="memberId"		column="member_id"></result>
	</resultMap>
	
	<resultMap type="ReportCate" id="reportCateMap">
		<result property="reportCateCode"		column="rep_cate_code"></result>
		<result property="reportCate"		column="rep_cate"></result>
	</resultMap>
	
	<resultMap type="Report" id="ReportMap">
		<result property="reportCode"		column="rep_code"></result>
		<result property="reportCateCode"		column="rep_cate_code"></result>
		<result property="boardNum"		column="board_num"></result>
		<result property="reviewNum"		column="res_review_num"></result>
		<result property="reportContents"		column="rep_contents"></result>
		<result property="reportRegTime"		column="rep_time"></result>
		<result property="reportConfirmTime"		column="rep_confi_time"></result>
		<result property="reportId"		column="report_id"></result>
		<result property="memberId"		column="member_id"></result>
		<result property="reportApplyId"		column="report_apply_id"></result>
		<result property="stateCode"		column="state_code"></result>
	</resultMap>
		
	
	
	
	<!-- 신고등록 -->
	<insert id="boardReport" parameterType="Report" >
		INSERT INTO tb_report
			(rep_code
			, rep_cate_code
			, board_num
			, res_review_num
			, rep_contents
			, rep_time
			, rep_confi_time
			, report_id
			, report_apply_id
			, member_id
			, state_code)
			VALUES(
			#{reportCode}
			, NULL
			, #{boardNum}
			, NULL
			, #{reportContents}
			, NOW()
			, NULL
			, #{reportId}
			, #{reportApplyId}
			, NULL
			, #{stateCode});
	</insert>
	
	

	<!-- 게시글 신고 자동증가 코드 -->
	<select id="getNewReportNum" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'rep_001'
			ELSE
				CONCAT('rep_', LPAD(MAX(CAST(SUBSTRING(rep_code,5,6)AS DECIMAL)+1),3,0))
			END AS reportCode
		FROM
		tb_report;
	</select>
	
	
	<!-- 신고상태 가져오기 -->
	<select id="getReportStatement" resultType="Statement"  parameterType="String" >
		SELECT
			state_code AS stateCode
		FROM
			tb_statement
		WHERE
			state_code = 'state_report_req';	
	</select>
		
	<!-- 게시글 댓글 삭제 -->
	<delete id="deleteComment" parameterType="String">
		DELETE
		FROM
			tb_board_reply
		WHERE 
			b_reply_code = #{boardReplyCode};
	</delete>
	
	<!-- 게시글 댓글 등록 -->
	<insert id="addComment" parameterType="BoardReply">
		INSERT INTO tb_board_reply
			(b_reply_code
			, board_num
			, b_reply_contents
			, b_reply_time
			, member_id)
			VALUES( 
			  #{boardReplyCode}
			, #{boardNum}
			, #{boardReplyContents}
			, NOW()
			, #{memberId});
	</insert>
	
	
	<!-- 게시글 댓글 자동증가 코드 -->
	<select id="getNewBoardReplyNum" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'bre_001'
			ELSE
				CONCAT('bre_', LPAD(MAX(CAST(SUBSTRING(b_reply_code,5,6)AS DECIMAL)+1),3,0))
			END AS boardReplyCode
		FROM
		tb_board_reply;
	</select>
	
	<!-- 게시글 댓글 조회 -->
	<select id="getBoardCommentList" resultMap="boardCommentMap">
			SELECT
				b_reply_code
				,board_num
				,b_reply_contents
				,b_reply_time
				,member_id
			FROM
				tb_board_reply
			where
				board_num = #{boardNum};
		</select>
	
	
	<!-- 게시판 조회 수 증가 -->
	<update id="updateBoardCnt" parameterType="String">
		UPDATE 
			tb_board_management 
		SET 
			board_views = board_views + 1 
		WHERE 
			board_num = #{boardNum};
	</update>


	
	<delete id="commentdel" parameterType="map">
		DELETE
		FROM
			tb_board_reply
		WHERE 
			board_num = #{boardNum};
	</delete>
	
	
	
	<!-- 게시판 삭제처리 -->
	<delete id="boardDelete" parameterType="map">
		DELETE
		FROM
			tb_board_management
		WHERE 
			board_num = #{boardNum};
	</delete>
	
	
	<!-- 게시판 수정 처리 -->
	<update id="boardModify" parameterType="Board" >
		UPDATE 
			tb_board_management 
		SET
			board_title = #{boardTitle}
			,board_contents = #{boardContents}
			,board_file_attach = #{boardFile}
			,board_secret = #{boardSecret}
			,state_code = 'state_board_rev'
		WHERE
			board_num = #{boardNum};
		
	</update>
	
	 
	<!-- 게시판 정보 가져오기 -->
	<select id="getBoardInfoByCode" parameterType="String" resultMap="borderMap">
		SELECT
			board_num
			,board_title
			,member_id
			,board_contents
			,board_file_attach
			,board_secret
			,b_cate_code
			,board_views
			,board_time
			,state_code
		FROM
	  		tb_board_management
	  		WHERE
			board_num = #{boardNum};
	</select>
	
	
	
	<!-- 게시판 상태코드 가져오기 -->
	<select id="getboardStatement" resultType="Statement" parameterType="String">
		SELECT
			state_code AS stateCode
		FROM
			tb_statement
		WHERE
			state_code = 'state_board_com';
	</select>
	

	
	
	<!-- ajax 회원정보 보여주기-->
	<select id="getMemberList" resultMap="memberMap">
		SELECT
			 member_id 			
			,member_pw 			
			,member_name 		
			,level_code 		
			,member_gender  	
			,member_birth 		
			,member_phone 		
			,member_email 		
			,member_reg_time 	
		FROM
			tb_member;
	</select>
	
	<select id="getMemberRead" resultMap="memberMap" parameterType="String">
		SELECT
			 member_id 
			,member_name 
			,member_gender 
			,member_birth 
		FROM
			tb_member 
		WHERE
			member_id = #{memberId};
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="boardNoticeWrite" parameterType="Board" >
		INSERT INTO tb_board_management
		( board_num    
		, b_cate_code 
		, board_title  
		, board_contents  
		, board_file_attach  
		, board_secret  
		, board_time    
		, board_views   
		, member_id    
		, state_code   
		)
		VALUES (
		  #{boardNum}
		, 'a_notic'
		, #{boardTitle}
		, #{boardContents}
		, #{boardFile}
		, NULL
		, NOW()
		, #{boardViews}
		, #{memberId}
		, #{stateCode});
	</insert>
	
	<!-- 소상공인 게시판 등록 -->
	<insert id="boardBizWrite" parameterType="Board" >
		INSERT INTO tb_board_management
		( board_num    
		, b_cate_code 
		, board_title  
		, board_contents  
		, board_file_attach  
		, board_secret  
		, board_time    
		, board_views   
		, member_id    
		, state_code   
		)
		VALUES (
		  #{boardNum}
		, 'b_board'
		, #{boardTitle}
		, #{boardContents}
		, #{boardFile}
		, #{boardSecret}
		, NOW()
		, #{boardViews}
		, #{memberId}
		, #{stateCode});
	</insert>
	
	<!-- 소비자 게시판 등록 -->
	<insert id="boardWrite" parameterType="Board" >
		INSERT INTO tb_board_management
		( board_num    
		, b_cate_code 
		, board_title  
		, board_contents  
		, board_file_attach  
		, board_secret  
		, board_time    
		, board_views   
		, member_id    
		, state_code   
		)
		VALUES (
		  #{boardNum}
		, 'u_board'
		, #{boardTitle}
		, #{boardContents}
		, #{boardFile}
		, #{boardSecret}
		, NOW()
		, #{boardViews}
		, #{memberId}
		, #{stateCode});
	</insert>
	
	<!-- 자동등록 게시판 번호 -->
	<select id="getNewBoardNum" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'brd_001'
			ELSE
			   CONCAT('brd_', LPAD(MAX(CAST(SUBSTRING(board_num,5,6)AS DECIMAL)+1),3,0))
			END AS boardNum
		FROM
			tb_board_management;
	</select>
	
	
	<!-- 공지사항 리스트 -->
		<select id="getBoardNoticeList" resultMap="borderMap">
			SELECT 
				 board_num 
				,board_title 
				,member_id
				,board_time 
				,board_views 
			FROM 
				tb_board_management
			where
				b_cate_code = 'a_notic';
		</select>
	
	<!-- 소상공인 게시판 리스트 -->
		<select id="getBoardBizList" resultMap="borderMap">
			SELECT 
				 board_num 
				,board_title 
				,member_id
				,board_time 
				,board_views 
			FROM 
				tb_board_management
			where
				b_cate_code = 'b_board';
		</select>
		
	<!-- 게시판 리스트 -->
		<select id="getBoardList" resultMap="borderMap">
			SELECT 
				 board_num 
				,board_title 
				,member_id
				,board_time 
				,board_views 
			FROM 
				tb_board_management
			where
				b_cate_code = 'u_board';
		</select>
</mapper>