<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.BookMapper">

	<resultMap type="Book" id="bookResultMap">
		<result property="bookCode"			column="b_o_code"/>
		<result property="storeCode"		column="store_code"/>
		<result property="userId"			column="user_id"/>
		<result property="bookUserName"		column="book_user_name"/>
		<result property="bookUserPhone"	column="book_user_phone"/>
		<result property="bookPeoNum"		column="book_peo_num"/>
		<result property="bookSignTime"		column="book_sign_time"/>
		<result property="bookCompTime"		column="book_comp_time"/>
		<result property="bookCallAgree"	column="book_call_agree"/>
		<result property="stateCode"		column="state_code"/>
		<result property="bookPickup"		column="book_pickup"/>
	</resultMap>
	
	<resultMap type="Store" id="storeResultMap">
		<result property="storeCode"		column="store_code"/>
		<result property="storeName"		column="store_name"/>
		<result property="bizCode"			column="biz_code"/>
		<result property="bizId"			column="biz_id"/>
		<result property="storeLocation"	column="store_location"/>
		<result property="storeTime"		column="store_time"/>
		<result property="storePhone"		column="store_phone"/>
		<result property="mainCateCode"		column="main_cate_code"/>
		<result property="mainCateCode2"	column="main_cate_code2"/>
		<result property="storeHoliday"		column="store_holiday"/>
		<result property="storeTasteAgree"	column="store_taste_agree"/>
		<result property="storeExposAgree"	column="store_expos_agree"/>
		<result property="storePhoto"		column="store_photo"/>
		<result property="storeTableNum"	column="store_table_num"/>
		<result property="storeOccupancy"	column="store_occupancy"/>
	</resultMap>
	
	<resultMap type="Menu" id="menuResultMap">
		<result property="menuCode"			column="menu_code"/>
		<result property="bizId"			column="biz_id"/>
		<result property="storeCode"		column="store_code"/>
		<result property="mainCateCode"		column="main_cate_code"/>
		<result property="menuCateCode"		column="menu_cate_code"/>
		<result property="menuName"			column="menu_name"/>
		<result property="menuPrice"		column="menu_price"/>
		<result property="menuDetail"		column="menu_detail"/>
		<result property="menuRegTime"		column="menu_reg_time"/>
		<result property="menuUsing"		column="menu_using"/>
	</resultMap>
	
	<resultMap type="Order" id="orderResultMap">
		<result property="oCode"				column="o_code"/>
		<result property="bookCode"				column="b_o_code"/>
		<result property="userId"				column="user_id"/>
		<result property="storeCode"			column="store_code"/>
		<result property="menuCode"				column="menu_code"/>
		<result property="oCount"				column="o_count"/>
		<result property="menuTotalPrice"		column="menu_total_price"/>
		<result property="oRequest"				column="o_request"/>
		<result property="payGroCode"			column="pay_gro_code"/>
		<result property="oTotalPrice"			column="o_total_price"/>
		<result property="orderSignTime"		column="order_sign_time"/>
		<result property="orderCompTime"		column="order_comp_time"/>
		<result property="orderStateCode"		column="order_state_code"/>
		<result property="storeTableCode"		column="store_table_code"/>
		<association property="book" javaType="Book">
			<id property="bookCode" 			column="b_o_code"/>
			<result property="storeCode"		column="store_code"/>
			<result property="userId"			column="user_id"/>
			<result property="bookUserName"		column="book_user_name"/>
			<result property="bookUserPhone"	column="book_user_phone"/>
			<result property="bookPeoNum"		column="book_peo_num"/>
			<result property="bookSignTime"		column="book_sign_time"/>
			<result property="bookCompTime"		column="book_comp_time"/>
			<result property="bookCallAgree"	column="book_call_agree"/>
			<result property="stateCode"		column="state_code"/>
			<result property="bookPickup"		column="book_pickup"/>
		</association>
		<association property="store" javaType="Store">
			<id property="storeCode" 			column="store_code"/>
			<result property="storeCode"		column="store_code"/>
			<result property="storeName"		column="store_name"/>
			<result property="bizCode"			column="biz_code"/>
			<result property="bizId"			column="biz_id"/>
			<result property="storeLocation"	column="store_location"/>
			<result property="storeTime"		column="store_time"/>
			<result property="storePhone"		column="store_phone"/>
			<result property="mainCateCode"		column="main_cate_code"/>
			<result property="mainCateCode2"	column="main_cate_code2"/>
			<result property="storeHoliday"		column="store_holiday"/>
			<result property="storeTasteAgree"	column="store_taste_agree"/>
			<result property="storeExposAgree"	column="store_expos_agree"/>
			<result property="storePhoto"		column="store_photo"/>
			<result property="storeTableNum"	column="store_table_num"/>
			<result property="storeOccupancy"	column="store_occupancy"/>
		</association>
		<association property="statement" javaType="Statement">
			<id property="stateCode" 			column="state_code"/>
			<result property="mainState"		column="main_state"/>
			<result property="stateName"		column="state_name"/>
		</association>
		<association property="menu" 	javaType="Menu">
			<id property="menuCode" 			column="menu_code"/>
			<result property="bizId"			column="biz_id"/>
			<result property="storeCode"		column="store_code"/>
			<result property="mainCateCode"		column="main_cate_code"/>
			<result property="menuCateCode"		column="menu_cate_code"/>
			<result property="menuName"			column="menu_name"/>
			<result property="menuPrice"		column="menu_price"/>
			<result property="menuDetail"		column="menu_detail"/>
			<result property="menuRegTime"		column="menu_reg_time"/>
			<result property="menuUsing"		column="menu_using"/>
		</association>
	</resultMap>
	
	<resultMap type="Statement" id="statementResultMap">
		<result property="stateCode"			column="state_code"/>
		<result property="mainState"			column="main_state"/>
		<result property="stateName"			column="state_name"/>
	</resultMap>
	
	
	
<!-- 주문내역 리스트 -->
	<select id="getOrderAllList" resultMap="orderResultMap" parameterType="map">
		SELECT
			o.o_code
			,o.b_o_code
			,o.user_id
			,o.store_code
			,o.menu_code
			,o.o_count
			,o.menu_total_price
			,o.o_request
			,o.pay_gro_code
			,o.o_total_price
			,o.order_sign_time
			,o.order_comp_time
			,o.order_state_code
			,o.store_table_code
			,i.store_name
			,s.state_name
			,m.menu_name
		FROM
			tb_order AS o
			INNER join
			tb_book AS b
			ON
			o.user_id = b.user_id
			INNER join
			tb_store_info AS i
			on
			o.store_code = i.store_code
			INNER join
			tb_statement AS s
			on
			o.order_state_code = s.state_code
			INNER join
			tb_store_menu AS m
			on
			o.menu_code = m.menu_code
			<where>
				<if test="dateBefore != null and dateAfter != null">
				date(o.order_sign_time) BETWEEN #{dateBefore} and #{dateAfter}
				</if>
			</where>
		</select>
	
	
	
<!-- 나의주문내역 상세조회 -->
	<select id="getOrderList" resultMap="orderResultMap">
	SELECT
			o.o_code
			,o.b_o_code
			,o.user_id
			,o.store_code
			,o.menu_code
			,o.o_count
			,o.menu_total_price
			,o.o_request
			,o.pay_gro_code
			,o.o_total_price
			,o.order_sign_time
			,o.order_comp_time
			,o.order_state_code
			,o.store_table_code
			,b.book_user_name
			,b.book_user_phone
			,b.book_peo_num
			,b.book_pickup
			,i.store_name
			,m.menu_name
		FROM
			tb_order AS o
			INNER join
			tb_book AS b
			ON
			o.user_id = b.user_id
			INNER join
			tb_store_info AS i
			on
			o.store_code = i.store_code
			INNER join
			tb_store_menu AS m
			on
			o.menu_code = m.menu_code
		WHERE
			o.b_o_code = #{bookCode};
	</select> 
	
	
	

<!-- 주문내역리스트 조회 -->
	<select id="getOrderUserInfoById" resultMap="orderResultMap" parameterType="map">
		SELECT
			o.o_code
			,o.b_o_code
			,o.user_id
			,o.store_code
			,o.menu_code
			,o.o_count
			,o.menu_total_price
			,o.o_request
			,o.pay_gro_code
			,o.o_total_price
			,o.order_sign_time
			,o.order_comp_time
			,o.order_state_code
			,o.store_table_code
			,i.store_name
			,s.state_name
			,m.menu_name
		FROM
			tb_order AS o
			INNER join
			tb_book AS b
			ON
			o.user_id = b.user_id
			INNER join
			tb_store_info AS i
			on
			o.store_code = i.store_code
			INNER join
			tb_statement AS s
			on
			o.order_state_code = s.state_code
			INNER join
			tb_store_menu AS m
			on
			o.menu_code = m.menu_code
		<where>
			<if test="userId != null and dateBefore == null and dateAfter == null">
				o.user_id = #{userId}
			</if>
			<if test="userId != null and dateBefore != null and dateAfter != null">
				o.user_id = #{userId}
				AND
				date(o.order_sign_time) BETWEEN #{dateBefore} and #{dateAfter}
			</if>
		</where>
			
		GROUP BY o.o_code;
		</select>
	

	
	
<!-- 결제예정 그룹코드 자동증가 -->
	<select id="getnewOGroupCode" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'pay_1'
			ELSE
			CONCAT('pay_', LPAD(MAX(CAST(SUBSTRING(pay_gro_code,5,3)AS DECIMAL)+1),3,0))
			END AS payGroCode
		FROM
			tb_order;
	</select>


<!-- 예약리스트 조회  -->
	<select id="getBookList" resultMap="bookResultMap">
		SELECT 
			b_o_code			
			,store_code
			,user_id
			,book_user_name	
			,book_user_phone
			,book_peo_num
			,book_sign_time
			,book_comp_time
			,book_call_agree
			,state_code
			,book_pickup
		FROM 
			tb_book;
	</select>



<!-- 주문정보입력 후 insert  -->
	<insert id="addBookOrder" parameterType="Order">
		INSERT INTO tb_order
			(o_code
			,b_o_code
			,user_id
			,store_code
			,menu_code
			,o_count
			,menu_total_price
			,o_request
			,pay_gro_code
			,o_total_price
			,order_sign_time
			,order_comp_time
			,order_state_code
			,store_table_code
		)VALUES
		<foreach collection="list" item="item" separator=" , " >
        (
        sf_new_order_code()
        ,"${item.bookCode}"
        ,"${item.userId}"
        ,"${item.storeCode}"
        ,"${item.menuCode}"
        ,"${item.oCount}"
        ,"${item.menuTotalPrice}"
        ,"${item.oRequest}"
        ,"${item.payGroCode}"
        ,"${item.oTotalPrice}"
        ,CURDATE()
        ,NULL
        ,"${item.stateCode}"
        ,NULL
        )
    	</foreach>
			;
	</insert>
	
	
	
<!-- 주문코드 자동증가 -->
	<select id="getNewOrderCode" resultType="String">
		SELECT
		   CASE
		   WHEN COUNT(1) = 0 THEN 'o_001'
		   ELSE
		      CONCAT('o_', LPAD(MAX(CAST(SUBSTRING(o_code,3,3)AS DECIMAL)+1),3,0))
		   END AS oCode
		FROM
		   tb_order;
	</select>




<!-- 예약자정보 페이지에 상태코드 불러오기 -->
	<select id="getStateCode" resultMap="statementResultMap">
		SELECT 
			state_code
			,main_state
			,state_name
		FROM 
			tb_statement
		WHERE
			main_state = '예약주문'
			and
			state_name = '접수대기';
	</select>




<!-- 주문정보 페이지에 메뉴리스트 불러오기 -->
	<select id="getMenuList" resultMap="menuResultMap">
		SELECT 
			menu_code
			,store_code
			,main_cate_code
			,menu_cate_code
			,menu_name
			,menu_price
			,menu_detail
			,menu_using
		FROM 
			tb_store_menu
		WHERE
			store_code = #{storeCode};
	</select>



<!-- 예약자정보 페이지에 매장명,매장코드 불러오기 -->
	<select id="getStoreInfo" resultMap="storeResultMap">
		SELECT 
			store_name
			,store_code
		FROM 
			tb_store_info
		WHERE
			store_name = #{storeName};
	</select>



<!-- 예약자정보입력 후 insert  -->
	<insert id="addBookMember" parameterType="Book">
		INSERT INTO tb_book
			(b_o_code
			,store_code
			,user_id
			,book_user_name
			,book_user_phone
			,book_peo_num
			,book_sign_time
			,book_comp_time
			,book_call_agree
			,state_code
			,book_pickup
		)VALUES (
			   #{bookCode}
			  ,#{storeCode}
			  ,#{userId}
			  ,#{bookUserName}
			  ,#{bookUserPhone}
			  ,#{bookPeoNum}
			  ,CURDATE()
			  ,null
			  ,null
			  ,#{stateCode}
			  ,#{bookPickup}
		);
	</insert>


<!-- 예약코드 자동증가 -->
	<select id="getNewBookCode" resultType="String">
		SELECT
		   CASE
		   WHEN COUNT(1) = 0 THEN 'b_001'
		   ELSE
		      CONCAT('b_', LPAD(MAX(CAST(SUBSTRING(b_o_code,3,3)AS DECIMAL)+1),3,0))
		   END AS bookCode
		FROM
		   tb_book;
	</select>

</mapper>