<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.MainMapper">

	<resultMap type="Store" id="storeResultMap">
		<result property="storeCode"		column="store_code"/>
		<result property="storeName"		column="store_name"/>
		<result property="bizCode"			column="biz_code"/>
		<result property="bizId"			column="biz_id"/>
		<result property="storeLocation"	column="store_location"/>
		<result property="storeTime"		column="store_time"/>
		<result property="storePhone"		column="store_phone"/>
		<result property="mainCateCode"		column="main_cate_code"/>
		<result property="mainCateCode2"	column="main_cate_code2"/>
		<result property="storeHoliday"		column="store_holiday"/>
		<result property="storeTasteAgree"	column="store_taste_agree"/>
		<result property="storeExposAgree"	column="store_expos_agree"/>
		<result property="storePhoto"		column="store_photo"/>
		<result property="storeTableNum"	column="store_table_num"/>
		<result property="storeOccupancy"	column="store_occupancy"/>
		<association property="waiting" javaType="Waiting">
			<id property="bizCode"			column="biz_code"/>
			<result property="bizId"		column="biz_id"/>
			<result property="stoEmpTab"	column="sto_emp_tab"/>
			<result property="storeCode"	column="store_code"/>
			<result property="storeWait"	column="store_wait"/>
			<result property="stoUseTab"	column="sto_use_tab"/>
			<result property="waitNum"		column="wait_num"/>
		</association>
	</resultMap>
	
	<!--  실시간 웨이팅 리스트 조회 -->
	<!-- 상점목록 조회 -->
	<select id="getMainList" resultMap="storeResultMap" parameterType="map">
		SELECT 
			i.store_name
			,i.store_phone
			,i.store_code
			,i.store_holiday
			,i.store_location
			,i.store_time
			,w.wait_num
		FROM 
			tb_store_info as i
			inner join
			tb_store_waiting as w
			ON 
			i.store_code = w.store_code
		<where>
			<if test="placeInput != null and mainCateCode != null">
				i.store_location LIKE CONCAT('%',#{placeInput},'%')
				AND
				i.main_cate_code = #{mainCateCode}
				OR
				i.main_cate_code2 = #{mainCateCode}
			</if>
		</where>
	</select>
	
	
	<!-- 상점명 조회 -->
	<select id="getMainRead" resultType="Store" parameterType="String">
		SELECT 
			store_name AS storeName
			,store_phone AS storePhone
			,store_code AS storeCode
			,store_holiday AS storeHoliday
			,store_location AS storeLocation
			,store_time AS storeTime
		FROM 
			tb_store_info
		WHERE
			store_name = #{storeName};
	</select>
	
	
</mapper>