<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.MainMapper">

<select id="getMainList" resultType="Store">
	SELECT 
		store_name AS storeName
		,store_phone AS storePhone
	FROM 
		tb_store_info;
</select>
</mapper>