<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="amdn.anywhere.mapper.MenuMapper">

	<resultMap type="FoodMainCate" id="foodmaincateResultMap">
		<result property="mainCateCode"		column="main_cate_code"/>
		<result property="mainCateName"		column="main_cate_name"/>
			<association property="store" 	javaType="Store">
				<id property="mainCateCode"			column="main_cate_code"/>
				<result property="storeName"		column="store_name"/>
				<result property="bizCode"			column="biz_code"/>
				<result property="bizId"			column="biz_id"/>
				<result property="storeLocation"	column="store_location"/>
				<result property="storeTime"		column="store_time"/>
				<result property="storePhone"		column="store_phone"/>
				<result property="storeCode"		column="store_code"/>
				<result property="storeHoliday"		column="store_holiday"/>
				<result property="storeTasteAgree"	column="store_taste_agree"/>
				<result property="storeExposAgree"	column="store_expos_agree"/>
				<result property="storePhoto"		column="store_photo"/>
				<result property="storeTableNum"	column="store_table_num"/>
				<result property="storeOccupancy"	column="store_occupancy"/>
			</association>
	</resultMap>
	
	
	<resultMap type="Menu" id="menuResultMap">
		<result property="menuCode"			column="menu_code"/>
		<result property="bizId"			column="biz_id"/>
		<result property="storeCode"		column="store_code"/>
		<result property="mainCateCode"		column="main_cate_code"/>
		<result property="menuCateCode"		column="menu_cate_code"/>
		<result property="menuName"			column="menu_name"/>
		<result property="menuPrice"		column="menu_price"/>
		<result property="menuDetail"		column="menu_detail"/>
		<result property="menuRegTime"		column="menu_reg_time"/>
		<result property="menuUsing"		column="menu_using"/>
	</resultMap>


<!-- 메뉴 대분류 조회 -->
	<select id="getFoodMainCateList" resultMap="foodmaincateResultMap">
		SELECT 
			main_cate_code
			,main_cate_name
		FROM 
			tb_food_main_cate;
	</select>
	
	
<!-- 나의 매장메뉴 리스트 조회 -->
	<select id="getMyMenuList" resultMap="menuResultMap">
		SELECT 
			menu_code
			,biz_id
			,store_code
			,main_cate_code
			,menu_cate_code
			,menu_name
			,menu_price
			,menu_detail
			,menu_reg_time
			,menu_using
		FROM 
			tb_store_menu
		WHERE
			biz_id = #{bizId};
	</select>



<!-- 나의 매장정보 리스트 조회(메뉴명조회) -->
<select id="getFoodMainList" resultMap="foodmaincateResultMap">
	SELECT
		f.main_cate_code
		,f.main_cate_name
	FROM
		tb_food_main_cate AS f
		INNER join
		tb_store_info AS i
		ON
		f.main_cate_code = i.main_cate_code
		AND
		i.biz_id = #{bizId};
</select>

</mapper>
