<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.MystoreMapper">

<resultMap type="Mystore" id="MystoreResultMap">
	<result property="storeCode"		column="store_code"></result>
	<result property="storeName"		column="store_name"></result>
	<result property="bizCode"			column="biz_code"></result>
	<result property="bizId"			column="biz_id"></result>
	<result property="storeLocation"	column="store_location"></result>
	<result property="storeTime"		column="store_time"></result>
	<result property="storePhone"		column="store_phone"></result>
	<result property="mainCateCode"		column="main_cate_code"></result>
	<result property="storeHoliday"		column="store_holiday"></result>
	<result property="storeTasteAgree"	column="store_taste_agree"></result>
	<result property="storeExposAgree"	column="store_expos_agree"></result>
	<result property="storePhoto"		column="store_photo"></result>
	<result property="storeTableNum"	column="store_table_num"></result>
	<result property="storeOccupancy"	column="store_occupancy"></result>
</resultMap>




<select id="getMystore" resultType="Mystore">
      SELECT 
         store_name AS storeName
         ,store_phone AS storePhone
         ,store_code AS storeCode
         ,store_holiday AS storeHoliday
         ,store_location AS storeLocation
         ,store_time AS storeTime
      FROM 
         tb_store_info;
   </select>
   
	<!-- <select id ="stCode" parameterType="String" resultMap="MystoreResultMap">
    SELECT
	    store_code
		store_name
		biz_code
		biz_id
		store_location
		store_time
		store_phone
		main_cate_code
		tore_holiday
		store_taste_agree
		store_expos_agree
		store_photo
		store_table_num
		store_occupancy
    FROM
    	tb_store_info
    WHERE
    	biz_id= #{bizId}
</select> -->

	<select id="getMystoreList" resultType="Mystore">
      SELECT 
         store_name AS storeName
         ,store_phone AS storePhone
         ,store_code AS storeCode
         ,store_holiday AS storeHoliday
         ,store_location AS storeLocation
         ,store_time AS storeTime
      FROM 
         tb_store_info;
	</select>
	   
	   <select id="getMystoreRead" resultType="Mystore" parameterType="String">
	      SELECT 
	         store_name AS storeName
	         ,store_phone AS storePhone
	         ,store_code AS storeCode
	         ,store_holiday AS storeHoliday
	         ,store_location AS storeLocation
	         ,store_time AS storeTime
	      FROM 
	         tb_store_info
	      WHERE
	         store_name = #{storeName}
	   </select>

</mapper>