<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.QuestionAnswerMapper">
	<resultMap type="SurveyResult" id="surveyRResultMap">
		<result property="createCode" column="question_create_code"/>
		<result property="numOfParti" column="totalNum"/>
		<result property="qCateCode" column="question_cate_code"/>
		<result property="qCateName" column="cate_name"/>
		<result property="qCode" column="question_code"/>
		<result property="qContent" column="question_content"/>
		<result property="choice1" column="choice1"/>
		<result property="choice2" column="choice2"/>
		<result property="choice3" column="choice3"/>
		<result property="choice4" column="choice4"/>
		<result property="choice5" column="choice5"/>
		<result property="recruitBBCode" column="recruit_taster_biz_code"/>
	</resultMap>
	<resultMap type="SurveyStatisticForCate" id="statForCateResultMap">
		<result property="cateCode" column="question_cate_code"/>
		<result property="cateName" column="cate_name"/>
		<result property="percentage" column="percentage"/>
	</resultMap>
	<select id="getPercentageForCate" resultMap="statForCateResultMap" parameterType="String">
		SELECT
			 b.cate_name
			,b.question_cate_code
			,ROUND(SUM(b.c1+b.c2+b.c3+b.c4+b.c5)*100/(b.totalNum*5*COUNT(b.cate_name)), 1) AS 'percentage'
		from			(SELECT
								r.question_create_code
								,a.recruit_taster_biz_code
								,IFNULL(c.question_cate_code, qb.question_cate_code) AS 'question_cate_code'
								,IFNULL(c.cate_name, qc.question_cate_name) AS 'cate_name'
								,SUM(if(a.tasters_choice = 'q_choice_01', 1,0 ))*1 AS 'c1'
								,sum(if(a.tasters_choice = 'q_choice_02', 1,0 ))*2 AS 'c2'
								,sum(if(a.tasters_choice = 'q_choice_03', 1,0 ))*3 AS 'c3'
								,sum(if(a.tasters_choice = 'q_choice_04', 1,0 ))*4 AS 'c4'
								,sum(if(a.tasters_choice = 'q_choice_05', 1,0 ))*5 AS 'c5'
								,COUNT(*) AS 'totalNum' 
							FROM
								tb_question_answer AS a
									LEFT JOIN 
								tb_questionnaire AS q
								ON a.question_code = q.question_code
									LEFT JOIN 
								tb_question_cate AS c
								ON q.question_cate_code = c.question_cate_code
									INNER JOIN 
								tb_question_create AS r
								ON r.recruit_taster_biz_code = a.recruit_taster_biz_code
									LEFT JOIN 
								tb_questionnaire_backup AS qb
								ON qb.question_code = a.question_code_backup
									LEFT JOIN 
								tb_question_cate_backup AS qc
								ON qc.question_cate_code = qb.question_cate_code
							WHERE r.question_create_code = #{surveyCode}
							GROUP BY a.question_code_backup) AS b
		GROUP BY b.cate_name					
	</select>
	<select id="getResultForSurvey" parameterType="Map" resultMap="surveyRResultMap">
		SELECT
			r.question_create_code
			,a.recruit_taster_biz_code
			,a.question_code_backup AS 'question_code'
			,IFNULL(c.question_cate_code, qb.question_cate_code) AS 'question_cate_code'
			,IFNULL(c.cate_name, qc.question_cate_name) AS 'cate_name'
			,IFNULL(q.question_content, qb.question_content) AS 'question_content'
			,SUM(if(a.tasters_choice = 'q_choice_01', 1,0 )) AS 'choice1'
			,sum(if(a.tasters_choice = 'q_choice_02', 1,0 )) AS 'choice2'
			,sum(if(a.tasters_choice = 'q_choice_03', 1,0 )) AS 'choice3'
			,sum(if(a.tasters_choice = 'q_choice_04', 1,0 )) AS 'choice4'
			,sum(if(a.tasters_choice = 'q_choice_05', 1,0 )) AS 'choice5'
			,COUNT(*) AS 'totalNum' 
		FROM
			tb_question_answer AS a
				LEFT JOIN 
			tb_questionnaire AS q
			ON a.question_code = q.question_code
				LEFT JOIN 
			tb_question_cate AS c
			ON q.question_cate_code = c.question_cate_code
				INNER JOIN 
			tb_question_create AS r
			ON r.recruit_taster_biz_code = a.recruit_taster_biz_code
				LEFT JOIN 
			tb_questionnaire_backup AS qb
			ON qb.question_code = a.question_code_backup
				LEFT JOIN 
			tb_question_cate_backup AS qc
			ON qc.question_cate_code = qb.question_cate_code
		<where>
			<if test="surveyCode != null">
				r.question_create_code = #{surveyCode}
			</if>
		</where>	
		GROUP BY a.question_code_backup
		<if test="cateCode != null">
			HAVING question_cate_code = #{cateCode}
		</if>
	</select>
	<select id="createAnswerCode" resultType="String">
		SELECT
			IFNULL(
				CONCAT(SUBSTRING_INDEX(question_answer_code,'_',2)
							,'_'
							,CAST(MAX(SUBSTRING_INDEX(question_answer_code,'_',-1))AS DECIMAL)+1)
				, 'q_answer_1') AS newCode
		FROM
			tb_question_answer
	</select>
	<insert id="addQuestionAnswer" parameterType="List">
		
		INSERT INTO tb_question_answer
		(
			question_answer_code
			, recruit_taster_admin_code
			, recruit_taster_biz_code
			, user_id
			, question_code
			, question_code_backup
			, tasters_choice
			, reg_time
		)
		VALUES 
		<foreach collection="questionAnswerList" item="q" open="" separator="," close="">
			(  
				sf_new_answer_code()
				, NULL
				, #{q.recruitBCode}
				, #{q.userId}
				, #{q.questionCode}
				, #{q.questionCode}
				, #{q.tasterChoice}
				, NOW()
			)
		</foreach>
	</insert>
</mapper>