<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="amdn.anywhere.mapper.ReportMapper">
	<resultMap type="Report" id="ReportBoardMap">
		<result property="reportCode"		column="rep_code"></result>
		<result property="reportCateCode"		column="rep_cate_code"></result>
		<result property="boardNum"		column="board_num"></result>
		<result property="reviewNum"		column="res_review_num"></result>
		<result property="reportContents"		column="rep_contents"></result>
		<result property="reportRegTime"		column="rep_time"></result>
		<result property="reportConfirmTime"		column="rep_confi_time"></result>
		<result property="reportId"		column="report_id"></result>
		<result property="reportApplyId"		column="report_apply_id"></result>
		<result property="memberId"		column="member_id"></result>
		<result property="stateCode"		column="state_code"></result>
	</resultMap>
	
	<resultMap type="Penalty" id="PenaltyMap">
		<result property="penaltyCode"		column="penalty_code"></result>
		<result property="penaltyStandard"		column="penalty_standard_code"></result>
		<result property="penaltyScore"		column="penalty_score"></result>
		<result property="reportCode"		column="rep_code"></result>
		<result property="reportRegTime"		column="report_time"></result>
		<result property="penaltyCheckDate"		column="penalty_check_date"></result>
		<result property="penaltyId"		column="penalty_id"></result>
		<result property="memberId"		column="member_id"></result>
	</resultMap>
	
	<resultMap type="PenaltyStandard" id="PenaltyStandardMap">
		<result property="penaltyStandardCode"		column="penalty_standard_code"></result>
		<result property="penaltyStandard"		column="penalty_standard"></result>
		<result property="penaltyScore"		column="penalty_score"></result>
	</resultMap>
	
	<resultMap type="MemberBlackList" id="memberBlackListMap">
		<result property="blackListNum"		column="blacklist_num"></result>
		<result property="penaltyCode"		column="penalty_code"></result>
		<result property="blackListAskTime"		column="blacklist_ask_time"></result>
		<result property="blackListAsk"		column="blacklist_ask"></result>
		<result property="blackListCancelTime"		column="blacklist_cancle_time"></result>
		<result property="StoreCode"		column="store_code"></result>
		<result property="userId"		column="user_id"></result>
		<result property="memberId"		column="member_id"></result>
		<result property="membershipCode"		column="before_ms_lev"></result>
	</resultMap>



<!-- 블랙리스트 삭제 -->
<delete id="blackListDelete" parameterType="String">
	DELETE
	FROM
		tb_member_blacklist
	WHERE 
		blacklist_num = #{blackListNum};
</delete>


<!-- 블랙리스트 자동증가 -->
<select id="getBlackListCode" resultType="String">
	SELECT
		CASE
		WHEN COUNT(1) = 0 THEN 'b_001'
		ELSE
			CONCAT('b_', LPAD(MAX(CAST(SUBSTRING(blacklist_num,5,6)AS DECIMAL)+1),3,0))
		END AS blackListNum
	FROM
	tb_member_blacklist;
</select>

<!-- 블랙리스트 목록 가져오기 -->
<select id="getmemberBlackList" resultMap="memberBlackListMap">
	SELECT 
		  blacklist_num
		, penalty_code
		, blacklist_ask_time
		, blacklist_ask
		, blacklist_cancle_time
		, store_code
		, user_id
		, member_id
		, before_ms_lev
	FROM 
		tb_member_blacklist;
</select>

<!-- ajax 벌점 점수 가져오기 -->
<select id="getPenaltyScore" parameterType="String" resultMap="PenaltyStandardMap">
	SELECT
		penalty_score
	FROM
		tb_penalty_standard 
	WHERE 
		penalty_standard_code = #{penCode};

</select>

<!-- 벌점리스트가져오기 -->
<select id="getPenaltyStandardList" resultMap="PenaltyStandardMap">
SELECT 
	penalty_standard_code
	, penalty_standard
	, penalty_score
FROM 
	tb_penalty_standard;
</select>

<!-- 기타 벌점 등록하기 -->
<insert id="penaltyInsert" parameterType="Penalty">
	INSERT INTO tb_penalty
	(penalty_code
	, penalty_standard_code
	, penalty_score
	, rep_code
	, report_time
	, penalty_check_date
	, penalty_id
	, member_id)
	VALUES 
	(#{penaltyCode}
	,#{penaltyStandard}
	, #{penaltyScore}
	, NULL
	, NULL
	, NOW()
	, #{penaltyId}
	, #{memberId});
</insert>


<!-- 벌점 삭제 처리 -->
<delete id="penaltyDelete" parameterType="String">
	DELETE
	FROM
		tb_penalty
	WHERE 
		penalty_code = #{penaltyCode};
</delete>

<!-- 벌점 목록 -->
<select id="getPenaltyList" resultMap="PenaltyMap">
	SELECT 
	penalty_code
	, penalty_standard_code
	, penalty_score
	, rep_code
	, report_time
	, penalty_check_date
	, penalty_id
	, member_id
FROM 
	tb_penalty;
</select>


<!-- 벌점 등록 -->
<insert id="boardPenalty" parameterType="Penalty">
	INSERT INTO tb_penalty
	(penalty_code
	, penalty_standard_code
	, penalty_score
	, rep_code
	, report_time
	, penalty_check_date
	, penalty_id
	, member_id)
	VALUES (
	#{penaltyCode}
	, #{penaltyStandard}
	, #{penaltyScore}
	, #{reportCode}
	, #{reportRegTime}
	, NOW()
	, #{penaltyId}
	, #{memberId}
	);
</insert>


<!-- 게시판 벌점 자동증가 코드 -->
<select id="getNewPenaltyCode" resultType="String">
	SELECT
		CASE
		WHEN COUNT(1) = 0 THEN 'pen_001'
		ELSE
			CONCAT('pen_', LPAD(MAX(CAST(SUBSTRING(penalty_code,5,6)AS DECIMAL)+1),3,0))
		END AS penaltyCode
	FROM
	tb_penalty;
</select>



<!-- 게시판 작성 아이디 가져오기 -->
<select id="getboardNum" parameterType="String" resultType="Board">
	SELECT
		member_id
	FROM
		tb_board_management 
	WHERE
		board_num = #{baordNum};
</select>


<!-- 게시판 삭제 처리 -->
<delete id="reportDelete" parameterType="String">
	DELETE
	FROM
		tb_report
	WHERE 
		rep_code = #{reportCode};
</delete>



<!-- 게시판 확정 처리 -->
<update id="reportBoardCon" parameterType="Report">
	UPDATE 
		tb_report
	SET
		rep_cate_code = #{reportCateCode}
		,rep_confi_time = NOW()
		,member_id = #{memberId}
		,state_code = 'state_report_com'
	WHERE
		rep_code = #{reportCode};

</update>


<!-- 게시판 신고 정보 가져오기 -->
<select id="getReportBoardCode" parameterType="String" resultMap="ReportBoardMap">
	SELECT
		 rep_code 
		,rep_cate_code
		,board_num
		,res_review_num
		,rep_contents
		,rep_time					
		,rep_confi_time	
		,report_id
		,member_id	
		,report_apply_id	
		,state_code	 
	FROM
		tb_report
	WHERE
		rep_code = #{reportCode};

</select>

<!-- 리뷰 신고 목록 -->
<select id="getReportReviewList" resultMap="ReportBoardMap">
SELECT
	 rep_code
	,rep_cate_code
	,res_review_num
	,rep_contents
	,rep_time
	,report_id
	,member_id
	,rep_confi_time
	,state_code
FROM
	tb_report 
WHERE
	board_num IS NULL;
</select>

<!-- 게시판 신고 목록 -->
<select id="getReportBoardList" resultMap="ReportBoardMap">
	SELECT
	 rep_code
	,rep_cate_code
	,board_num
	,rep_contents
	,rep_time
	,report_id
	,member_id
	,rep_confi_time
	,state_code
FROM
	tb_report 
WHERE
	res_review_num IS NULL;
</select>



</mapper>