<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="amdn.anywhere.mapper.ReportMapper">
	<resultMap type="Report" id="ReportBoardMap">
		<result property="reportCode"		column="rep_code"></result>
		<result property="reportCateCode"		column="rep_cate_code"></result>
		<result property="boardNum"		column="board_num"></result>
		<result property="reviewNum"		column="res_review_num"></result>
		<result property="reportContents"		column="rep_contents"></result>
		<result property="reportRegTime"		column="rep_time"></result>
		<result property="reportConfirmTime"		column="rep_confi_time"></result>
		<result property="userId"		column="user_id"></result>
		<result property="memberId"		column="member_id"></result>
		<result property="stateCode"		column="state_code"></result>
	</resultMap>



<!-- 게시판 확정 처리 -->
<update id="reportBoardCon" parameterType="Report">
	UPDATE 
		tb_report
	SET
		rep_cate_code = #{reportCateCode}
		,rep_confi_time = NOW()
		,member_id = #{memberId}
		,state_code = 'state_report_com'
	WHERE
		rep_code = #{reportCode};

</update>


<!-- 게시판 신고 정보 가져오기 -->
<select id="getReportBoardCode" parameterType="String" resultMap="ReportBoardMap">
	SELECT
		 rep_code 
		,rep_cate_code
		,board_num
		,res_review_num
		,rep_contents
		,rep_time					
		,rep_confi_time	
		,user_id
		,member_id	
		,state_code	 
	FROM
		tb_report
	WHERE
		rep_code = #{reportCode};

</select>

<!-- 게시판 신고 목록 -->
<select id="getReportBoardList" resultMap="ReportBoardMap">
	SELECT 
		  rep_code		
		, rep_cate_code 
		, board_num		
		, rep_contents	
		, rep_time		
		, rep_confi_time 
		, user_id		
		, member_id		
		, state_code	
	FROM 
		tb_report
</select>



</mapper>