<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="amdn.anywhere.mapper.StoreMapper">

	<resultMap type="Store" id="storeResultMap">
		<result property="storeCode"		column="store_code"/>
		<result property="storeName"		column="store_name"/>
		<result property="bizCode"			column="biz_code"/>
		<result property="bizId"			column="biz_id"/>
		<result property="storeLocation"	column="store_location"/>
		<result property="storeTime"		column="store_time"/>
		<result property="storePhone"		column="store_phone"/>
		<result property="mainCateCode"		column="main_cate_code"/>
		<result property="mainCateCode2"	column="main_cate_code2"/>
		<result property="storeHoliday"		column="store_holiday"/>
		<result property="storeTasteAgree"	column="store_taste_agree"/>
		<result property="storeExposAgree"	column="store_expos_agree"/>
		<result property="storeTableNum"	column="store_table_num"/>
		<result property="storeOccupancy"	column="store_occupancy"/>
		<result property="bizName"	column="member_name"/>
		<association property="foodMainCate" javaType="FoodMainCate">
			<id property="mainCateCode"			column="main_cate_code"/>
			<result property="mainCateName"		column="main_cate_name"/>
			<result property="mainCateName2"	column="main_cate_name2"/>
		</association>
	</resultMap>
	
	<resultMap type="Menu" id="menuResultMap">
		<result property="menuCode"				column="menu_code"/>
		<result property="bizId"				column="biz_id"/>
		<result property="storeCode"			column="store_code"/>
		<result property="mainCateCode"			column="main_cate_code"/>
		<result property="menuCateCode"			column="menu_cate_code"/>
		<result property="menuName"				column="menu_name"/>
		<result property="menuPrice"			column="menu_price"/>
		<result property="menuDetail"			column="menu_detail"/>
		<result property="menuRegTime"			column="menu_reg_time"/>
		<result property="menuUsing"			column="menu_using"/>
			<association property="foodMainCate" javaType="FoodMainCate">
				<id property="mainCateCode"			column="main_cate_code"/>
				<result property="mainCateName"		column="main_cate_name"/>
			</association>
			<association property="menuCate" 	javaType="MenuCate">
				<id property="menuCateCode"			column="menu_cate_code"/>
				<result property="menuCateName"		column="menu_cate_name"/>
			</association>
			<association property="store" 		javaType="Store">
				<id property="storeCode"			column="store_code"/>
				<result property="storeName"		column="store_name"/>
				<result property="bizCode"			column="biz_code"/>
				<result property="bizId"			column="biz_id"/>
				<result property="storeLocation"	column="store_location"/>
				<result property="storeTime"		column="store_time"/>
				<result property="storePhone"		column="store_phone"/>
				<result property="mainCateCode"		column="main_cate_code"/>
				<result property="mainCateCode2"	column="main_cate_code2"/>
				<result property="storeHoliday"		column="store_holiday"/>
				<result property="storeTasteAgree"	column="store_taste_agree"/>
				<result property="storeExposAgree"	column="store_expos_agree"/>
				<result property="storeTableNum"	column="store_table_num"/>
				<result property="storeOccupancy"	column="store_occupancy"/>
			</association>
	</resultMap>
	
	<resultMap type="FoodMainCate" id="foodMainCateMap">
		<result property="mainCateCode"				column="main_cate_Code"/>
		<result property="mainCateName"				column="main_cate_name"/>
	</resultMap>
	
	<resultMap type="Table" id="tableMap">
		<result property="storeTableCode"			column="store_table_code"/>
		<result property="storeCode"				column="store_code"/>
		<result property="bizId"					column="biz_id"/>
		<result property="tableNum"					column="table_num"/>
		<result property="tableStateCode"			column="table_state_code"/>
			<association property="store" 		javaType="Store">
			<id property="storeCode"			column="store_code"/>
			<result property="storeName"		column="store_name"/>
			<result property="bizCode"			column="biz_code"/>
			<result property="bizId"			column="biz_id"/>
			<result property="storeLocation"	column="store_location"/>
			<result property="storeTime"		column="store_time"/>
			<result property="storePhone"		column="store_phone"/>
			<result property="mainCateCode"		column="main_cate_code"/>
			<result property="mainCateCode2"	column="main_cate_code2"/>
			<result property="storeHoliday"		column="store_holiday"/>
			<result property="storeTasteAgree"	column="store_taste_agree"/>
			<result property="storeExposAgree"	column="store_expos_agree"/>
			<result property="storeTableNum"	column="store_table_num"/>
			<result property="storeOccupancy"	column="store_occupancy"/>
			</association>
	</resultMap>
	
	<resultMap type="Statement" id="statementResultMap">
		<result property="stateCode"			column="state_code"/>
		<result property="mainState"			column="main_state"/>
		<result property="stateName"			column="state_name"/>
	</resultMap>
	
	<resultMap type="StoreCancel" id="storeCancelResultMap">
		<result property="storeCancelCode"			column="store_cancel_code"/>
		<result property="bizId"					column="biz_id"/>
		<result property="storeCode"				column="store_code"/>
		<result property="storeCancelAsk"			column="store_cancel_ask"/>
		<result property="cancelTime"				column="cancel_time"/>
		<result property="cancelComTime"			column="cancel_com_time"/>
		<result property="cancelConfirmId"			column="cancel_confirm_id"/>
		<result property="stateCode"				column="state_code"/>
			<association property="statement" 		javaType="Statement">
			<id property="stateCode"			column="state_code"/>
			<result property="mainState"		column="main_state"/>
			<result property="stateName"		column="state_name"/>
			</association>
			<association property="store" 		javaType="Store">
			<id property="storeCode"			column="store_code"/>
			<result property="storeName"		column="store_name"/>
			<result property="bizCode"			column="biz_code"/>
			<result property="bizId"			column="biz_id"/>
			<result property="storeLocation"	column="store_location"/>
			<result property="storeTime"		column="store_time"/>
			<result property="storePhone"		column="store_phone"/>
			<result property="mainCateCode"		column="main_cate_code"/>
			<result property="mainCateCode2"	column="main_cate_code2"/>
			<result property="storeHoliday"		column="store_holiday"/>
			<result property="storeTasteAgree"	column="store_taste_agree"/>
			<result property="storeExposAgree"	column="store_expos_agree"/>
			<result property="storeTableNum"	column="store_table_num"/>
			<result property="storeOccupancy"	column="store_occupancy"/>
			</association>
	</resultMap>
	
	<!-- 특정 키워드로 매장코드, 매장 검색하는 select -->
	<select id="searchStore" resultMap="storeResultMap" parameterType="String">
		SELECT
			s.store_code
			,s.store_name
			,s.biz_id
			,m.member_name
		FROM
			tb_store_info AS s
			INNER JOIN
			tb_member AS m
			ON s.biz_id = m.member_id
		WHERE s.store_code LIKE CONCAT('%',#{searchKey},'%') OR s.store_name LIKE CONCAT('%',#{searchKey},'%')
	</select>
	
	
	
	<!-- 입점취소 승인버튼시  delete -->
	<delete id="deleteStore" parameterType="String">
		DELETE 
		FROM 
			tb_store_info
		WHERE 
			store_code=#{storeCode};
	</delete>
	
	
	
	<!-- 입점취소 승인버튼시 update -->
	<update id="modifyStoreCancel" parameterType="map">
		UPDATE tb_store_cancel
			SET
				<if test="state == '승인' ">
					cancel_confirm_id= #{cancelConfirmId}
					,state_code = 'state_store_cancle_com'
					,cancel_com_time = CURTIME()
				</if>
				<if test="state == '거절'">
					cancel_confirm_id= #{cancelConfirmId}
					,state_code = 'state_store_cancle_rej'
					,cancel_com_time = CURTIME()
				</if>
			WHERE 
				store_cancel_code = #{storeCancelCode};
	</update>
	
	
	
	<!-- 입점취소신청 리스트 조회 -->
	<select id="getStoreCancelList" resultMap="storeCancelResultMap" parameterType="map">
		SELECT
			c.store_cancel_code
			,c.biz_id
			,c.store_code
			,c.store_name
			,c.store_cancel_ask
			,c.cancel_time
			,c.cancel_com_time
			,c.cancel_confirm_id
			,c.state_code
			,s.state_name
		FROM
			tb_store_cancel AS c
			INNER join
			tb_statement AS s
			ON
			c.state_code = s.state_code
		<where>
			<if test="dateBefore != null and dateAfter != null">
					date(c.cancel_time) BETWEEN #{dateBefore} and #{dateAfter}
			</if>
		</where>
	</select>
	
	
	<!-- 나의입점취소현황 조회 (매장코드 비교) - ajax -->
	<select id="getMyCancelList" parameterType="String" resultMap="storeCancelResultMap">
		SELECT
			store_cancel_code
			,biz_id
			,store_code
			,store_name
			,store_cancel_ask
			,cancel_time
			,cancel_com_time
			,cancel_confirm_id
			,state_code
		FROM
			tb_store_cancel
		WHERE
			store_code = #{storeCode}
	</select>
	
	
	<!-- 나의입점취소현황 조회 (세션아이디 비교) -->
	<select id="getmyCancelStoreList" resultMap="storeCancelResultMap">
		SELECT
			c.store_cancel_code
			,c.biz_id
			,c.store_code
			,c.store_name
			,c.store_cancel_ask
			,c.cancel_time
			,c.cancel_com_time
			,c.cancel_confirm_id
			,c.state_code
			,s.state_name
		FROM
			tb_store_cancel AS c
			INNER JOIN
			tb_statement AS s
			ON
			c.state_code = s.state_code
		WHERE
			c.biz_id = #{bizId}
	</select>
	

	
	<!-- 취소요청 상태코드 가져오기 -->
	<select id="getCancelStatement" resultMap="statementResultMap">
		SELECT 
			state_code
			,main_state
			,state_name
		FROM 
			tb_statement
		WHERE
			main_state = '입점취소'
			and
			state_name = '취소요청';
	</select>
	
	
	<!-- 취소신청 전송 -->
	<insert id="cancelStore" parameterType="StoreCancel">
		INSERT INTO tb_store_cancel
			(store_cancel_code
			,biz_id
			,store_code
			,store_name
			,store_cancel_ask
			,cancel_time
			,cancel_com_time
			,cancel_confirm_id
			,state_code
			)
		VALUES (
			 #{storeCancelCode}
			, #{bizId}
			, #{storeCode}
			, #{storeName}
			, #{storeCancelAsk}
			, CURTIME()
			, NULL
			, NULL
			, #{stateCode}
		);
	
	</insert>
	
	
	
	<!-- 취소코드 자동증가 -->
	<select id="getNewCancelCode" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'st_con001'
			ELSE
			CONCAT('st_can', LPAD(MAX(CAST(SUBSTRING(store_cancel_code,7,3)AS DECIMAL)+1),3,0))
			END AS storeCancelCode
		FROM
			tb_store_cancel;
	</select>
	
	
	<!-- 입점등록 후 웨이팅테이블 insert -->
	<insert id="addWaitingTable" parameterType="Waiting">
		INSERT INTO tb_store_waiting
			(
			store_wait
			,store_code
			,biz_id
			,sto_use_tab
			,sto_emp_tab
			,wait_num
		)
		VALUES (
			#{storeWait}
			,#{storeCode}
			,#{bizId}
			,0
			,0
			,0
		);
	</insert>
	
	
	<!-- 웨이팅코드 자동증가 -->
	<select id="getNewWaitingCode" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'wa_001'
			ELSE
			CONCAT('wa_', LPAD(MAX(CAST(SUBSTRING(store_wait,4,3)AS DECIMAL)+1),3,0))
			END AS storeWait
		FROM
			tb_store_waiting;
	</select>

	
	
	<!-- 입점등록처리 -->
	<insert id="addMyStore" parameterType="Store">
		INSERT INTO tb_store_info
			(
			store_code
			,store_name
			,biz_code
			,biz_id
			,store_location
			,store_time
			,store_phone
			,main_cate_code
			,main_cate_code2
			,store_holiday
			,store_taste_agree
			,store_expos_agree
			,store_table_num
			,store_occupancy
			)
		VALUES (
			 #{storeCode}
			, #{storeName}
			, #{bizCode}
			, #{bizId}
			, #{storeLocation}
			, #{storeTime}
			, #{storePhone}
			, #{mainCateCode}
			, #{mainCateCode2}
			, #{storeHoliday}
			, #{storeTasteAgree}
			, #{storeExposAgree}
			, #{storeTableNum}
			, #{storeOccupancy}
		);
	</insert>
	
	
	<!-- 매장 자동증가 코드 -->
	<select id="getNewStoreCode" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 's_001'
			ELSE
			CONCAT('s_', LPAD(MAX(CAST(SUBSTRING(store_code,3,3)AS DECIMAL)+1),3,0))
			END AS storeCode
		FROM
			tb_store_info;
	</select>
	
	
	
	<!-- 소상공인 코드 조회 -->
	<select id="getBizCode" parameterType="String" resultType="MemberBiz"> 
		SELECT
			biz_code AS bizCode
			,member_id AS memberId
			,biz_status AS bizStatus
		FROM
			tb_member_biz
		WHERE	
			member_id = #{bizId};
	</select>
	
	<!-- 나의매장 테이블코드 자동증가 -->
	<select id="getNewStoreTableCode" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'tb_001'
			ELSE
			CONCAT('tb_', LPAD(MAX(CAST(SUBSTRING(store_table_code,4,3)AS DECIMAL)+1),3,0))
			END AS storeTableCode
		FROM
			tb_store_table;
	</select>
	
	
	<!-- 나의매장 테이블번호 자동증가 -->
	<select id="getNewTableNum" resultType="int" parameterType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN '1'
			ELSE
			CONCAT('', LPAD(MAX(CAST(SUBSTRING(table_num,1,3)AS DECIMAL)+1),3,0))
			END AS tableNum
		FROM
			tb_store_table
		WHERE
			store_code = #{storeCode};
	</select>
	
	
	<!-- 나의매장 테이블등록 처리 -->
	<insert id="addMyTable" parameterType="Table">
		INSERT INTO tb_store_table
			(store_table_code
			,store_code
			,biz_id
			,table_num
			,table_state_code
			)
			VALUES(
			#{storeTableCode}
			,#{storeCode}
			,#{bizId}
			,#{tableNum}
			,'state_table_com'
			);
	</insert>
	
	
	
	<!-- 나의매장 테이블 삭제 처리 -->
	<delete id="deleteMyTable" parameterType="String">
		DELETE
		FROM
			tb_store_table
		WHERE
			store_table_code = #{storeTableCode};
	</delete>
	
	
	<!-- 나의매장 테이블 리스트 조회 -->
	<select id="getMyTableList" resultMap="tableMap">
		SELECT
			t.store_table_code
			,t.store_code
			,i.store_name
			,t.biz_id
			,t.table_num
		FROM
			tb_store_table AS t
			INNER join
			tb_store_info AS i
			ON
			t.store_code = i.store_code
		WHERE
			t.biz_id = #{bizId};
	</select>
	
	
	<!-- 메뉴삭제처리 -->
	<delete id="deleteMyMenu" parameterType="String">
		DELETE
		FROM
			tb_store_menu
		WHERE
			menu_code = #{menuCode};
	</delete>
	
	
	<!-- 메뉴수정처리 -->
	<update id="modifyMyMenu" parameterType="Menu">
		UPDATE
			tb_store_menu
		SET
			main_cate_code = #{mainCateCode}
			,menu_cate_code = #{menuCateCode}
			,menu_name = #{menuName}
			,menu_price = #{menuPrice}
			,menu_detail = #{menuDetail}
			,menu_using = #{menuUsing}
		WHERE
			menu_code = #{menuCode};
	</update>

	
	<!-- 메뉴수정 화면 -->
	<select id="getMyMenuInfoByMenuCode" parameterType="String" resultType="Menu">
		SELECT
			menu_code AS menuCode
			,biz_id AS bizId
			,main_cate_code AS mainCateCode
			,menu_cate_code AS menuCateCode
			,menu_name AS menuName
			,menu_price AS menuPrice
			,menu_detail AS menuDetail
			,menu_using AS menuUsing
		FROM
			tb_store_menu
		WHERE
			menu_code = #{menuCode};
	</select>




	<!-- 메뉴코드 자동증가 -->
	<select id="getNewMenuCode" resultType="String">
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN 'm_001'
			ELSE
			CONCAT('m_', LPAD(MAX(CAST(SUBSTRING(menu_code,3,3)AS DECIMAL)+1),3,0))
			END AS menuCode
		FROM
			tb_store_menu;
	</select>
	
	
	<!-- 메뉴 등록 처리 -->
	<insert id="addMyMenu" parameterType="Menu">
	INSERT INTO tb_store_menu
		(menu_code
		,biz_id
		,store_code
		,main_cate_code
		,menu_cate_code
		,menu_name
		,menu_price
		,menu_detail
		,menu_reg_time
		,menu_using
		)
		VALUES (
		 #{menuCode}
		, #{bizId}
		, #{storeCode}
		, #{mainCateCode}
		, #{menuCateCode}
		, #{menuName}
		, #{menuPrice}
		, #{menuDetail}
		, CURTIME()
		, #{menuUsing}
		);
	</insert>
	
	
	<!-- 대분류명 수정처리 -->
	<update id="modifyMainCate" parameterType="Store" >
		UPDATE 
			tb_store_info
		<set>
			<if test="mainCateCode2 != '' ">
				main_cate_code = #{mainCateCode}
				,main_cate_code2 = #{mainCateCode2}
			</if>
			<if test="mainCateCode2 == '' ">
				main_cate_code = #{mainCateCode}
				,main_cate_code2 = NULL
			</if>
		</set>
		WHERE
			store_code = #{storeCode};
	</update>
	
	
	
	<!-- 메뉴 대분류 조회 -->
	<select id="getMainCate" resultMap="foodMainCateMap">
		SELECT
			main_cate_code
			,main_cate_name
		FROM
	  		tb_food_main_cate;
	</select>


	
	<!-- 나의 매장정보 수정처리 -->
	<update id="modifyMyStore" parameterType="Store" >
		UPDATE 
			tb_store_info
		SET
			store_name = #{storeName}
			,store_phone = #{storePhone}
			,store_location = #{storeLocation}
			,store_time = #{storeTime}
			,store_holiday = #{storeHoliday}
			,store_taste_Agree = #{storeTasteAgree}
			,store_expos_Agree = #{storeExposAgree}
		WHERE
			store_code = #{storeCode};
	</update>
	
	
	<!-- 매장정보조회 매장코드조건비교-->
	<select id="getStoreInfoByCode" parameterType="String" resultMap="storeResultMap">
		SELECT
			biz_code
			,biz_id
			,main_cate_code
			,store_code
			,store_holiday
			,store_location
			,store_name
			,store_occupancy
			,store_phone
			,store_table_num
			,store_taste_agree
			,store_expos_agree
			,store_time
		FROM
	  		tb_store_info
	  	WHERE
			store_code = #{storeCode};
	</select>
	
	
	
	
	<!-- 모든매장 테이블리스트 조회 -->
	<select id="getTableList" resultMap="tableMap">
		SELECT
			t.store_table_code
			,t.store_code
			,i.store_name
			,t.biz_id
			,t.table_num
		FROM
			tb_store_table AS t
			INNER join
			tb_store_info AS i
			ON
			t.store_code = i.store_code
	</select>


	<!-- 모든 매장메뉴 리스트 조회 -->
	<select id="getMenuList" resultMap="menuResultMap">
		SELECT 
			s.menu_code
			,s.biz_id
			,s.store_code
			,i.store_name
			,s.main_cate_code
			,s.menu_cate_code
			,s.menu_name
			,s.menu_price
			,s.menu_detail
			,s.menu_reg_time
			,s.menu_using
			,f.main_cate_name
			,c.menu_cate_name
		FROM 
			tb_store_menu AS s
			INNER join
			tb_food_main_cate AS f
			ON
			s.main_cate_code = f.main_cate_code
			INNER join
			tb_store_menu_cate AS c
			ON
			s.menu_cate_code = c.menu_cate_code
			INNER join
			tb_store_info AS i
			ON
			s.store_code = i.store_code;
	</select>
	
	<!-- 나의 매장메뉴 리스트 조회 -->
	<select id="getMyMenuList" resultMap="menuResultMap">
		SELECT 
			s.menu_code
			,s.biz_id
			,s.store_code
			,i.store_name
			,s.main_cate_code
			,s.menu_cate_code
			,s.menu_name
			,s.menu_price
			,s.menu_detail
			,s.menu_reg_time
			,s.menu_using
			,f.main_cate_name
			,c.menu_cate_name
		FROM 
			tb_store_menu AS s
			INNER join
			tb_food_main_cate AS f
			ON
			s.main_cate_code = f.main_cate_code
			INNER join
			tb_store_menu_cate AS c
			ON
			s.menu_cate_code = c.menu_cate_code
			INNER join
			tb_store_info AS i
			ON
			s.store_code = i.store_code
		WHERE
			s.biz_id = #{bizId};
	</select>
	
	
	
	
	<!-- 나의 매장정보 선택하여 조회   AJAX -->
	<select id="getStoreRead" parameterType="String" resultMap="storeResultMap">
		SELECT
			biz_code
			,biz_id
			,main_cate_code
			,main_cate_code2
			,store_code
			,store_holiday
			,store_location
			,store_name
			,store_occupancy
			,store_phone
			,store_table_num
			,store_taste_agree
			,store_expos_agree
			,store_time
		FROM 
			tb_store_info
		WHERE
			store_code = #{storeCode};
	</select>
	
	
	<!-- -->
	<!-- -->
	<!-- -->
	<!-- 매장코드 비교하여 상점정보 OR 대분류카테고리 2개 각각 가져오기 -->
	<select id="getMyMainCateOnly2" resultMap="storeResultMap">
		SELECT
			f.main_cate_name
			,f.main_cate_code
		FROM
			tb_store_info AS s
			INNER join
			tb_food_main_cate AS f
			ON
			s.main_cate_code2 = f.main_cate_code
		WHERE
			store_code = #{storeCode};
	</select>

	<select id="getMyMainCateOnly" resultMap="storeResultMap">
		SELECT
			s.biz_code
			,s.biz_id
			,s.main_cate_code
			,s.main_cate_code2
			,s.store_code
			,s.store_holiday
			,s.store_location
			,s.store_name
			,s.store_occupancy
			,s.store_phone
			,s.store_table_num
			,s.store_taste_agree
			,s.store_expos_agree
			,s.store_time
			,f.main_cate_name
		FROM
			tb_store_info AS s
			INNER join
			tb_food_main_cate AS f
			ON
			s.main_cate_code = f.main_cate_code
		WHERE
			store_code = #{storeCode};
	</select>
	<!-- -->
	<!-- -->
	<!-- -->
	
	
	<!-- -->
	<!-- -->
	<!-- -->
	<!-- 세션ID비교하여 상점정보 OR 대분류카테고리 2개 각각 가져오기  지워야함!!!-->
	<select id="getMyStoreList2" resultMap="storeResultMap">
		SELECT
			f.main_cate_name
			,f.main_cate_code
		FROM
			tb_store_info AS s
			INNER join
			tb_food_main_cate AS f
			ON
			s.main_cate_code2 = f.main_cate_code
		WHERE
			biz_id = #{bizId};
	</select>



	<select id="getMyStoreList" resultMap="storeResultMap">
		SELECT
			s.biz_code
			,s.biz_id
			,s.main_cate_code
			,s.main_cate_code2
			,s.store_code
			,s.store_holiday
			,s.store_location
			,s.store_name
			,s.store_occupancy
			,s.store_phone
			,s.store_table_num
			,s.store_taste_agree
			,s.store_expos_agree
			,s.store_time
			,f.main_cate_name
		FROM
			tb_store_info AS s
			INNER join
			tb_food_main_cate AS f
			ON
			s.main_cate_code = f.main_cate_code
		WHERE
			biz_id = #{bizId};
	</select>
	<!-- -->
	<!-- -->
	<!-- -->
	
	

	<!-- 세션아이디 조건, 나의 매장 정보 리스트 조회-->
	<select id="getMyStoreInfo" resultMap="storeResultMap">
		SELECT
			biz_code
			,biz_id
			,main_cate_code
			,store_code
			,store_holiday
			,store_location
			,store_name
			,store_occupancy
			,store_phone
			,store_table_num
			,store_taste_agree
			,store_expos_agree
			,store_time
		FROM
			tb_store_info
		WHERE
			biz_id = #{bizId};	
	</select>
	
	

	<!-- 전체매장 리스트 조회 (조건x)-->
	<select id="getStoreList" resultMap="storeResultMap">
		SELECT
			s.biz_code
			,s.biz_id
			,s.main_cate_code
			,s.store_code
			,s.store_holiday
			,s.store_location
			,s.store_name
			,s.store_occupancy
			,s.store_phone
			,s.store_table_num
			,s.store_taste_agree
			,s.store_expos_agree
			,s.store_time
			,m.member_name
		FROM
			tb_store_info AS s
			INNER JOIN
			tb_member AS m
			ON s.biz_id = m.member_id
	</select>


</mapper>
