<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amdn.anywhere.mapper.TasterMapper">

	<select id="getStoreList" parameterType="String" resultType="Store">
		SELECT
			 store_code AS storeCode
			,store_name AS storeName
		FROM
			tb_store_info 
		WHERE 
			biz_id = #{bizId};
	</select>

</mapper>