<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
	<!-- css -->
<style type= "text/css">
	tbody tr td{
		color: #505050;
	}
	.btn-primary{
		display : block;
		float : right;
		color: #fff;
	}
</style>
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<div class="row">
		<div class="col-lg-9"></div>
		<div class="col-lg-3">
			<button type="button" class="btn btn-primary btn-flat m-b-10">새로운 공통 알림 등록</button>
		</div>
	</div>
	<div class="card">
		<table class="table table-hover ">
			<thead>
				<tr>
					<th>공통 알림 코드</th>
					<th>공통 알림 대분류</th>
					<th>공통 알림 아이콘</th>
					<th>공통 알림 소분류</th>
					<th>공통 알림 상세내용</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="l : ${messageCommonList}">
					<td th:text="${l.messageCode}"></td>
					<td th:text="${l.messageCate1}"></td>
					<td th:text="${l.messageIcon}"></td>
					<td th:text="${l.messgeCate2}"></td>
					<td th:text="${l.messageDetail}"></td>
				</tr>
			</tbody>
		</table>						
	</div>
</th:block>					
					
<!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
</th:block>
</body>
</html>