<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">



<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
	
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
<!-- 알림설정부분 -->
<div class="row justify-content-center">
		<div class="col-lg-6 ">
			<div class="card">
	            <div class="card-header">
	                <strong class="card-title">알림 설정</strong>
	            </div>
	            <div class="card-body">
	           		<form th:action="@{/message/messageCheck}" method="get">
						<input type="hidden" id="memberId" name="memberId" th:value="${session.SID}">
						<table class="table table-hover ">
							<tbody>
			                    <tr>
			                        <td>주문</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="orderResevation">
									</td>
			                    </tr>
			                    <tr>
			                        <td>결제</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messagePay">
									</td>
			                    </tr>
			                    <tr>
			                        <td>대기</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageWaiting">
									</td>
			                    </tr>
			                    <tr>
			                        <td>게시판</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageBoard">
									</td>
			                    </tr>
			                    <tr>
			                        <td>리뷰</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageReview">
									</td>
			                    </tr>
			                    <tr>
			                        <td>포인트</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messagePoint">
									</td>
			                    </tr>
			                    <tr>
			                        <td>평가단</td>
			                        <td>
			                       		<input type="checkbox" name="mcheck" value="messageEvaluator" >
									</td>
			                    </tr>
			                    <tr>
			                        <td>회원등급</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageMemberShip">
									</td>
			                    </tr>
			                    <tr>
			                        <td>이벤트</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageEvent">
									</td>
			                    </tr>
			                    <tr>
			                        <td>추천/즐겨찾기</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageFavorite">
									</td>
			                    </tr>
			                    <tr>
			                        <td>sms 수신 여부</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageSms">
									</td>
			                    </tr>
			                    <tr>
			                        <td>이메일 수신 여부</td>
			                        <td>
			                        	<input type="checkbox" name="mcheck" value="messageEmail">
									</td>
			                    </tr>
		               		</tbody>
		            	</table>
		            
		            	<!-- a th:href="@{/message/messageList}" class="btn btn-dark btn-flat m-b-10 m-l-5">닫기</a> -->
		            	<a href="javacript:void(0)" class="btn btn-dark btn-flat m-b-10 m-l-5">닫기</a>
		            </form>
	        	</div>
			</div>
		</div>
</div>
</th:block>      
        
<!--Custom JavaScript -->
<th:block layout:fragment="customJsLib">
	<script type="text/javascript">
	
		$(function(){
			//페이지 로딩 시 db에서 값 가져와서 체크박스에 체크하기
			var memberId = $("#memberId").val();
			console.log(memberId)
			
			var request =  $.ajax({
				  url: "/mscList", //요청 주소
				  method: "GET", //요청 방식
				  data: { memberId : memberId },
				  dataType: "json" //받아올 포맷방식
			});	
			request.done(function(data){
				
				console.log(data);
				var ordReserv = data.orderReservation;
				var pay = data.messagePay;
				var waiting = data.messageWaiting;
				var board = data.messageBoard;
				var review = data.messageReview;
				var point = data.messagePoint;
				var evaluator = data.messageEvaluator;
				var membership = data.messageMemberShip;
				var favorite = data.messageFavorite;
				var event = data.messageEvent;
				var sms = data.messageSms;
				var email = data.messageEmail;
			
				
				console.log(ordReserv,'ordReserv');

				var mCheckArr = [];
				mCheckArr.push(ordReserv, pay, waiting, board, review, point, evaluator, membership, favorite, event, sms, email);
	
				console.log(mCheckArr[1],'mCheckArr[1]');
				console.log(mCheckArr,'mCheckArr');

 				//mCheck 배열 체크			
 				for(var i=0; i < mCheckArr.length; i++){
 					valArr = [];
 				}
				$('input:checkbox[name=mcheck]').each(function(index, item) {			
					valArr.push(this.value);
					if(mCheckArr[index] == "y"){
						console.log(valArr[index],'체크된 값!!1')
						$(this).attr('checked','checked');
						//this.checked = true;
					}
				});
 				
			});
			//응답 실패
			request.fail(function(request,status,error){
		        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		    });
			

			//체크 한 값 배열에 담아서 수정하기
			$('.btn').on('click', function(){
				var memberId = $("#memberId").val();
				var ckArr = [];
				 $('input:checkbox[name=mcheck]').each(function() {
				      if(this.checked){//checked 처리된 항목의 값
				           ckArr.push(this.value); 
				      }
				 });
		
				console.log(ckArr,"체크한것들");
				console.log(memberId,"세션아이디");
		
				var allData = {"memberId":memberId, "ckArr":ckArr}
				
				var request = $.ajax({
				  url: "/msCheck", //요청 주소
				  method: "GET", //요청 방식
				  data: allData, //전달 할 파라미터
				  dataType: "html" //받아 올 포맷방식
				});
				//응답이 완료 되었을 경우 실행
				request.done(function( data ) {
				  console.log(data,"data");
				  if(data) location.href="/message/messageList";
				});
				request.fail(function(request,status,error){
			        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			       });
			});
		});

	</script>
</th:block>
</body>
</html>