<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- th:replace="fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수이름) -->
<head th:replace="fragments/head :: headFragment"></head>

<style type= "text/css">
	input[type="checkbox"] {
	  position: absolute;
	  visibility: hidden;
	}
	
	label {
	  display: block;
	  position: absolute;
	  width: 60px;
	  height: 30px;
	  border-radius: 17px;
	  background-color: #ddd;
	  transition-duration: 0.2s;
	}
	
	label span {
	  position: absolute;
	  left: 3px;
	  top: 3px;
	  z-index: 1;
	  width: 28px;
	  height: 25px;
	  border-radius: 50%;
	  background-color: #fff;
	  transition-duration: 0.2s;
	}
	
	label:before,
	label:after{
	  position: absolute;
	  top: 0;
	  width: 34px;
	  font-size: 11px;
	  line-height: 34px;
	  color: #fff;
	  text-align: center;
	}
	
	label:before {
	  left: 0;
	  content: 'ON';
	}
	
	label:after {
	  right: 0;
	  content: 'OFF';
	}
	
	input[type="checkbox"]:checked + label {
	  background-color: #5c4ac7;
	  
	}
	
	input[type="checkbox"]:checked + label span {
	  /* left: 29px; */
	  transform: translateX(26px);
	}
	tbody tr td{
		color: #505050;
	}


</style>

<body class="fix-header fix-sidebar mini-sidebar">
	
	<div id="main-wrapper">
		<!-- begin header -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- end header -->
		
		<!-- begin leftsidebar -->
		<div th:replace="fragments/leftsidebar :: leftsidebarFragment"></div>
		<!-- end leftsidebar -->
		
		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary" th:text="${location}">알림</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" th:text="${location}">알림</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
          
            <!-- Container fluid  -->
            <div class="container-fluid">
            	<!-- Start Page Content -->
				<th:block layout:fragment="customContents">
					<!-- 알림설정부분 -->
					<div class="row justify-content-center">
							<div class="col-lg-6 ">
								<div class="card">
						            <div class="card-header">
						                <strong class="card-title">알림 설정</strong>
						            </div>
						            <div class="card-body">
										<table class="table table-hover ">
											<tbody>
							                    <tr>
							                        <td>주문</td>
							                        <td>
							                        	<input type="checkbox" id="order_reservation" checked>
														<label for="order_reservation"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>결제</td>
							                        <td>
							                        	<input type="checkbox" id="pay" checked>
														<label for="pay"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>대기</td>
							                        <td>
							                        	<input type="checkbox" id="waiting" checked>
														<label for="waiting"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>게시판</td>
							                        <td>
							                        	<input type="checkbox" id="board" checked>
														<label for="board"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>리뷰</td>
							                        <td>
							                        	<input type="checkbox" id="review" checked>
														<label for="review"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>포인트</td>
							                        <td>
							                        	<input type="checkbox" id="point" checked>
														<label for="point"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>평가단</td>
							                        <td>
							                        	<input type="checkbox" id="evaluator" checked>
														<label for="evaluator"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>회원등급</td>
							                        <td>
							                        	<input type="checkbox" id="membership" checked>
														<label for="membership"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>이벤트</td>
							                        <td>
							                        	<input type="checkbox" id="event" checked>
														<label for="event"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>추천/즐겨찾기</td>
							                        <td>
							                        	<input type="checkbox" id="favorite" checked>
														<label for="favorite"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>sms 수신 여부</td>
							                        <td>
							                        	<input type="checkbox" id="sms" checked>
														<label for="sms"><span></span></label>
													</td>
							                    </tr>
							                    <tr>
							                        <td>이메일 수신 여부</td>
							                        <td>
							                        	<input type="checkbox" id="email" checked>
														<label for="email"><span></span></label>
													</td>
							                    </tr>
						               		</tbody>
						            	</table>
						            	<a th:href="@{/messageList}" class="btn btn-dark btn-flat m-b-10 m-l-5">닫기</a>
						        	</div>
						
								</div>
							</div>
					</div>
				</th:block>
        
				<!-- End PAge Content -->
			</div>
		
			<!-- footer -->
			<footer th:replace="fragments/footer :: footerFragment"></footer>
			<!-- End footer -->
		</div>	
		<!-- End Container fluid  -->
	</div>
	<!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/custom.min.js"></script>
    <!--Custom JavaScript -->
    <th:block layout:fragment="customJsLib"></th:block>
</body>
</html>