<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- th:replace="fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수이름) -->
<head th:replace="fragments/head :: headFragment"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<!-- css -->
<style type= "text/css">
	.btn{
		
		margin-bottom: -20px;
		color: #505050;
	}
	.btn-primary{
		padding-top : 6px;
		color: #fff;
	}
	.top{
		padding : 0;
	}
	ul a{
		display:block;
	}
</style>
<body class="fix-header fix-sidebar mini-sidebar">
<!-- All Jquery -->
    <script th:src="@{js/lib/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{js/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{js/lib/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{js/jquery.slimscroll.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{js/scripts.js}"></script>
    <script th:src="@{js/custom.min.js}"></script>
    
	<div id="main-wrapper">
		<!-- begin header -->
		<div th:replace="fragments/header :: headerFragment"></div>
		<!-- end header -->
		
		<!-- begin leftsidebar -->
		<div th:replace="fragments/leftsidebar :: leftsidebarFragment"></div>
		<!-- end leftsidebar -->
		
		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary" th:text="${location}">알림</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" th:text="${location}">알림</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
            	<!-- Start Page Content -->
				<th:block layout:fragment="customContents">
					<!-- 상단 버튼부분 -->
					<div class="row">
						<div class="col-lg-9"></div>
						<div class="col-lg-3 top">
							<div class="topBtn">
								<button type="button" class="btn btn-default btn-flat m-b-10" id="all" onclick="readDelete()">읽은 알림 삭제</button>
								<button type="button" class="btn btn-default btn-flat m-b-10" id="order_pay" onclick="allDelete()">전체 삭제</button>
								<!-- 버튼에 링크 -->
								<a th:href="@{/messageCheck}" class="btn btn-primary btn-flat m-b-10"><i class="ti-settings"></i></a>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- 왼쪽부분 -->
						<div class="col-lg-2">
							<div class="card sidebar">
								<ul class="list-group list-group-flush">
								    <li class="list-group-item"><a href="#">전체</a></li>
								    <li class="list-group-item"><a href="#">주문/결제</a></li>
								    <li class="list-group-item"><a href="#">대기</a></li>
								    <li class="list-group-item"><a href="#">게시판/리뷰</a></li>
								    <li class="list-group-item"><a href="#">포인트</a></li>
								    <li class="list-group-item"><a href="#">평가단</a></li>
								    <li class="list-group-item"><a href="#">등급</a></li>
								    <li class="list-group-item"><a href="#">이벤트</a></li>
								    <li class="list-group-item"><a href="#">추천/즐겨찾기</a></li>
								</ul> 
							</div>
							
						</div>
						<!-- 알림리스트 -->
						<div class="col-lg-10 ">
							<div class="card">
					            <div class="card-header">
					                <strong class="card-title">전체 알림</strong>
					            </div>
					            <div class="card-body">
									<table class="table table-hover ">
										<tbody>
						                    <tr th:each="l : ${messageList}">
												<td th:text="${l.messageCode}"></td>
												<td th:text="${l.messageNoticeTime}"></td>
						                    </tr> 
					               		</tbody>
					            	</table>
					        	</div>
					
							</div>
						</div>
					</div>
				</th:block>
				<!-- End PAge Content -->
			</div>
			<!-- footer -->
			<footer th:replace="fragments/footer :: footerFragment"></footer>
			<!-- End footer -->
		</div>	
		<!-- End Container fluid  -->
	</div>
    <!--Custom JavaScript -->
    <th:block layout:fragment="customJsLib">
    	
		
		<script type="text/javascript">
		//삭제버튼
		function readDelete(){
			confirm('읽은 메세지가 모두 삭제됩니다. 삭제하시겠습니까?');
			}
		function allDelete(){
			confirm('메세지 전체가 삭제됩니다. 삭제하시겠습니까?');	
		}
		
		
		//사이드바
		var floatPosition = parseInt($(".sidebar").css('top'))

		// scroll 인식
		$(window).scroll(function() {
		  
		    // 현재 스크롤 위치
		    var currentTop = $(window).scrollTop();
		    var bannerTop = currentTop + floatPosition + "px";

		    //이동 애니메이션
		    $(".sidebar").stop().animate({
		      "top" : bannerTop
		    }, 500);

		}).scroll();  


		</script>
    </th:block>
</body>
</html>