<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	
<!-- css -->
<style type= "text/css">
	tbody tr td{
		color: #505050;
	}
	.btn-primary{
		display : block;
		float : right;
		color: #fff;
	}
</style>
</th:block>


<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
					<div class="row">
						<div class="col-lg-8"></div>
						<div class="col-lg-4">
							
						</div>
					</div>
					<div class="card">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>소비자 알림 선택 코드</th>
									<th>소비자 아이디</th>
									<th>주문/예약</th>
									<th>결제</th>
									<th>대기</th>
									<th>게시판</th>
									<th>리뷰</th>
									<th>포인트</th>
									<th>평가단</th>
									<th>회원등급</th>
									<th>추천/즐겨찾기</th>
									<th>이벤트</th>
									<th>sms</th>
									<th>email</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
									<input type="text" id="memberId" name="memberId" th:value="${session.SID}">							
									</td>
								</tr>
								<tr th:each="l : ${msgCheckList}">
									<td th:text="${l.messageCheckCode}"></td>
									<td th:text="${l.memberId}"></td>
									<td th:text="${l.orderReservation}"></td>
									<td th:text="${l.messagePay}"></td>
									<td th:text="${l.messageWaiting}"></td>
									<td th:text="${l.messageBoard}"></td>
									<td th:text="${l.messageReview}"></td>
									<td th:text="${l.messagePoint}"></td>
									<td th:text="${l.messageEvaluator}"></td>
									<td th:text="${l.messageMemberShip}"></td>
									<td th:text="${l.messageFavorite}"></td>
									<td th:text="${l.messageEvent}"></td>
									<td th:text="${l.messageSms}"></td>
									<td th:text="${l.messageEmail}"></td>
									<!-- <td>
										<a th:href="@{/message/messageCheck(memberId=${l.memberId})}">수정</a>
									</td> -->
								</tr>
								
							</tbody>
						</table>						
					</div>
					
					
</th:block>


    <th:block layout:fragment="customJsLib"></th:block>
</body>
</html>